.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 999px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}
input[readonly] {
  background-color: white !important;
  cursor: text !important;
}

table .btn{
  padding: 1px 5px 1px;
  border-style: none;
  margin-right: -3px;
}

.hl {background: transparent; }
.hlhover { background:#00aaaa; }

.k4-progress-table td {
  text-align: center;
}
.k4-progress-table th {
  text-align: center;
}

.glyphicon-refresh-animate {
    -animation: k4-spin 700ms infinite linear;
    -webkit-animation: k4-spin2 700ms infinite linear;
    -moz-animation: k4-spin3 .7s infinite linear;
}

@-webkit-keyframes k4-spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes k4-spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

@-moz-keyframes k4-spin3 {
  from { -moz-transform: scale(1) rotate(0deg);}
  to { -moz-transform: scale(1) rotate(360deg);}
}

.k4-sequent-index {
    font-size: x-small;
    padding-right: 10px;
}

.k4-busy-container {
    text-align:center;
}

.k4-busy-overlay {
	display: inline-block;
	position:relative;
    z-index:1002;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 6px;
	padding-bottom: 6px;
	text-shadow:0 1px 1px rgba(255, 255, 255, 0.75);
	border:1px solid #dddddd;
	border-top-width:0;
	-webkit-border-radius:7px;
	-moz-border-radius:7px;
	border-radius:7px;
	border-top-left-radius:0;
	border-top-right-radius:0;
	-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	box-shadow:inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}

.k4-tiny {
    font-size: x-small;
}

.k4-overflow-box {
    overflow: auto;
}