<!-- Despite the name: axioms and tactics -->
<div class="row">
    <div class="col-md-12">
        <a class="pull-right" ng-click="tacticPopover.close()"><span class="fa fa-close"></span>
        </a>
    </div>
</div>
<div class="row">
    <!-- padding around content -->
    <div class="col-md-12">
        <uib-accordion close-others="false">
            <uib-accordion-group ng-repeat="tactic in formulaAxiomsMap[formulaId]" is-open="tactic.isOpen">
                <uib-accordion-heading>
                    <a ng-if="tactic.derivation.type === 'axiom'" ng-click="applyTactic(formulaId, tactic.id)">{{tactic.name}}</a>
                    <a ng-if="tactic.derivation.type === 'tactic'" ng-click="applyTactic(formulaId, tactic.id)">{{tactic.name}}</a>
                    <a ng-if="tactic.derivation.type === 'sequentrule' && tactic.derivation.input.length === 0"
                       ng-click="applyTactic(formulaId, tactic.id)">{{tactic.name}}</a>
                    <a ng-if="tactic.derivation.type === 'sequentrule' && tactic.derivation.input.length > 0"
                       ng-click="applyInputTactic(formulaId, tactic)">{{tactic.name}}</a>
                    <span class="pull-right fa fa-bars"></span>
                </uib-accordion-heading>
                <div ng-if="tactic.derivation.type === 'axiom'">{{tactic.derivation.formula}}</div>
                <div ng-if="tactic.derivation.type === 'tactic'">{{tactic.derivation.formula}}</div>
                <div class="col-md-12" ng-if="tactic.derivation.type === 'sequentrule'" ng-include="'js/keymaera-ui/sequentRuleTemplate.html'"></div>
            </uib-accordion-group>
        </uib-accordion>
    </div>
</div>
<div ng-if="formulaAxiomsMap[formulaId] === undefined || formulaAxiomsMap[formulaId] === null || formulaAxiomsMap[formulaId].length == 0">
    <span class="fa fa-exclamation-triangle"> Sorry, no tactics applicable here. Try working on formulas from outside in.</span>
</div>
