<div class="sequentRulePremise">
    <div class="sequentRulePremisePart k4-nobreak" ng-repeat="premise in tactic.deduction.premise">
        <span ng-repeat="ante in premise.ante">
            <span ng-repeat="antePart in ante">
                <span ng-bind-html="antePart.text" ng-if="!antePart.isInput"></span>
                <input type="text" name="antePart.text"
                       ng-model="antePart.value" ng-model-options="{getterSetter: true}"
                       ng-if="antePart.isInput" required></input>
            </span>
            {{$last ? '' : ','}}
        </span>
        &#8866;
        <span ng-repeat="succ in premise.succ">
            <span ng-repeat="succPart in succ">
                <span ng-bind-html="succPart.text" ng-if="!succPart.isInput"></span>
                <input type="text" name="succPart.text"
                       ng-model="succPart.value" ng-model-options="{getterSetter: true}"
                       ng-if="succPart.isInput" required></input>
            </span>
            {{$last ? '' : ','}}
        </span>
    </div>
</div>
<div class="sequentRuleConclusion">
    <div class="k4-nobreak">
        <span ng-repeat="ante in tactic.deduction.conclusion.ante"><span ng-bind-html="ante"></span>{{$last ? '' : ','}}</span>
        &#8866;
        <span ng-repeat="succ in tactic.deduction.conclusion.succ"><span ng-bind-html="succ"></span>{{$last ? '' : ','}}</span>
    </div>
</div>
