<uib-tabset active="active">
    <uib-tab index="0" select="synthesize('dL','ignore')">
        <uib-tab-heading>Controller Program
            <div class="btn-group btn-group-toggle" data-toggle="buttons" ng-if="active==0">
                <label class="btn btn-default btn-xs" ng-class="{'active':language=='dL'}"
                       ng-click="synthesize('dL','ignore');$event.stopPropagation()">
                    <input type="radio" name="options" autocomplete="off" checked> dL
                </label>
                <label class="btn btn-default btn-xs" ng-class="{'active':language=='C'}"
                       ng-click="synthesize('C','ignore');$event.stopPropagation()">
                    <input type="radio" name="options" autocomplete="off"> C
                </label>
            </div>
            <i class="fa fa-download" ng-if="active==0" ng-click="download()"></i>
        </uib-tab-heading>
        <div class="row k4-screenheight">
            <div class="col-md-12 k4-vertical-fill">
                <div ui-ace="{theme:'github',mode:editorMode,showGutter:true,
                      advanced: {
                        wrap: -1,
                        indentedSoftWrap: true
                      }}"
                     ng-model="mxdata.generatedArtifact.code" id="dleditor"></div>
            </div>
        </div>
    </uib-tab>
</uib-tabset>
