<uib-tabset active="active">
    <uib-tab index="0" select="synthesize('dL', 'boolean')">
        <uib-tab-heading>Monitor Formula
            <div class="btn-group btn-group-toggle" data-toggle="buttons" ng-if="active==0">
                <label class="btn btn-default btn-xs" ng-class="{'active':language=='dL'}"
                       ng-click="synthesize('dL','boolean');$event.stopPropagation()">
                    <input type="radio" name="options" autocomplete="off" checked> dL
                </label>
                <label class="btn btn-default btn-xs" ng-class="{'active':language=='C'}"
                       ng-click="synthesize('C','boolean');$event.stopPropagation()">
                    <input type="radio" name="options" autocomplete="off"> C
                </label>
                <label class="btn btn-default btn-xs" ng-class="{'active':language=='Python'}"
                       ng-click="synthesize('Python','boolean');$event.stopPropagation()">
                    <input type="radio" name="options" autocomplete="off"> Python
                </label>
                <label class="btn btn-default btn-xs" ng-class="{'active':language=='dLProof'}"
                       uib-tooltip="ModelPlex Proof Certificate"
                       ng-click="showProofArchive();$event.stopPropagation()">
                    <input type="radio" name="options" autocomplete="off"> <i class="fa fa-check-circle"></i>
                </label>
            </div>
            <i class="fa fa-download" ng-if="active==0" ng-click="download()"></i>
        </uib-tab-heading>
        <div class="row k4-screenheight">
            <div class="col-md-12 k4-vertical-fill">
                <div ui-ace="{theme:'github',mode:editorMode,showGutter:true,
                      advanced: {
                        wrap: -1,
                        indentedSoftWrap: true
                      }}"
                     ng-model="mxdata.generatedArtifact.code" id="dleditor"></div>
            </div>
        </div>
    </uib-tab>
    <uib-tab index="1" select="synthesize('dL', 'metricfml')">
        <uib-tab-heading>Margin Monitor Formula
            <div class="btn-group btn-group-toggle" data-toggle="buttons" ng-if="active==1">
                <label class="btn btn-default btn-xs" ng-class="{'active':language=='dL'}"
                       ng-click="synthesize('dL','metricfml');$event.stopPropagation()">
                    <input type="radio" name="options" autocomplete="off" checked> dL
                </label>
                <label class="btn btn-default btn-xs" ng-class="{'active':language=='C'}"
                       ng-click="synthesize('C','metricfml');$event.stopPropagation()">
                    <input type="radio" name="options" autocomplete="off"> C
                </label>
                <label class="btn btn-default btn-xs" ng-class="{'active':language=='Python'}"
                       ng-click="synthesize('Python','metricfml');$event.stopPropagation()">
                    <input type="radio" name="options" autocomplete="off"> Python
                </label>
                <label class="btn btn-default btn-xs" ng-class="{'active':language=='dLProof'}"
                       uib-tooltip="ModelPlex Proof Certificate"
                       ng-click="showProofArchive();$event.stopPropagation()">
                    <input type="radio" name="options" autocomplete="off"> <i class="fa fa-check-circle"></i>
                </label>
            </div>
            <i class="fa fa-download" ng-if="active==1" ng-click="download()"></i>
        </uib-tab-heading>
        <div class="row k4-screenheight">
            <div class="col-md-12 k4-vertical-fill">
                <div ui-ace="{theme:'github',mode:editorMode,showGutter:true,
                      advanced: {
                        wrap: -1,
                        indentedSoftWrap: true
                      }}"
                     ng-model="mxdata.generatedArtifact.code"></div>
            </div>
        </div>
    </uib-tab>
    <uib-tab index="2" select="synthesize('dL', 'metricprg')">
        <uib-tab-heading>Margin Monitor Program
            <div class="btn-group btn-group-toggle" data-toggle="buttons" ng-if="active==2">
                <label class="btn btn-default btn-xs" ng-class="{'active':language=='dL'}"
                       ng-click="synthesize('dL','metricprg');$event.stopPropagation()">
                    <input type="radio" name="options" autocomplete="off" checked> dL
                </label>
                <label class="btn btn-default btn-xs" ng-class="{'active':language=='C'}"
                       ng-click="synthesize('C','metricprg');$event.stopPropagation()">
                    <input type="radio" name="options" autocomplete="off"> C
                </label>
                <label class="btn btn-default btn-xs" ng-class="{'active':language=='Python'}"
                       ng-click="synthesize('Python','metricprg');$event.stopPropagation()">
                    <input type="radio" name="options" autocomplete="off"> Python
                </label>
                <label class="btn btn-default btn-xs" ng-class="{'active':language=='dLProof'}"
                       uib-tooltip="ModelPlex Proof Certificate"
                       ng-click="showProofArchive();$event.stopPropagation()">
                    <input type="radio" name="options" autocomplete="off"> <i class="fa fa-check-circle"></i>
                </label>
            </div>
            <i class="fa fa-download" ng-if="active==2" ng-click="download()"></i>
        </uib-tab-heading>
        <div class="row k4-screenheight">
            <div class="col-md-12 k4-vertical-fill">
                <div ui-ace="{theme:'github',mode:editorMode,showGutter:true,
                      advanced: {
                        wrap: -1,
                        indentedSoftWrap: true
                      }}"
                     ng-model="mxdata.generatedArtifact.code"></div>
            </div>
        </div>
    </uib-tab>
</uib-tabset>
