*.class
*.log

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.idea/.name
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/libraries/scala_compiler.xml
.idea/libraries/scala_library.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/workspace.xml
4KeYmaera.iml
out/production/
lemmadb/

#eclipse IDE specific
.cache
.classpath
.project
.settings/
.worksheet/


.idea/libraries/SBT__org_scalaz_scalaz_effect_2_10_7_0_2.xml

.idea/modules/keymaera4.iml

.idea/libraries/SBT___scala_compiler_bundle_2_10_4.xml

.idea/libraries/SBT__com_chuusai_shapeless_2_10_1_2_4.xml

.idea/libraries/SBT__com_github_nscala_time_nscala_time_2_10_1_0_0.xml

.idea/libraries/SBT__com_typesafe_akka_akka_actor_2_10_2_1_4.xml

.idea/libraries/SBT__com_typesafe_akka_akka_testkit_2_10_2_1_4.xml

.idea/libraries/SBT__com_typesafe_config_1_0_0.xml

.idea/libraries/SBT__io_spray_spray_can_1_1_1.xml

.idea/libraries/SBT__io_spray_spray_http_1_1_1.xml

.idea/libraries/SBT__io_spray_spray_httpx_1_1_1.xml

.idea/libraries/SBT__io_spray_spray_io_1_1_1.xml

.idea/libraries/SBT__io_spray_spray_json_2_10_1_2_6.xml

.idea/libraries/SBT__io_spray_spray_routing_1_1_1.xml

.idea/libraries/SBT__io_spray_spray_testkit_1_1_1.xml

.idea/libraries/SBT__io_spray_spray_util_1_1_1.xml

.idea/libraries/SBT__org_joda_joda_convert_1_2.xml

.idea/libraries/SBT__org_jvnet_mimepull_mimepull_1_9_4.xml

.idea/libraries/SBT__joda_time_joda_time_2_3.xml

.idea/libraries/SBT__org_mongodb_casbah_commons_2_10_2_7_2.xml

.idea/libraries/SBT__org_mongodb_casbah_core_2_10_2_7_2.xml

*.xml
