# sbt
target/

# IntelliJ IDEA
/.idea/*
!/.idea/copyright/
!/.idea/copyright/*

# macOS
.DS_Store

# Files required for building that should not be committed
/local.properties
/keymaerax-webui/src/main/resources/keymaerax-projects/
