<a class="dropdown-toggle" ng-class="{'disabled': agenda.items().length <= 0 }" data-toggle="dropdown" role="button"
   aria-haspopup="true" aria-expanded="false" disabledtooltip="First-order Logic">Quantifier <span class="caret"></span></a>
<ul class="dropdown-menu">
    <k4-tactic-menu-entry
            disabled="agenda.items().length <= 0"
            proof-id="{{proofId}}" user-id="{{userId}}"
            name="&forall;R" code-name="allR"
            exec="openTacticPosInputDialog(codeName, 'R')" option-exec="doSearch(codeName, 'R')"></k4-tactic-menu-entry>
    <k4-tactic-menu-entry
            disabled="agenda.items().length <= 0"
            proof-id="{{proofId}}" user-id="{{userId}}"
            name="&forall;L ..." code-name="allL" exec="openTacticPosInputDialog(codeName, 'L')"></k4-tactic-menu-entry>
    <k4-tactic-menu-entry
            disabled="agenda.items().length <= 0"
            proof-id="{{proofId}}" user-id="{{userId}}"
            name="&forall;Lk ..." code-name="allLkeep" exec="openTacticPosInputDialog(codeName, 'L')"></k4-tactic-menu-entry>
    <k4-tactic-menu-entry
            disabled="agenda.items().length <= 0"
            proof-id="{{proofId}}" user-id="{{userId}}"
            name="&exist;R ..." code-name="existsR" exec="openTacticPosInputDialog(codeName, 'R')"></k4-tactic-menu-entry>
    <k4-tactic-menu-entry
            disabled="agenda.items().length <= 0"
            proof-id="{{proofId}}" user-id="{{userId}}"
            name="&exist;L" code-name="existsL"
            exec="openTacticPosInputDialog(codeName, 'L')" option-exec="doSearch(codeName, 'R')"></k4-tactic-menu-entry>
    <li role="separator" class="divider"></li>
    <k4-tactic-menu-entry
            disabled="agenda.items().length <= 0"
            proof-id="{{proofId}}" user-id="{{userId}}"
            name="&forall;Ri" code-name="allRi"
            exec="openTacticPosInputDialog(codeName, 'R')" option-exec="doSearch(codeName, 'R')"></k4-tactic-menu-entry>
    <k4-tactic-menu-entry
            disabled="agenda.items().length <= 0"
            proof-id="{{proofId}}" user-id="{{userId}}"
            name="∃Li" code-name="existsLi"
            exec="openTacticPosInputDialog(codeName, 'L')" option-exec="doSearch(codeName, 'R')"></k4-tactic-menu-entry>
    <li role="separator" class="divider"></li>
    <k4-tactic-menu-entry
            disabled="agenda.items().length <= 0"
            proof-id="{{proofId}}" user-id="{{userId}}"
            name="M&forall;L ..." code-name="allLmon" exec="openTacticPosInputDialog(codeName, 'L')"></k4-tactic-menu-entry>
    <k4-tactic-menu-entry
            disabled="agenda.items().length <= 0"
            proof-id="{{proofId}}" user-id="{{userId}}"
            name="M&exist;R ..." code-name="existsRmon" exec="openTacticPosInputDialog(codeName, 'R')"></k4-tactic-menu-entry>
    <!--<li role="separator" class="divider"></li>-->
    <!--<li><a ng-click="openTacticPosInputDialog('min', 'R')"><span>min</span><code class="pull-right">min</code></a></li>-->
    <!--<li><a ng-click="openTacticPosInputDialog('max', 'R')"><span>max</span><code class="pull-right">max</code></a></li>-->
    <!--<li><a ng-click="openTacticPosInputDialog('abs', 'R')"><span>abs</span><code class="pull-right">abs</code></a></li>-->
    <!-- TODO -->
    <!--<li role="separator" class="divider"></li>-->
    <!--<li><a ng-click="openTacticPosInputDialog('*0', 'L')"><span>&times;0</span><code class="pull-right">*0</code></a></li>-->
</ul>
