<li class="nav-item dropdown" ng-class="{'disabled': agenda.items().length <= 0 }" ng-include="'templates/menu/defs.html'"></li>
<li class="nav-item dropdown" ng-class="{'disabled': agenda.items().length <= 0 }" ng-include="'templates/menu/propositional.html'"></li>
<li class="nav-item dropdown" ng-class="{'disabled': agenda.items().length <= 0 }" ng-include="'templates/menu/quantifier.html'"></li>
<li class="nav-item dropdown" ng-class="{'disabled': agenda.items().length <= 0 }" ng-include="'templates/menu/hybridprograms.html'"></li>
<li class="nav-item dropdown" ng-class="{'disabled': agenda.items().length <= 0 }" ng-include="'templates/menu/differentialequation.html'"></li>
<li class="nav-item dropdown" ng-class="{'disabled': agenda.items().length <= 0 }" ng-include="'templates/menu/tools.html'"></li>
<li class="nav-item dropdown" ng-class="{'disabled': agenda.items().length <= 0 }" ng-include="'templates/menu/refinement.html'"></li>