<div ng-if="!readOnly && sequentSuggestions.length > 0" class="row k4-sequent-hint">
    <div class="pull-right">
        Hint:
        <span ng-repeat="tactic in sequentSuggestions">
            <abbr title="{{tactic.selectedDerivation().id}}"
                  uib-popover-template="'templates/sequentSuggestionPopoverTemplate.html'"
                  popover-append-to-body="true"
                  popover-trigger="'outsideClick'"
                  popover-class="k4-axiomtactic-popover"
                  popover-placement="auto bottom-right">{{tactic.selectedDerivation().id}}</abbr>&nbsp;|&nbsp;
        </span>
    </div>
</div>

<div class="row">

    <!-- Antecedent -->
    <div class="col-sm-3 k4-sequent-antecedent">
        <div ng-class="{'row': true, 'k4-flexrow': true, 'k4-abbreviate': abbreviate}" ng-repeat="f in sequent.ante" id="{{f.id}}"
             uib-popover-template="'templates/axiomPopoverTemplate.html'"
             popover-class="k4-axiomtactic-popover"
             popover-trigger="'outsideClick'"
             popover-append-to-body="true"
             popover-placement="auto bottom-left">
            <div class="col-sm-12 k4-formula" ng-if="!readOnly && !collapsed">
                <ul>
                    <li><a ng-click="onTactic(f.id,'hideL')"
                           uib-tooltip="Hide permanently" tooltip-placement="left" tooltip-popup-delay="500">
                        <span class="fa fa-trash-o"></span></a>
                    </li>
                    <li ng-if="f.formula.name === 'equals'">
                        <a ng-click="onTactic(f.id,'allL2R')"
                           uib-tooltip="Replace all occurrences of left-hand side with right-hand side"
                           tooltip-placement="top" tooltip-popup-delay="500">
                        <span class="fa fa-exchange"></span></a>
                    </li>
                    <li><a ng-click="onTactic(f.id, 'simplify')"
                           uib-tooltip="Simplify formula" tooltip-placement="top" tooltip-popup-delay="500">
                        <span class="fa fa-compress"></span></a>
                    </li>
                    <li><a ngclipboard data-clipboard-text="{{f.formula.json.plain}}"
                           uib-tooltip="Copy to clipboard" tooltip-placement="top" tooltip-popup-delay="500">
                        <span class="fa fa-copy"></span></a>
                    </li>
                </ul>
                <div class="k4-formula-content">
                    <ul><li><span class="k4-nobreak"><i class="fa" ng-class="{'fa-eye':f.use,'fa-eye-slash':!f.use}" ng-click="f.use=!f.use"></i>&nbsp;{{f.id}}:</span></li></ul>
                    <k4-formula class="k4-formula-container"
                                ng-class="{'text-muted':!f.use,'k4-formula-hidden':!f.use}"
                            k4-draggable drag-data="{{f.formula.id}}" on-drag-start="onDragStart(event)"
                            user-id="{{userId}}" proof-id="{{proofId}}" node-id="{{nodeId}}"
                            formula="f.formula" highlight="!collapsed" collapsed="collapsed"
                            on-expr-right-click="onExprRightClick(formulaId)"
                            on-tactic="onTactic(formulaId, tacticId)"
                            on-input-tactic="onInputTactic(formulaId, tacticId, input)"
                            on-two-position-tactic="onTwoPositionTactic(fml1Id, fml2Id, tacticId)"></k4-formula>
                </div>
            </div>
            <div class="col-sm-12 k4-formula nohover" ng-if="(collapsed && $first) || (readOnly && !collapsed)">
                <div class="k4-formula-content" ng-class="{'k4-formula-collapsed': collapsed}">
                    <k4-formula class="k4-formula-container" user-id="{{userId}}" proof-id="{{proofId}}" node-id="{{nodeId}}"
                                formula="f.formula" highlight="false" collapsed="collapsed"></k4-formula>
                </div>
            </div>
        </div>
        <!-- Collapse button -->
        <ul>
            <li>
                <span ng-class="{'k4-sequent-caret-inline': readOnly, 'k4-sequent-caret-left': !readOnly}"
                      ng-click="collapsed = !collapsed" ng-show="readOnly || sequent.ante.length > 1 || sequent.succ.length > 1">
                    <small><i ng-class="{'fa fa-angle-right': collapsed, 'fa fa-angle-down': !collapsed}"></i></small>
                </span>
            </li>
        </ul>
    </div>

    <!-- Turnstile -->
    <div class="col-sm-1" ng-if="sequent.ante.length > 0 || sequent.succ.length > 0 || !inClosedProof">
        <div class="row k4-flexrow">
            <div class="col-sm-12 k4-formula" ng-if="!readOnly && !collapsed">
                <ul>
                    <li><a ng-click="onTactic(undefined, 'QE')"
                           uib-tooltip="Quantifier elimination arithmetic" tooltip-placement="left" tooltip-popup-delay="500">
                        <span class="fa fa-calculator"></span></a>
                    </li>
                    <li><a ng-click="onTactic(undefined, 'id')"
                           uib-tooltip="Close by Identity" tooltip-placement="left" tooltip-popup-delay="500">
                        <span class="fa fa-asterisk"></span></a>
                    </li>
                    <li><a ng-click="openTacticPosInputDialog('cut')"
                           uib-tooltip="Cut in lemma to show" tooltip-placement="left" tooltip-popup-delay="500">
                        <span class="fa fa-scissors"></span></a>
                    </li>
                    <li><a ng-click="toggleAllFmls()"
                           uib-tooltip="Hide/Unhide All" tooltip-placement="left" tooltip-popup-delay="500">
                        <i class="fa" ng-class="{'fa-eye':areAllFmlsUsed(),'fa-eye-slash':!areAllFmlsUsed()}"></i>
                        </a>
                    </li>
                </ul>
                <!-- Drag&drop tooltip (should open only on drag over) -->
                <!-- uib-tooltip="Rewrite all occurrences of the equality left-hand side into the right-hand side everywhere in the sequent"
                     tooltip-placement="bottom"
                     tooltip-trigger="none" tooltip-is-open="isTurnstileTooltipOpen()" -->
                <div class="k4-formula-content"
                     k4-droppable on-drop="turnstileDrop(dragData)" on-drag-enter="turnstileDragEnter(dragData)"
                     on-drag-leave="turnstileDragLeave(dragData)">&#8866;</div>
            </div>
            <div class="col-sm-12 k4-formula nohover" ng-if="readOnly || collapsed">
                <div class="k4-formula-content">&#8866;</div>
            </div>
        </div>
    </div>
    <!-- Asterisk -->
    <div class="col-sm-1" ng-if="sequent.ante.length === 0 && sequent.succ.length === 0 && inClosedProof">
        <div class="row k4-flexrow pull-right">
            <div class="col-sm-12 k4-formula nohover">
                <div class="k4-formula-content"><i class="fa fa-asterisk"></i></div>
            </div>
        </div>
    </div>

    <!-- Succedent -->
    <div class="col-sm-8">
        <div ng-class="{'row': true, 'k4-flexrow': true, 'k4-abbreviate': abbreviate}" ng-repeat="f in sequent.succ" id="{{f.id}}"
             uib-popover-template="'templates/axiomPopoverTemplate.html'"
             popover-class="k4-axiomtactic-popover"
             popover-trigger="'outsideClick'"
             popover-append-to-body="true"
             popover-placement="auto bottom-right">
            <div class="col-sm-12 k4-formula" ng-if="!readOnly && !collapsed">
                <ul>
                    <li><a ng-click="onTactic(f.id,'hideR')"
                           uib-tooltip="Hide permanently" tooltip-placement="left" tooltip-popup-delay="500">
                        <span class="fa fa-trash-o"></span></a>
                    </li>
                    <li><a ng-click="onTactic(f.id, 'simplify')"
                           uib-tooltip="Simplify formula" tooltip-placement="top" tooltip-popup-delay="500">
                        <span class="fa fa-compress"></span></a>
                    </li>
                    <li><a ngclipboard data-clipboard-text="{{f.formula.json.plain}}"
                           uib-tooltip="Copy to clipboard" tooltip-placement="top" tooltip-popup-delay="500">
                        <span class="fa fa-copy"></span></a>
                    </li>
                </ul>
                <div class="k4-formula-content">
                    <ul><li><span class="k4-nobreak"><i class="fa" ng-class="{'fa-eye':f.use,'fa-eye-slash':!f.use}" ng-click="f.use=!f.use"></i>&nbsp;{{f.id}}:</span></li></ul>
                    <k4-formula class="k4-formula-container"
                                ng-class="{'text-muted':!f.use,'k4-formula-hidden':!f.use}"
                                user-id="{{userId}}" proof-id="{{proofId}}" node-id="{{nodeId}}" goal-id="{{goalId}}"
                                formula="f.formula" highlight="!collapsed" collapsed="collapsed"
                                on-expr-right-click="onExprRightClick(formulaId)"
                                on-tactic="onTactic(formulaId, tacticId)"
                                on-input-tactic="onInputTactic(formulaId, tacticId, input)"
                                on-two-position-tactic="onTwoPositionTactic(fml1Id, fml2Id, tacticId)"></k4-formula>
                </div>
            </div>
            <div class="col-sm-12 k4-formula nohover" ng-if="(collapsed && $first) || (readOnly && !collapsed)">
                <div class="k4-formula-content" ng-class="{'k4-formula-collapsed': collapsed}">
                    <k4-formula class="k4-formula-container"
                                user-id="{{userId}}" proof-id="{{proofId}}" node-id="{{nodeId}}" goal-id="{{goalId}}"
                                formula="f.formula" highlight="false" collapsed="collapsed"></k4-formula>
                </div>

            </div>
        </div>
        <div class="row k4-flexrow" ng-if="sequent.ante.length > 0 && sequent.succ.length === 0">
            <div class="col-sm-12 k4-formula nohover">
                <div class="k4-formula-content">false</div>
            </div>
        </div>
    </div>

</div>
