<div class="row" ng-show="collapsed">

    <!-- Expand button -->
    <div class="col-md-1">
        <a ng-click="collapsed = !collapsed"><span class="fa fa-caret-right"></span></a>
    </div>

    <!-- Collapsed antecedent, also readonly -->
    <div class="col-md-5">
        <div class="pull-right" ng-if="sequent.ante.length > 0">
        <div class="row k4-flexrow">
            <div class="col-md-12 k4-formula k4-flexcell">
                <div class="k4-formula-content k4-abbreviate">
                    <k4-formula formula="sequent.ante[0].formula" highlight="false" collapsed="true"></k4-formula>
                </div>
            </div>
        </div>
        </div>
    </div>

    <!-- Turnstile -->
    <div class="col-md-1">
        <div class="row k4-flexrow">
            <div class="col-md-12 k4-formula k4-flexcell">
                <div class="k4-formula-content">&#8866;</div>
            </div>
        </div>
    </div>

    <!-- Collapsed succedent -->
    <div class="col-md-5">
        <div class="row k4-flexrow" ng-if="sequent.succ.length > 0">
            <div class="col-md-12 k4-formula k4-flexcell">
                <div class="k4-formula-content k4-abbreviate">
                    <k4-formula formula="sequent.succ[0].formula" highlight="false" collapsed="true"></k4-formula>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" ng-show="!collapsed">

    <!-- Collapse button -->
    <div class="col-md-1">
        <a ng-click="collapsed = !collapsed"><small><span class="fa fa-caret-down"></span></small></a>
    </div>

    <!-- Antecedent -->
    <div class="col-md-5">
        <div class="pull-right">
        <div class="row k4-flexrow" ng-repeat="f in sequent.ante" id="{{f.id}}">
            <div class="col-md-12 k4-formula k4-flexcell" ng-if="!readOnly">
                <ul>
                    <li><a href="" ng-click="applyTacticsOnFormulaByName(f.id,'keymaerax.step')"><span class="fa fa-step-forward"></span></a></li>
                    <li><a href="" ng-click="applyTacticsOnFormulaByName(f.id,'dl.hide')"><span class="fa fa-eye-slash"></span></a></li>
                </ul>
                <div class="k4-formula-content" ng-click="handleFormulaClick(f,true)">
                    <small>-{{$index+1}}: </small>
                    <k4-formula formula="f.formula" highlight="true" collapsed="false"></k4-formula>
                </div>
            </div>
            <div class="col-md-12 k4-formula k4-flexcell" ng-if="readOnly">
                <div class="k4-formula-content">
                    <k4-formula formula="f.formula" highlight="false" collapsed="false"></k4-formula>
                </div>
            </div>
        </div>
        </div>
    </div>

    <!-- Turnstile -->
    <div class="col-md-1">
        <div class="row k4-flexrow">
            <div class="col-md-12 k4-formula k4-flexcell" ng-click="handleTurnstileClick()" ng-if="!readOnly">
                <ul>
                    <li><a href="" ng-click="applyTacticsByName('keymaerax.default')"><span class="fa fa-magic"></span></a></li>
                    <li><a href="" ng-click="applyTacticsByName('keymaerax.propositional')"><span class="fa fa-forward"></span></a></li>
                    <li><a href="" ng-click="applyTacticsByName('keymaerax.arithmetic')"><span class="fa fa-calculator"></span></a></li>
                    <li><a href="" ng-click="applyTacticsByName('keymaerax.defaultNoArith')"><span class="fa fa-ban"></span></a></li>
                    <li><a href="" ng-click="getCounterExample()"><span class="fa fa-search"></span></a></li>
                    <!--<li><a href="" ng-click="applyTacticsByName(f,'keymaerax.cut')"><span class="fa fa-pencil"></span> Cut</a></li>-->
                </ul>
                <div class="k4-formula-content">&#8866;</div>
            </div>
            <div class="col-md-12 k4-formula k4-flexcell" ng-if="readOnly">
                <div class="k4-formula-content">&#8866;</div>
            </div>
        </div>
    </div>

    <!-- Succedent -->
    <div class="col-md-5">
        <div class="row k4-flexrow" ng-repeat="f in sequent.succ" id="{{f.id}}">
            <div class="col-md-12 k4-formula k4-flexcell" ng-if="!readOnly">
                <ul>
                    <li><a href="" ng-click="applyTacticsOnFormulaByName(f.id,'keymaerax.step')"><span class="fa fa-step-forward"></span></a></li>
                    <li><a href="" ng-click="applyTacticsOnFormulaByName(f.id,'dl.hide')"><span class="fa fa-eye-slash"></span></a></li>
                </ul>
                <div class="k4-formula-content" ng-click="handleFormulaClick(f,false)">
                    <small>{{$index + 1}}: </small><k4-formula pId="proofId" nId="nodeId" formula="f.formula" highlight="true" collapsed="false"></k4-formula>
                </div>
            </div>
            <div class="col-md-12 k4-formula k4-flexcell" ng-if="readOnly">
                <div class="k4-formula-content">
                    <k4-formula pId="proofId", nId="nodeId" formula="f.formula" highlight="false" collapsed="false"></k4-formula>
                </div>
            </div>
        </div>
    </div>

</div>
