<div class="row">
    <div class="col-md-4">
        <h2>Models</h2>
        <p>You have {{all_models_count}} models uploaded to KeYmaera.
            {{all_models_count - proved_models_count}} of your models are still awaiting proofs.</p>
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="{{proved_models_count}}" aria-valuemin="0"
                 aria-valuemax="{{all_models_count}}" style="width: {{proved_models_count*100.0/all_models_count}}%">
                {{proved_models_count}}/{{all_models_count}}
            </div>
        </div>
        <p><a class="btn btn-default" href="#/models" role="button">Models &raquo;</a></p>
    </div>
    <!--<div class="col-md-4">-->
        <!--<h2>Lemmas</h2>-->
        <!--<p>Here is the dashboard summary of your lemmas. 2 of your lemmas were used by others. You received 1 generalization for lemma X.</p>-->
        <!--<p><a class="btn btn-default" href="#/lemmas" onclick="alert('This feature is coming soon!')" role="button">Lemmas (coming soon!)</a></p>-->
    <!--</div>-->
    <div class="col-md-4">
        <h2>Proofs</h2>
        <p>You have {{ open_proof_count }} open proofs. <!--The prover made that much progress since last logged in.--></p>
        <p><a class="btn btn-default" href="#/proofs" role="button">Proofs &raquo;</a></p>
    </div>
    <div class="col-md-4"></div>
</div>
