<div class="modal-header" >
    <div class="row">
        <div class="col-md-12">
    <h4 class="modal-title">
        <span>Request help at <b>bug@keymaerax.org</b></span>
        <span class="pull-right">
        <a class="btn btn-danger" ng-href="mailto:bug@keymaerax.org?subject={{subjectText}}&body={{bodyText()}}">
            <i class="fa fa-envelope-o"></i>&nbsp;Request Help
        </a>
        <button class="btn btn-link" ng-click="cancel()"><span class="fa fa-close"></span></button>
    </span>
    </h4>
        </div>
    </div>
</div>
<div class="modal-body">
    <form>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Description</label>
            <div class="col-sm-10">
                <textarea class="form-control" id="userDescription" rows="3" ng-model="userDescription"
                          placeholder="Please describe what went wrong"></textarea>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label"><input type="checkbox" ng-model="omitSysConfig"> Do not want to report system configuration</label>
            <div class="col-sm-10" style="overflow:scroll">
                <p class="form-control-static"><pre>{{kyxConfig}}</pre></p>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Error message</label>
            <div class="col-sm-10" style="overflow:scroll">
                <p class="form-control-static">{{errorText}}</p>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Error trace</label>
            <div class="col-sm-10" style="overflow:scroll">
                <p class="form-control-static"><pre>{{errorTrace}}</pre></p>
            </div>
        </div>
    </form>
</div>
