<div class="modal-header row">
    <div class="col-md-11">
        <div class="input-group">
            <input type="text" ng-model="derivationInfos.filter" placeholder="Search for proof steps"
                   class="form-control" />
            <a class="input-group-addon btn btn-default" ng-if="derivationInfos.order === 'standardDerivation.name'"
               ng-click="derivationInfos.order = '-standardDerivation.name'"><i class="fa fa-sort-alpha-desc"></i></a>
            <a class="input-group-addon btn btn-default" ng-if="derivationInfos.order === '-standardDerivation.name'"
               ng-click="derivationInfos.order = 'standardDerivation.name'"><i class="fa fa-sort-alpha-asc"></i></a>
        </div>
    </div>
    <div class="col-md-1">
        <a class="pull-right" ng-click="cancel()"><span class="fa fa-close"></span>
        </a>
    </div>
</div>
<div class="modal-body">
    <div class="row" ng-if="formula">
        <span>Formula: </span><div class="col-md-12"><span ng-bind-html="formula"></span></div>
    </div>
    <div class="row" ng-if="!formula">
        <div class="col-md-12">
            <p>Select formula (hover and click to select typical formulas, press <kbd>option/alt</kbd> key and click to select any term or formula)</p>
            <k4-sequent user-id="{{userId}}" proof-id="{{proofId}}" node-id="nodeId"
                        sequent="sequent"
                        read-only="false" collapsed="false"
                        on-apply-tactic="formulaSelected(formulaId, tacticId)"></k4-sequent>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p>Select proof step</p>
            <div ng-repeat="tactic in derivationInfos.infos | filter: derivationInfos.filter | orderBy: derivationInfos.order"
                 class="k4-tactic-popover-entry">
                <k4-tactic-info user-id="{{userId}}" proof-id="{{proofId}}" node-id="{{nodeId}}"
                                formula-id="{{formulaId}}"
                                tactic="tactic" axiom-readonly="false"
                                on-tactic="applyTactic(formulaId, tacticId)"
                                on-input-tactic="applyInputTactic(formulaId, tacticId, input)"></k4-tactic-info>
            </div>
        </div>
    </div>
</div>