<h3>Copyright</h3>
<pre>{{copyright}}</pre>

<h3>License</h3>
<pre>{{license}}</pre>

<h3>Third-Party Licenses</h3>
<div class="row">
    <div class="col-md-12">
    This KeYmaera X distribution contains external tools and libraries. We are grateful to their developers.<br>

    <table class="table table-condensed">
        <thead>
        <tr>
            <th>Name</th>
            <th>License</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="license in licenses">
            <td>{{license.tool}}</td>
            <td>{{license.license}}</td>
        </tr>
        </tbody>
    </table>
    </div>
</div>
