<div class="modal-header" >
    <h3 class="modal-title"><!--<i class="glyphicon glyphicon-thumbs-down"></i>-->KeYmaera X License</h3>
</div>
<div class="modal-body">
    KeYmaera X <br>
    SOFTWARE LICENSE AGREEMENT<br>
    ACADEMIC OR NON-PROFIT ORGANIZATION NONCOMMERCIAL RESEARCH USE ONLY
</div>
<div  class="modal-body" ng-if="!noModalForHelpDialogHack">

    <font color="blue">BY CLICKING THE <kbd>I Agree</kbd> BUTTON </font><font color="#D000FF">(<em>scroll to the end of this page</em>)</font> <font color="blue">OR BY USING THE SOFTWARE, YOU ARE AGREEING TO THE TERMS OF THIS LICENSE AGREEMENT.  IF YOU DO NOT AGREE WITH THESE TERMS, YOU MUST CLICK <kbd>Reject</kbd> AND YOU MAY NOT USE OR DOWNLOAD THE SOFTWARE.</font><br>
</div>
<div class="modal-body" style="overflow: scroll; height: 300px;">
    This is a license agreement ("Agreement") between your academic institution or non-profit organization or self (called "Licensee" or "You" in this Agreement) and Carnegie Mellon University (called "Licensor" in this Agreement).  All rights not specifically granted to you in this Agreement are reserved for Licensor. <br>
    <br>
    RESERVATION OF OWNERSHIP AND GRANT OF LICENSE: <br>
    Licensor retains exclusive ownership of any copy of the Software (as defined below) licensed under this Agreement and hereby grants to Licensee a personal, non-exclusive, <br>
    non-transferable license to use the Software for noncommercial research purposes, without the right to sublicense, pursuant to the terms and conditions of this Agreement.  As used in this Agreement, the term "Software" means (i) the executable file made accessible to Licensee by Licensor pursuant to this Agreement, inclusive of backups, and updates  permitted hereunder or subsequently supplied by Licensor,  including all or any file structures, programming instructions, user interfaces and screen formats and sequences as well as any and all documentation and instructions related to it.<br>
    <br>
    CONFIDENTIALITY: Licensee acknowledges that the Software is proprietary to Licensor, and as such, Licensee agrees to receive all such materials in confidence and use the Software only in accordance with the terms of this Agreement.  Licensee agrees to use reasonable effort to protect the Software from unauthorized use, reproduction, distribution, or publication.<br>
    <br>
    COPYRIGHT: The Software is owned by Licensor and is protected by United <br>
    States copyright laws and applicable international treaties and/or conventions.<br>
    <br>
    PERMITTED USES:  The Software may be used for your own noncommercial internal research purposes. You understand and agree that Licensor is not obligated to implement any suggestions and/or feedback you might provide regarding the Software, but to the extent Licensor does so, you are not entitled to any compensation related thereto.<br>
    <br>
    BACKUPS:  If Licensee is an organization, it may make that number of copies of the Software necessary for internal noncommercial use at a single site within its organization provided that all information appearing in or on the original labels, including the copyright and trademark notices are copied onto the labels of the copies.<br>
    <br>
    USES NOT PERMITTED:  You may not modify, translate, reverse engineer, decompile, disassemble, distribute, copy or use the Software except as explicitly permitted herein. Licensee has not been granted any trademark license as part of this Agreement and may not use the name or mark "KeYmaera X", "Carnegie Mellon" or any renditions thereof without the prior written permission of Licensor.<br>
    <br>
    You may not sell, rent, lease, sublicense, lend, time-share or transfer, in whole or in part, or provide third parties access to prior or present versions (or any parts thereof) of the Software.<br>
    <br>
    ASSIGNMENT: You may not assign this Agreement or your rights hereunder without the prior written consent of Licensor. Any attempted assignment without such consent shall be null and void.<br>
    <br>
    TERM: The term of the license granted by this Agreement is from Licensee's acceptance of this Agreement by clicking "I Agree" below or by using the Software until terminated as provided below.<br>
    <br>
    The Agreement automatically terminates without notice if you fail to comply with any provision of this Agreement.  Licensee may terminate this Agreement by ceasing using the Software.  Upon any termination of this Agreement, Licensee will delete any and all copies of the Software. You agree that all provisions which operate to protect the proprietary rights of Licensor shall remain in force should breach occur and that the obligation of confidentiality described in this Agreement is binding in perpetuity and, as such, survives the term of the Agreement.<br>
    <br>
    FEE: Provided Licensee abides completely by the terms and conditions of this Agreement, there is no fee due to Licensor for Licensee's use of the Software in accordance with this Agreement.<br>
    <br>
    DISCLAIMER OF WARRANTIES:  THE SOFTWARE IS PROVIDED "AS-IS" WITHOUT WARRANTY OF ANY KIND INCLUDING ANY WARRANTIES OF PERFORMANCE OR MERCHANTABILITY OR FITNESS FOR A PARTICULAR USE OR PURPOSE OR OF NON-INFRINGEMENT.  LICENSEE BEARS ALL RISK RELATING TO QUALITY AND PERFORMANCE OF THE SOFTWARE AND RELATED MATERIALS.<br>
    <br>
    SUPPORT AND MAINTENANCE: No Software support or training by the Licensor is provided as part of this Agreement.  <br>
    <br>
    EXCLUSIVE REMEDY AND LIMITATION OF LIABILITY: To the maximum extent permitted under applicable law, Licensor shall not be liable for direct, indirect, special, incidental, or consequential damages or lost profits related to Licensee's use of and/or inability to use the Software, even if Licensor is advised of the possibility of such damage.<br>
    <br>
    EXPORT REGULATION: Licensee agrees to comply with any and all applicable <br>
    U.S. export control laws, regulations, and/or other laws related to embargoes and sanction programs administered by the Office of Foreign Assets Control.<br>
    <br>
    SEVERABILITY: If any provision(s) of this Agreement shall be held to be invalid, illegal, or unenforceable by a court or other tribunal of competent jurisdiction, the validity, legality and enforceability of the remaining provisions shall not in any way be affected or impaired thereby.<br>
    <br>
    NO IMPLIED WAIVERS: No failure or delay by Licensor in enforcing any right or remedy under this Agreement shall be construed as a waiver of any future or other exercise of such right or remedy by Licensor.<br>
    <br>
    GOVERNING LAW: This Agreement shall be construed and enforced in accordance with the laws of the Commonwealth of Pennsylvania without reference to conflict of laws principles.  You consent to the personal jurisdiction of the courts of this County and waive their rights to venue outside of Allegheny County, Pennsylvania.<br>
    <br>
    ENTIRE AGREEMENT AND AMENDMENTS: This Agreement constitutes the sole and entire agreement between Licensee and Licensor as to the matter set forth herein and supersedes any previous agreements, understandings, and arrangements between the parties relating hereto.<br>
    <br>

</div>
<div class="modal-footer" ng-if="!noModalForHelpDialogHack">
    <button class="btn" ng-click="rejectLicense()">Reject</button>
    <button class="btn btn-primary" ng-click="cancel()">I Agree</button>
</div>

<div class="modal-header" ng-show="noModalForHelpDialogHack">
    </br>
    <h4 class="modal-title"><!--<i class="glyphicon glyphicon-thumbs-down"></i>-->Third-Party Licenses</h4>
</div>
<div class="modal-body" ng-show="noModalForHelpDialogHack">
    This KeYmaera X distribution contains external tools and libraries. We are grateful to their developers.<br>

    <table class="table table-condensed">
        <thead>
        <tr>
            <th>Name</th>
            <th>License</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><a href="https://angularjs.org/" target="_blank">AngularJS</a></td>
            <td>MIT</td>
        </tr>
        <tr>
            <td><a href="https://github.com/eu81273/angular.treeview" target="_blank">angular.treeview</a></td>
            <td>MIT</td>
        </tr>
        <tr>
            <td><a href="http://angular-dragdrop.github.io/angular-dragdrop/" target="_blank">angular-dragdrop</a></td>
            <td>MIT</td>
        </tr>
        <tr>
            <td><a href="http://angular-ui-tree.github.io/website/" target="_blank">angular-ui-tree</a></td>
            <td>MIT</td>
        </tr>
        <tr>
            <td><a href="http://getbootstrap.com/" target="_blank">Bootstrap</a></td>
            <td>MIT</td>
        </tr>
        <tr>
            <td><a href="http://jasny.github.io/bootstrap/" target="_blank">Jasny Bootstrap</a></td>
            <td>Apache v2.0</td>
        </tr>
        <tr>
            <td><a href="http://d3js.org/" target="_blank">D3.js</a></td>
            <td>BSD 3-Clause</td>
        </tr>
        <tr>
            <td><a href="https://www.npmjs.com/package/es5-shim/" target="_blank">es5-shim</a></td>
            <td>MIT</td>
        </tr>
        <tr>
            <td><a href="http://fortawesome.github.io/Font-Awesome/" target="_blank">Font Awesome</a></td>
            <td>SIL OFL 1.1 and MIT</td>
        </tr>
        <tr>
            <td><a href="https://jquery.com/" target="_blank">jQuery</a></td>
            <td>MIT</td>
        </tr>
        <tr>
            <td><a href="http://www.jstree.com/" target="_blank">jsTree</a></td>
            <td>MIT</td>
        </tr>
        <tr>
            <td><a href="https://www.mathjax.org/" target="_blank">MathJax</a></td>
            <td>Apache v2.0</td>
        </tr>
        <tr>
            <td><a href="http://likeastore.github.io/ngDialog/" target="_blank">ngDialog</a></td>
            <td>MIT</td>
        </tr>
        <tr>
            <td><a href="http://requirejs.org/" target="_blank">RequireJS</a></td>
            <td>BSD 3-Clause or MIT</td>
        </tr>
        <tr>
            <td><a href="http://scala-lang.org/" target="_blank">Scala</a></td>
            <td>BSD 3-Clause</td>
        </tr>
        <tr>
            <td><a href="http://www.scalatest.org/" target="_blank">ScalaTest</a></td>
            <td>Apache v2.0</td>
        </tr>

        <tr>
            <td><a href="https://github.com/sirthias/pegdown" target="_blank">Pegdown</a></td>
            <td>Apache v2.0</td>
        </tr>
        <tr>
            <td><a href="http://scalamock.org" target="_blank">ScalaMock</a></td>
            <td><a href="https://github.com/paulbutcher/ScalaMock/blob/master/core/src/main/scala/org/scalamock/package.scala">text</a></td>
        </tr>
        <tr>
            <td><a href="http://mongodb.github.io/casbah" target="_blank">Casbah</a></td>
            <td>Apache v2.0</td>
        </tr>
        <tr>
            <td><a href="http://slick.typesafe.com" target="_blank">Slick</a></td>
            <td><a href="https://github.com/slick/slick/blob/master/LICENSE.txt">Text (BSD-like)</a></td>
        </tr>
        <tr>
            <td><a href="http://scalaquery.org" target="_blank">ScalaQuery</a></td>
            <td><a href="https://github.com/szeiger/scala-query/blob/master/LICENSE.txt">Text (BSD-like)</a></td>
        </tr>
        <tr>
            <td><a href="https://bitbucket.org/xerial/sqlite-jdbc" target="_blank">SQLite JDBC</a></td>
            <td>Apache v2.0</td>
        </tr>
        <tr>
            <td><a href="http://spray.io/" target="_blank">Spray</a></td>
            <td>Apache v2.0</td>
        </tr>
        <tr>
            <td><a href="https://github.com/fge/json-schema-validator" target="_blank">JSON Schema Validator</a></td>
            <td>Dual: LGPL v3.0 or Apache v2.0</td>
        </tr>
        <tr>
            <td><a href="http://akka.io" target="_blank">Akka</a></td>
            <td>Apache v2.0</td>
        </tr>
        </tbody>
    </table>
</div>
