<form ng-controller="MathematicaConfig" name="MathematicaForm">
    <h2>
        <span>Mathematica Configuration</span>
        <span>
            <button ng-click="configureMathematica()"
                    ng-class="{'btn': true, 'btn-primary':   linkName !== origLinkName || jlinkLibPath !== origJlinkLibPath || jlinkTcpip.machine !== origJlinkTcpip.machine || jlinkTcpip.port !== origJlinkTcpip.port,
                                            'btn-default': !(linkName !== origLinkName || jlinkLibPath !== origJlinkLibPath || jlinkTcpip.machine !== origJlinkTcpip.machine || jlinkTcpip.port !== origJlinkTcpip.port)}">
                <span ng-if="linkName !== origLinkName || jlinkLibPath !== origJlinkLibPath || jlinkTcpip.machine !== origJlinkTcpip.machine || jlinkTcpip.port !== origJlinkTcpip.port">*</span>
                <span>Save</span>
            </button>
            <button ng-click="defaultMathematicaPaths()" class="btn btn-default">Reset to Default</button>
            <button ng-click="resetMathematicaPaths()" class="btn btn-default">Discard Changes</button>
        </span>
    </h2>

    <p ng-if="mathematicaConfigSuggestion.suggestionFound" ng-cloak>
        Your system looks as if you have installed Mathematica {{mathematicaConfigSuggestion.suggestion.version}} on {{mathematicaConfigSuggestion.os}}.
    </p>
    <p ng-if="!mathematicaConfigSuggestion.suggestionFound" ng-cloak>
        Your system looks like {{mathematicaConfigSuggestion.os}}, but Mathematica may not be installed, or not be installed in the default location.
        <ol>
            <li>Download Mathematica from <a href="http://www.wolfram.com/mathematica/">Wolfram</a></li>
            <li>Install Mathematica</li>
            <li>Activate Mathematica</li>
            <li>Configure how KeYmaera X connects to Mathematica below</li>
        </ol>
        See also the <a href="http://support.wolfram.com/kb/12456">installation instructions</a> and the
        <a href="https://reference.wolfram.com/language/tutorial/ActivatingMathematica.html">activation instructions</a>.
        Further activation information are in the
        <a href="http://support.wolfram.com/kb/topic/mathematica/activation-mathematica">activation quick answers</a>.
    </p>

    <script type="text/ng-template" id="kernelSuggestionTooltipTemplate.html">
        <div style="text-align: left;">
            Other locations where you might find Mathematica:
            <ul>
                <li ng-repeat="suggestion in mathematicaConfigSuggestion.allSuggestions">
                    {{suggestion.version}}: {{suggestion.kernelPath}}
                </li>
            </ul>
        </div>
    </script>

    <script type="text/ng-template" id="jlinkSuggestionTooltipTemplate.html">
        <div style="text-align: left;">
            Other locations where you might find the J/Link native library:
            <ul>
                <li ng-repeat="suggestion in mathematicaConfigSuggestion.allSuggestions">
                    {{suggestion.version}}: {{suggestion.jlinkPath}}
                </li>
            </ul>
        </div>
    </script>

    <div class="form-group">
        <div class="input-group"
             data-intro="Configure the path to the Mathematica kernel executable, corresponding to your operating system. Look for an executable file named <code>{{mathematicaConfigSuggestion.suggestion.kernelName}}</code>. You might find it at <br/>{{mathematicaConfigSuggestion.suggestion.kernelPath}}{{mathematicaConfigSuggestion.suggestion.kernelName}}."
             data-position="top" style="padding-top: 10px;">
            <span class="input-group-addon" ng-if="linkName"><i class="fa fa-check"></i></span>
            <span class="input-group-addon" ng-if="linkName === undefined"><i class="fa fa-wrench"></i></span>
            <span class="input-group-addon">Kernel</span>
            <input type="text" name="linkName" id="linkName" class="form-control" ng-model="linkName"/>
            <span class="input-group-addon" uib-tooltip-template="'templates/kernelHelp.html'" tooltip-placement="auto top-right" tooltip-append-to-body="true"><i class="fa fa-question"></i></span>
            <span class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="tooltip"
                        data-placement="bottom"
                        aria-expanded="false" ng-click="setDefaultMathKernel()"
                        title="{{mathematicaConfigSuggestion.suggestion.kernelPath}}{{mathematicaConfigSuggestion.suggestion.kernelName}}">
                    <span ng-if="linkName">Reset to </span><span ng-if="linkName === undefined">Use </span> {{mathematicaConfigSuggestion.os}} Default
                </button>
            </span>
        </div>
        <div ng-show="MathematicaForm.linkName.$invalid" class="alert alert-danger"><i class="fa fa-bolt"></i>
            <span ng-if="!linkNameIncomplete">
                This file does not exist on your system:
                <span>{{linkNameOkPrefix}}</span><span><strong><em>{{linkNameWrong}}</em></strong></span><br/>
                The segment of the path highlighted in bold-face seems wrong.
            </span>
            <span ng-if="linkNameIncomplete">The path exists, but it does not point to {{mathematicaConfigSuggestion.suggestion.kernelName}}.</span>
        </div>
    </div>

    <div class="form-group">
        <div class="input-group"
             data-intro="Configure the path to the Mathematica J/Link native library. Look for a file named <code>{{mathematicaConfigSuggestion.suggestion.jlinkName}}</code> at <br/>{{mathematicaConfigSuggestion.suggestion.jlinkPath}}{{mathematicaConfigSuggestion.suggestion.jlinkName}}."
             data-position="bottom" style="padding-top: 10px; padding-bottom: 10px;">
            <span class="input-group-addon" ng-if="jlinkLibPath"><i class="fa fa-check"></i></span>
            <span class="input-group-addon" ng-if="jlinkLibPath === undefined"><i class="fa fa-wrench"></i></span>
            <span class="input-group-addon">J/Link Native Library</span>
            <input type="text" name="jlinkLibDir" id="jlinkLibDir" class="form-control" ng-model="jlinkLibPath"/>
            <span class="input-group-addon" uib-tooltip-template="'templates/jlinkHelp.html'" tooltip-placement="auto top-right" tooltip-append-to-body="true"><i class="fa fa-question"></i></span>
            <span class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="tooltip"
                        data-placement="bottom"
                        aria-expanded="false" ng-click="setDefaultJLinkLibPath()"
                        title="{{mathematicaConfigSuggestion.suggestion.jlinkPath}}{{mathematicaConfigSuggestion.suggestion.jlinkName}}">
                    <span ng-if="jlinkLibPath">Reset to </span><span ng-if="jlinkLibPath === undefined">Use </span> {{mathematicaConfigSuggestion.os}} Default
                </button>
            </span>
        </div>
        <div ng-show="MathematicaForm.jlinkLibDir.$invalid" class="alert alert-danger"><i class="fa fa-bolt"></i>
            <span ng-if="!jlinkPathIncomplete">
                This file does not exist on your system:
                <span>{{jlinkLibPathOkPrefix}}</span><span><strong><em>{{jlinkLibPathWrong}}</em></strong></span><br/>
                The segment of the path highlighted in bold-face seems wrong.
            </span>
            <span ng-if="jlinkPathIncomplete">The path exists, but it does not point to {{mathematicaConfigSuggestion.suggestion.jlinkName}}.</span>
        </div>
    </div>

    <div class="form-group">
        <div class="input-group"
             data-intro="Configure how to connect to the Wolfram Engine kernel."
             data-position="bottom" style="padding-top: 10px; padding-bottom: 10px;">
            <span class="input-group-addon" ng-if="jlinkTcpip.port"><i class="fa fa-check"></i></span>
            <span class="input-group-addon" ng-if="!jlinkTcpip.port"><i class="fa fa-wrench"></i></span>
            <span class="input-group-addon">Connection</span>
            <input type="number" min="1024" max="65535" placeholder="Port number (optional in the range 1024-65535)" name="jlinktcpipport" id="jlinktcpipport" class="form-control" ng-model="jlinkTcpip.port"/>
            <span class="input-group-addon">@</span>
            <input type="text" placeholder="Remote machine name (optional)" name="jlinktcpipmachine" id="jlinktcpipmachine" class="form-control" ng-model="jlinkTcpip.machine"/>
            <span class="input-group-addon" uib-tooltip-template="'templates/portHelp.html'" tooltip-placement="auto top-right" tooltip-append-to-body="true"><i class="fa fa-question"></i></span>
        </div>
    </div>

</form>

<script type="text/ng-template" id="templates/jlinkHelp.html">
    <p>
        Please configure the path to the J/Link native library on your system architecture.
        On your operating system ({{mathematicaConfigSuggestion.os}}) look for a
        file named <code>{{mathematicaConfigSuggestion.suggestion.jlinkName}}</code>.<br/>
        If Mathematica is installed at its default location, you might find that file at
    </p>
    <p>
        <code uib-tooltip-template="'jlinkSuggestionTooltipTemplate.html'"
              tooltip-placement="auto top">{{mathematicaConfigSuggestion.suggestion.jlinkPath}}{{mathematicaConfigSuggestion.suggestion.jlinkName}}</code>.
    </p>
</script>

<script type="text/ng-template" id="templates/kernelHelp.html">
    <p>
        Please configure the path to the Mathematica kernel. On your operating system
        ({{mathematicaConfigSuggestion.os}}) look for an executable file named
        <code>{{mathematicaConfigSuggestion.suggestion.kernelName}}</code>.<br/>
        If Mathematica is installed at its default location, you might find that file at
    </p>
    <p>
        <code uib-tooltip-template="'kernelSuggestionTooltipTemplate.html'"
              tooltip-placement="auto top">{{mathematicaConfigSuggestion.suggestion.kernelPath}}{{mathematicaConfigSuggestion.suggestion.kernelName}}</code>.
    </p>
</script>

<script type="text/ng-template" id="templates/portHelp.html">
    <p>
        Please configure how to connect to the Mathematica kernel. Leave port number and remote machine name
        empty to let KeYmaera X start local kernels with shared memory connection.
        Select an optional port number to let KeYmaera X start a local Mathematica in its own process and
        connect via TCPIP. Enter an optional remote machine name to connect to an already running remote
        Mathematica at <code>port@remotemachine</code>.
    </p>
</script>
