<form editable-form class="k4-vertical-fill-flex" name="modelDataForm" onbeforesave="checkModelData()" onaftersave="save()" shown="true">
<div class="modal-header row">
    <div class="col-md-12">
        <h3 class="modal-title" ng-if="mode==='edit' || mode==='proofedit'"><span editable-text="model.name" e-name="modelName"
                                      e-placeholder="Model name" e-required onbeforesave="checkName($data)">{{model.name}}</span></h3>
        <h3 class="modal-title" ng-if="mode==='exercise'">{{model.name}}</h3>
    </div>
</div>
<div class="modal-body">
    <!--<p ng-if="mode=='edit'"><strong><span editable-text="model.title" e-name="modelTitle" e-placeholder="Model title">{{model.title}}</span></strong></p>-->
    <p ng-if="mode=='edit' || mode==='proofedit'" style="height:20px;">
        <span editable-textarea="model.description" e-name="modelDescription"
              e-placeholder="A short model description" e-rows="1" e-cols="100">{{model.description}}</span>
    </p>
    <!--<p>See additionally <a href="{{model.pubLink}}">{{model.pubLink}}</a> for further information</p>-->
    <p>
    <div ng-if="modelDataForm.$visible && model.numAllProofSteps > 0" uib-alert class="alert-warning">
        <span>Model has proofs with steps. Proof cache will be deleted. After making changes to the model, the stored
            tactics may need editing when re-opening the proofs. If you want to keep the proof cache, please copy the
            model content, cancel editing, and create a new model instead.</span>
    </div>
    </p>
    <p>
    <div ui-ace="{theme:'github',mode:'dl',showGutter:true}" ng-model="model.keyFile" id="editor"></div>
    </p>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="submit" ng-if="!user.isGuest() && mode==='edit'"
            ng-click="save.cmd=refreshModels">Save</button>
    <button class="btn btn-primary" type="submit" ng-if="!user.isGuest() && mode==='edit'"
            ng-click="save.cmd=startProof">Start new proof</button>
    <button class="btn btn-primary" type="submit" ng-if="!user.isGuest() && mode==='proofedit'"
            ng-click="save.cmd=redoProof">Save</button>
    <button class="btn btn-primary" type="submit" ng-if="!user.isGuest() && mode==='exercise'"
            ng-disabled="modelDataForm.$visible || !modelIsComplete()" ng-click="save.cmd=startProof">Exercise</button>
    <span ng-controller="ModelProofCreateCtrl">
    <button class="btn btn-primary" type="submit" ng-if="model.hasTactic && !user.isGuest() && mode==='edit'"
            ng-click="save.cmd=delayedProveFromTactic(model.id)">Prove with associated tactic</button>
    </span>
    <button class="btn btn-primary" ng-click="modelDataForm.$cancel();cancel()">Cancel</button>
</div>
</form>
