<div class="modal-header">
    <div class="row">
        <div class="col-md-12">
            <h3 class="modal-title">
                <span>Tactic for {{tactic.modelName}}</span>
                <span class="pull-right">
                    <span ng-controller="ModelProofCreateCtrl">
                    <button ng-if="!user.isGuest()" class="btn btn-primary"
                            ng-click="ok();proveFromTactic(modelId)">Prove associated model</button>
                    </span>
                    <a ng-click="ok()"><span class="fa fa-close"></span></a>
                </span>
            </h3>
        </div>
    </div>
</div>
<div class="modal-body k4-vertical-fill-flex">
    KeYmaera X provides automated proof search, as well as proof construction using tactics.

    <h3>Automated Proof Search</h3>
    <!-- HACK: serve from DB -->
    Use tactic <code>Auto</code> after loading the model.
    <span ng-if="tactic.modelName.indexOf('9a') > -1 || tactic.modelName.indexOf('9b') > -1">
        The automated search will make progress, but may take a long time and remain incomplete on this model.
    </span>

    <h3>Proof Construction</h3>
    <div ui-ace="{theme:'github',mode:'bellerophon',showGutter:true,useWrapMode:true,onLoad:aceLoaded}"
         ng-model="tactic.tacticBody" id="tacticeditor"></div>
</div>
