<div class="panel panel-default"> <!-- ModelListCtrl per app.js -->
    <spinner name="modelListProofLoadingSpinner" ng-cloak>
        <div class="spinner-overlay"></div>
        <div class="spinner">
            <div class="spinner-double-bounce1"></div>
            <div class="spinner-double-bounce2"></div>
        </div>
        <div class="spinner-please-wait">Loading proof, please wait...</div>
    </spinner>
    <spinner name="caseStudyImportSpinner" ng-cloak>
        <div class="spinner-overlay"></div>
        <div class="spinner">
            <div class="spinner-double-bounce1"></div>
            <div class="spinner-double-bounce2"></div>
        </div>
        <div class="spinner-please-wait">Importing archive, please wait...</div>
    </spinner>
    <!-- Default panel contents -->
    <div class="panel-heading"><b>Your Models</b></div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <!-- TODO https://github.com/blueimp/jQuery-File-Upload/wiki/Basic-plugin -->
                <form ng-controller="ModelUploadCtrl">
                    <label for="keyFile">Upload</label>
                    <div class="fileinput fileinput-new" data-provides="fileinput">
                        <div class="input-group">
                        <div class="form-control" data-trigger="fileinput">
                            <i class="glyphicon glyphicon-file fileinput-exists"></i>
                            <span class="fileinput-filename"></span>
                        </div>
                        <span class="input-group-addon btn btn-default btn-file">
                            <span class="fileinput-new">Select file</span>
                            <span class="fileinput-exists">Change</span>
                            <input type="file" name="source" id="keyFile" class="form-control" ng-model="keyFile" />
                        </span>
                        <a class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                        <a class="input-group-addon btn btn-default fileinput-exists"
                           ng-if="!isKyxFile()" ng-click="addModel()" ng-cloak>Upload</a>
                        </div>
                        <div class="fileinput-exists" ng-if="isKyxFile()" ng-cloak>
                            <label for="modelName">Model name</label>
                            <div class="input-group">
                            <input type="text" ng-model="modelName" class="form-control" name="modelName" id="modelName" placeholder="Model Name"/>
                            <a ng-class="{'input-group-addon':true, 'btn':true, 'btn-default':true, 'disabled':!modelName}"
                               ng-if="isKyxFile()" ng-click="addModel(modelName)" ng-cloak>Upload</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <div uib-carousel class="k4-examples-carousel" active="active" interval="5000">
                    <div uib-slide ng-repeat="repo in examples track by repo.id" index="repo.id">
                        <img ng-src="{{repo.image}}" style="margin:auto;">
                        <div class="k4-examples-carousel-caption">
                            <h4>{{repo.title}} <button class="btn btn-default"
                                                       ng-click="importRepo(repo.url)"
                                                       ng-controller="ModelUploadCtrl">Import</button></h4>
                            <p>{{repo.description}} <small><a ng-href="{{repo.infoUrl}}">Details...</a></small></p>
                        </div>
                    </div>
                </div>
            </div>
    </div>

    <hr/>

    <div class="row">
    <p class="col-md-12" ng-if="models.length <= 0" ng-cloak>
        Your database does not contain models so far. Upload new models or import tutorial models above.
    </p>
    <table class="table table-hover table-condensed" id="ModelList" ng-if="models.length > 0" ng-cloak>
        <thead>
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Description</td>
            <td>Tactic</td>
            <td>Actions</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="model in models | orderBy:'name'">
            <td>{{ model.id }}</td>
            <td><a href="" ng-click="open(model.id)">{{ model.name }}</a></td>
            <td>
              <a ng-if="model.pubLink" href="{{model.pubLink}}">{{model.title}}</a>
              <span ng-if="!model.pubLink">{{model.title}}</span>
            </td>
            <td><a href="" ng-if="model.hasTactic" ng-click="openTactic(model.id)">Browse <i class="fa fa-file-code-o"></i></a></td>
            <td ng-model="model">
                <a class="btn btn-default" ng-controller="ModelListCtrl" ng-click="downloadModel(model.id)" uib-tooltip="Download"><i class="fa fa-download"></i></a>
                <a class="btn btn-default" ng-href="dashboard.html?#/models/{{ model.id }}/proofs" uib-tooltip="Show proofs"><i class="fa fa-list"></i></a>
                <a class="btn btn-default" ng-controller="ModelProofCreateCtrl" ng-click="createProof(model.id, '', '')" uib-tooltip="Start new proof"><i class="fa fa-gears"></i></a>
                <a ng-class="{'btn':true, 'btn-default':true, 'disabled':!model.hasTactic}" ng-controller="ModelProofCreateCtrl" ng-click="proveFromTactic(model.id)" uib-tooltip="Prove from tactic"><i class="fa fa-cog"></i></a>
                <a class="btn btn-default" ng-controller="ModelUploadCtrl" ng-click="deleteModel(model.id)" uib-tooltip="Delete model and proofs" tooltip-placement="auto top"><i class="fa fa-trash"></i></a>
                <a class="btn btn-default" ng-controller="ModelListCtrl" ng-click="modelplex(model.id)" uib-tooltip="Generate ModelPlex monitor" tooltip-placement="auto top"><i class="fa fa-shield"></i></a>
                <a class="btn btn-default" ng-controller="ModelListCtrl" ng-click="testsynthesis(model.id)" uib-tooltip="Test Case Synthesis and Analysis" tooltip-placement="auto top"><i class="fa fa-flask"></i></a>
            </td>
        </tr>
        </tbody>
    </table>
    </div>
</div>
