<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Proofs of Model {{modelId}}</div>
    <div class="panel-body">
        <div class="row">
            <!-- upload form -->
            <div class="col-md-6">
                <form novalidate class="simple-form" ng-submit="createProof(modelId, '', '')" ng-controller="ModelProofCreateCtrl">
                    <div class="input-group">
                        <input type="submit" value="Create New Proof" class="form-control" />
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Table -->
    <table class="table table-hover table-condensed">
        <thead>
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Date</td>
            <!--<td>Proof Steps</td>-->
            <td>Status</td>
            <td>Actions</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="proof in proofs">
            <td>{{ proof.id }}</td>
            <td>{{ proof.name }}</td>
            <td>{{ proof.date }}</td>
            <!--<td>{{ proof.stepCount }}</td>-->
            <td><span ng-if="proof.status" class="fa fa-check"></span>
                <span ng-if="proof.status"> Proved</span>
                <span ng-if="proof.status === false" class="fa fa-pencil"></span>
                <span ng-if="proof.status === false"> In Progress</span>
            </td>
            <td>
                <a class="btn btn-default" ng-href="dashboard.html?#/proofs/{{ proof.id }}" uib-tooltip="Open" tooltip-placement="auto top"><i class="fa fa-folder-open"></i></a>
                <a class="btn btn-default" ng-click="deleteProof(proof)" uib-tooltip="Delete" tooltip-placement="auto top"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
        </tbody>
    </table>

</div>