<div class="panel panel-default"> <!-- ModelListCtrl per app.js -->
    <spinner name="modelListProofLoadingSpinner" ng-cloak>
        <div class="spinner-overlay"></div>
        <div class="spinner">
            <div class="spinner-double-bounce1"></div>
            <div class="spinner-double-bounce2"></div>
        </div>
        <div class="spinner-please-wait">Loading proof, please wait...</div>
    </spinner>
    <spinner name="caseStudyImportSpinner" ng-cloak>
        <div class="spinner-overlay"></div>
        <div class="spinner">
            <div class="spinner-double-bounce1"></div>
            <div class="spinner-double-bounce2"></div>
        </div>
        <div class="spinner-please-wait">Importing archive, please wait...</div>
    </spinner>
    <spinner name="modelProofExportSpinner" ng-cloak>
        <div class="spinner-overlay"></div>
        <div class="spinner">
            <div class="spinner-double-bounce1"></div>
            <div class="spinner-double-bounce2"></div>
        </div>
        <div class="spinner-please-wait">Exporting archive, please wait...</div>
    </spinner>
    <!-- Default panel contents -->
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-2"><b>Models</b></div>
            <div class="col-md-10">
                <span class="pull-right" id="modelarchiving"
                      data-intro="<strong>Export</strong> all models with/without proofs into a single archive (.kya, includes all models, optionally with all their partial or finished proofs)."
                      data-position="left">
                    <a class="btn btn-default"
                       ng-click="downloadAllModels()"
                       uib-tooltip="Export all models into a single archive (.kya)"><i class="fa fa-archive"></i> Export all</a>
                    <a class="btn btn-default"
                       ng-click="downloadAllProofs()"
                       uib-tooltip="Export all models with their proofs into a single archive (.kya)"><i class="fa fa-archive"></i> Export all (with proofs)</a>
                </span>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6" id="modelupload"
                 data-intro="Write models, load new .kyx model files or .kya archive files here."
                 data-position="bottom">
                <button class="btn btn-default" ng-click="openNewModelDialog()">New Model...</button>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-4" id="modeltutorialimport"
                 ng-if="examples.length > 0" ng-cloak
                 data-intro="Click 'Import' to add tutorials to your models overview."
                 data-position="bottom">
                <div style="margin-bottom: 10px"> <!-- So that carousel doesn't overlap overlay help -->
                <div uib-carousel active="activeTutorialSlide" interval="5000">
                    <div uib-slide ng-repeat="repo in examples" index="$index">
                        <img ng-src="{{repo.image}}" style="margin:auto;max-width:100%;">
                        <div class="k4-examples-carousel-caption">
                            <h4>{{repo.title}} <button class="btn btn-default"
                                                       ng-click="importRepo(repo.url)">Import</button></h4>
                            <p>{{repo.description}}
                                <small><a ng-if="repo.infoUrl && repo.infoUrl.length > 0"
                                          ng-href="{{repo.infoUrl}}">Details...</a></small>
                            </p>
                        </div>
                    </div>
                </div>
                </div>
            </div>
    </div>

    <hr/>

    <div class="row">
    <p class="col-md-12" ng-if="models.length <= 0" ng-cloak>
        Your database does not contain models so far. Upload new models or import tutorial models above.
    </p>
    <table class="table table-hover table-condensed" id="ModelList" ng-if="models.length > 0" ng-cloak>
        <thead>
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Description</td>
            <td>Tactic</td>
            <td>Actions</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="model in models | orderBy:'name'">
            <td>{{ model.id }}</td>
            <td id="modelopen">
                <div data-intro="Inspect model definitions." data-position="right" ng-if="$first">
                    <a class="btn btn-link" href="" ng-click="open(model.id)">{{ model.name }}</a>
                </div>
                <div ng-if="!$first">
                    <a class="btn btn-link" href="" ng-click="open(model.id)">{{ model.name }}</a>
                </div>
            </td>
            <td>
              <a ng-if="model.pubLink" href="{{model.pubLink}}">{{model.description}}</a>
              <span ng-if="!model.pubLink">{{model.description}}</span>
            </td>
            <td><a href="" ng-if="model.hasTactic" ng-click="openTactic(model.id)">Browse <i class="fa fa-file-code-o"></i></a></td>
            <td ng-model="model" id="modelactions"
                data-intro="Start new proofs, generate monitor conditions, synthesize test cases, and download models (.kyx, includes only the model) and archives (.kya, includes a model with all its partial and finished proofs)."
                data-position="bottom" ng-if="$first">
                <a class="btn btn-default" ng-if="model.isExercise" ng-click="open(model.id)" uib-tooltip="Start exercise"><i class="fa fa-pencil-square-o"></i></a>
                <a class="btn btn-default" ng-if="!model.isExercise" ng-href="dashboard.html?#/models/{{ model.id }}/proofs" uib-tooltip="Show proofs"><i class="fa fa-list"></i></a>
                <a class="btn btn-default" ng-if="!model.isExercise" ng-controller="ModelProofCreateCtrl" ng-click="createProof(model.id, '', '')" uib-tooltip="Start new proof"><i class="fa fa-gears"></i></a>
                <a class="btn btn-default" ng-if="!model.isExercise" ng-click="modelplex(model.id)" uib-tooltip="Generate ModelPlex monitor" tooltip-placement="auto top"><i class="fa fa-shield"></i></a>
                <a class="btn btn-default" ng-if="!model.isExercise" ng-click="testsynthesis(model.id)" uib-tooltip="Test Case Synthesis and Analysis" tooltip-placement="auto top"><i class="fa fa-flask"></i></a>
                <a class="btn btn-default" ng-click="downloadModel(model.id)" uib-tooltip="Download model (.kyx)"><i class="fa fa-download"></i></a>
                <a class="btn btn-default" ng-if="!model.isExercise" ng-click="downloadModelProofs(model.id)" uib-tooltip="Download model+proofs (.kya)"><i class="fa fa-archive"></i></a>
                <a class="btn btn-default" ng-click="deleteModel(model.id)" uib-tooltip="Delete model and proofs" tooltip-placement="auto top"><i class="fa fa-trash"></i></a>
            </td>
            <td ng-model="model" ng-if="!$first">
                <a class="btn btn-default" ng-if="model.isExercise" ng-click="open(model.id)" uib-tooltip="Start exercise"><i class="fa fa-pencil-square-o"></i></a>
                <a class="btn btn-default" ng-if="!model.isExercise" ng-href="dashboard.html?#/models/{{ model.id }}/proofs" uib-tooltip="Show proofs"><i class="fa fa-list"></i></a>
                <a class="btn btn-default" ng-if="!model.isExercise" ng-controller="ModelProofCreateCtrl" ng-click="createProof(model.id, '', '')" uib-tooltip="Start new proof"><i class="fa fa-gears"></i></a>
                <a class="btn btn-default" ng-if="!model.isExercise" ng-click="modelplex(model.id)" uib-tooltip="Generate ModelPlex monitor" tooltip-placement="auto top"><i class="fa fa-shield"></i></a>
                <a class="btn btn-default" ng-if="!model.isExercise" ng-click="testsynthesis(model.id)" uib-tooltip="Test Case Synthesis and Analysis" tooltip-placement="auto top"><i class="fa fa-flask"></i></a>
                <a class="btn btn-default" ng-click="downloadModel(model.id)" uib-tooltip="Download"><i class="fa fa-download"></i></a>
                <a class="btn btn-default" ng-if="!model.isExercise" ng-click="downloadModelProofs(model.id)" uib-tooltip="Download with proofs"><i class="fa fa-archive"></i></a>
                <a class="btn btn-default" ng-click="deleteModel(model.id)" uib-tooltip="Delete model and proofs" tooltip-placement="auto top"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
        </tbody>
    </table>
    </div>
</div>
