<spinner name="proofExportSpinner" ng-cloak>
    <div class="spinner-overlay"></div>
    <div class="spinner">
        <div class="spinner-double-bounce1"></div>
        <div class="spinner-double-bounce2"></div>
    </div>
    <div class="spinner-please-wait">Exporting archive, please wait...</div>
</spinner>
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading" ng-if="modelId === undefined" ng-cloak>
        <div class="row">
            <div class="col-md-6"><b>All Proofs</b></div>
            <div class="col-md-6">
                <a class="btn btn-default pull-right" id="proofsarchiving"
                   ng-click="downloadAllProofs()"
                   uib-tooltip="Download all proofs"><i class="fa fa-archive"></i> Download all</a>
            </div>
        </div>
    </div>

    <div class="panel-heading" ng-if="modelId !== undefined" ng-cloak>
        <div class="row">
            <div class="col-md-6"><b>Proofs of Model {{modelId}}</b></div>
            <div class="col-md-6">
                <span class="pull-right"  id="proofsarchiving">
                    <a class="btn btn-default" ng-controller="ModelProofCreateCtrl"
                       ng-click="createProof(modelId, '', '')"
                       uib-tooltip="Start new proof"><i class="fa fa-gears"></i> Start new proof</a>
                    <a class="btn btn-default"
                       ng-click="downloadModelProofs(modelId)"
                       uib-tooltip="Download all proofs"><i class="fa fa-archive"></i> Download all</a>
                </span>
            </div>
        </div>
    </div>

    <!-- Table -->
    <table class="table table-hover table-condensed">
        <thead>
        <tr>
            <td>ID</td>
            <td>Name</td>
            <!--<td>Model Name</td>-->
            <td>Date</td>
            <!--<td>Proof Steps</td>-->
            <td>Status</td>
            <td>Actions</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="proof in proofs | orderBy:'name'">
            <td>{{ proof.id }}</td>
            <td>{{ proof.name }}</td>
            <!--<td>{{ proof.modelName }}</td>-->
            <td>{{ proof.date }}</td>
            <!--<td>{{ proof.stepCount }}</td>-->
            <td><span ng-if="proof.status"><i class="fa fa-check"></i> Proved</span>
                <span ng-if="proof.status === false"><i class="fa fa-pencil"></i> In Progress</span>
            </td>
            <td id="proofsactions">
                <a class="btn btn-default" ng-href="dashboard.html?#/proofs/{{ proof.id }}" uib-tooltip="Open" tooltip-placement="auto top"><i class="fa fa-folder-open"></i></a>
                <a ng-class="{'btn':true, 'btn-default':true, 'disabled':!proof.status}" ng-click="downloadTactic(proof)" uib-tooltip="Download tactic" tooltip-placement="auto top"><i class="fa fa-download"></i></a>
                <a ng-class="{'btn':true, 'btn-default':true, 'disabled':!proof.status}" ng-click="downloadLemma(proof)" uib-tooltip="Download lemma (completed proof)" tooltip-placement="auto top"><i class="fa fa-certificate"></i></a>
                <a class="btn btn-default" ng-click="downloadPartialProof(proof)" uib-tooltip="Download (partial) proof" tooltip-placement="auto top"><i class="fa fa-archive"></i></a>
                <a class="btn btn-default" ng-click="deleteProof(proof)" uib-tooltip="Delete" tooltip-placement="auto top"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>