<div class="row" ng-controller="TaskCtrl">
    <div class="col-md-12">
        <!-- Tool box -->
        <div class="navbar navbar-default">
            <div class="navbar-inner">
            <div class="container-fluid">
                <span class="brand navbar-brand">
                    <span editable-text="proofName" onbeforesave="saveProofName($data)" style="display:inline-block">
                        {{proofName}}
                    </span>
                </span>
                <div class="nav">
                    <ul class="nav navbar-nav">
                        <li><a ng-click="doExhaustive('Master')"><span class="fa fa-play"> Auto</span></a></li>
                        <li><a ng-click="undoLastStep()"><span class="fa fa-undo"> Step back</span></a></li>
                    </ul>
                    <ul class="nav navbar-nav pull-right">
                        <li><a ng-click="isNavbarCollapsed=!isNavbarCollapsed"><span class="fa fa-bars"></span></a></li>
                    </ul>
                </div>
                <div class="nav-collapse" uib-collapse="isNavbarCollapsed">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">Propositional <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a ng-click="doExhaustive('Prop')"> Exhaustive <code>prop</code></a></li>
                                <li role="separator" class="divider"></li>
                                <li><a ng-click="doSearch('AndL', 'L')">and left <code>andL</code></a></li>
                                <li><a ng-click="doSearch('ImplyR', 'R')">imply right <code>implyR</code></a></li>
                                <li><a ng-click="doSearch('OrR', 'R')">or right <code>orR</code></a></li>
                                <li><a ng-click="doSearch('EquivL', 'L')">equiv left <code>equivL</code></a></li>
                                <li role="separator" class="divider"></li>
                                <li><a ng-click="doSearch('AndR', 'R')">and right <code>andR</code></a></li>
                                <li><a ng-click="doSearch('OrL', 'L')">or left <code>orL</code></a></li>
                                <li><a ng-click="doSearch('ImplyL', 'L')">imply left <code>implyL</code></a></li>
                                <li><a ng-click="doSearch('EquivR', 'R')">equiv right <code>equivR</code></a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">Hybrid Programs <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a ng-click="doSearch('BoxCompose', 'R')">[;] compose <code>composeb</code></a></li>
                                <li><a ng-click="doSearch('BoxChoice', 'R')">[++] choice <code>choiceb</code></a></li>
                                <!-- TODO -->
                                <li role="separator" class="divider"></li>
                                <li><a ng-click="doSearch('DiamondCompose', 'R')">&lt;;&gt; compose <code>composed</code></a></li>
                                <li><a ng-click="doSearch('DiamondChoice', 'R')">&lt;++&gt; compose <code>choiced</code></a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">Differential Equations <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a ng-click="doSearch('DiffWeaken', 'R')">DW <code>diffWeaken</code></a></li>
                                <!-- TODO -->
                            </ul>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-right" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Custom tactic">
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default">Execute</button>
                            <button type="submit" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Open Tactic Editor</a></li>
                            </ul>
                        </div>
                    </form>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>

<div class="row" ng-controller="TaskCtrl">
    <div class="col-md-12">
        <!-- TODO restrict to < 10 tasks as tabs, then complement the rest with dropdown -->
        <uib-tabset justified="true">
            <uib-tab active="task.isSelected" ng-repeat="task in agenda.items()" select="agenda.select(task)">
                <uib-tab-heading>
                    <!-- ng-class={'fa fa-tasks':openGoal, 'fa fa-check-square-o':closedGoal} -->
                    <!--<span class="fa fa-tasks"> {{task.goalLabel}}</span>-->
                    <div class="row">
                        <div class="col-md-11"><span class="fa fa-tasks k4-nowrap k4-abbreviate"> {{task.name}} ({{task.id}})</span></div>
                        <!-- TODO failed attempt to provide a preview of the goal -->
                        <!--<div class="col-md-3"  ng-if="selectedTask != task"><span class="fa fa-tasks k4-nowrap k4-abbreviate"> {{task.goalLabel}}</span></div>-->
                        <!--<div class="col-md-8" ng-if="selectedTask != task">-->
                            <!--<span class="k4-tiny k4-abbreviate k4-nowrap">-->
                                <!--<k4-formula formula="task.proofNode.sequent.ante[0].formula"-->
                                            <!--highlight="false"-->
                                            <!--collapsed="true"-->
                                            <!--ng-if="task.proofNode.sequent.ante.length > 0"></k4-formula>-->
                                <!--&#8866;-->
                                <!--<k4-formula formula="task.proofNode.sequent.succ[0].formula"-->
                                            <!--highlight="false"-->
                                            <!--collapsed="true"-->
                                            <!--ng-if="task.proofNode.sequent.succ.length > 0"></k4-formula>-->
                            <!--</span>-->
                        <!--</div>-->
                        <div class="col-md-1" cg-busy="defer" ng-if="defer"></div>
                    </div>
                </uib-tab-heading>
                <k4-sequentproof user-id="userId"
                                 proof-id="proofId"
                                 node-id="task.id"
                                 deduction-path="task.deduction"
                                 proof-tree="prooftree"
                                 agenda="agenda"
                                 read-only="false"></k4-sequentproof>
            </uib-tab>
        </uib-tabset>
    </div>
</div>