<spinner name="proofExportSpinner" ng-cloak>
    <div class="spinner-overlay"></div>
    <div class="spinner">
        <div class="spinner-double-bounce1"></div>
        <div class="spinner-double-bounce2"></div>
    </div>
    <div class="spinner-please-wait">Exporting archive, please wait...</div>
</spinner>
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading" ng-if="modelId === undefined" ng-cloak>
        <div class="row">
            <div class="col-md-6"><b>All Proofs</b></div>
            <div class="col-md-6">
                <a class="btn btn-default pull-right" id="proofsarchiving"
                   data-intro="Export all proofs into a .kya file." data-position="left"
                   ng-click="downloadAllProofs()"
                   uib-tooltip="Extract all proofs to files"><i class="fa fa-archive"></i> Extract all</a>
            </div>
        </div>
    </div>

    <div class="panel-heading" ng-if="modelId !== undefined" ng-cloak>
        <div class="row">
            <div class="col-md-6"><b>Proofs of Model {{modelId}}</b></div>
            <div class="col-md-6">
                <span class="pull-right" id="proofsarchiving"
                      data-intro="Start a new proof, or export all proofs into a .kya file." data-position="left">
                    <a class="btn btn-default" ng-controller="ModelProofCreateCtrl"
                       ng-click="createProof(modelId, '', '')"
                       uib-tooltip="Start new proof"><i class="fa fa-gears"></i> Start new proof</a>
                    <a class="btn btn-default"
                       ng-click="downloadModelProofs(modelId)"
                       uib-tooltip="Export all proofs"><i class="fa fa-archive"></i> Export all</a>
                </span>
            </div>
        </div>
    </div>

    <!-- Table -->
    <table class="table table-hover table-condensed">
        <thead>
        <tr>
            <td>ID</td>
            <td>Name</td>
            <!--<td>Model Name</td>-->
            <td>Date</td>
            <!--<td>Proof Steps</td>-->
            <td>Status</td>
            <td><span class="pull-right">Actions</span></td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="proof in proofs | orderBy:'name'">
            <td>{{ proof.id }}</td>
            <td>
                <a class="btn btn-link" ng-href="dashboard.html?#/proofs/{{ proof.id }}" uib-tooltip="Open proof" tooltip-placement="auto top">{{ proof.name }}</a>
            </td>
            <td>{{ proof.date }}</td>
            <td>
                <div ng-if="$first">
                <span data-intro="Is there more work to do or is the proof done?" data-position="left">
                    <span ng-if="proof.status"><i class="fa fa-check"></i> Proved</span>
                    <span ng-if="proof.status === false"><i class="fa fa-pencil"></i> In Progress</span>
                </span>
                </div>
                <div ng-if="!$first">
                <span>
                    <span ng-if="proof.status"><i class="fa fa-check"></i> Proved</span>
                    <span ng-if="proof.status === false"><i class="fa fa-pencil"></i> In Progress</span>
                </span>
                </div>
            </td>
            <td id="proofsactions"
                data-intro="Open, download, or delete proofs."
                data-position="bottom" ng-if="$first">
                <span class="pull-right">
                <a class="btn btn-default" ng-href="dashboard.html?#/proofs/{{ proof.id }}" uib-tooltip="Open" tooltip-placement="auto top"><i class="fa fa-folder-open"></i></a>
                <a ng-class="{'btn':true, 'btn-default':true, 'disabled':!proof.status}" ng-click="downloadTactic(proof)" uib-tooltip="Download tactic" tooltip-placement="auto top"><i class="fa fa-download"></i></a>
                <a ng-class="{'btn':true, 'btn-default':true, 'disabled':!proof.status}" ng-click="downloadLemma(proof)" uib-tooltip="Download lemma (completed proof)" tooltip-placement="auto top"><i class="fa fa-certificate"></i></a>
                <a class="btn btn-default" ng-click="downloadPartialProof(proof)" uib-tooltip="Download (partial) proof" tooltip-placement="auto top"><i class="fa fa-archive"></i></a>
                <a class="btn btn-default" ng-click="deleteProof(proof)" uib-tooltip="Delete" tooltip-placement="auto top"><i class="fa fa-trash"></i></a>
                </span>
            </td>
            <td ng-if="!$first">
                <span class="pull-right">
                <a class="btn btn-default" ng-href="dashboard.html?#/proofs/{{ proof.id }}" uib-tooltip="Open" tooltip-placement="auto top"><i class="fa fa-folder-open"></i></a>
                <a ng-class="{'btn':true, 'btn-default':true, 'disabled':!proof.status}" ng-click="downloadTactic(proof)" uib-tooltip="Download tactic" tooltip-placement="auto top"><i class="fa fa-download"></i></a>
                <a ng-class="{'btn':true, 'btn-default':true, 'disabled':!proof.status}" ng-click="downloadLemma(proof)" uib-tooltip="Download lemma (completed proof)" tooltip-placement="auto top"><i class="fa fa-certificate"></i></a>
                <a class="btn btn-default" ng-click="downloadPartialProof(proof)" uib-tooltip="Download (partial) proof" tooltip-placement="auto top"><i class="fa fa-archive"></i></a>
                <a class="btn btn-default" ng-click="deleteProof(proof)" uib-tooltip="Delete" tooltip-placement="auto top"><i class="fa fa-trash"></i></a>
                </span>
            </td>
        </tr>
        </tbody>
    </table>
</div>