<div class="modal-header">
    <h3 class="modal-title"><i class="fa fa-graduation-cap"></i> Congratulations: Proof Found</h3>
</div>
<div class="modal-body">
    <p>
        All goals in your proof agenda have been closed.
    </p>

    <!-- TODO Display proof statistics -->

    <h4>Proved Conclusion</h4>
    <div>
        <pre style="overflow:scroll;height:50px;"><code>{{provedConclusion}}</code></pre>
    </div>

    <h4>Tactic to Reproduce the Proof</h4>
    <div>
        <pre style="overflow:scroll;height:200px;"><code>{{proofData.tactic.lastExecutedTacticText}}</code></pre>
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="downloadTactic()"><i class="fa fa-download"></i> Download tactic</button>
    <button class="btn btn-default" ng-click="downloadLemma()"><i class="fa fa-certificate"></i> Download lemma</button>
    <button class="btn btn-primary" ng-click="cancel()">Close</button>
</div>