<div class="row">
<div class="col-sm-12">
<spinner name="tacticExecutionSpinner" ng-cloak>
    <div class="tactic-spinner-background"></div>
    <div class="tactic-spinner-overlay">
    <div class="tactic-spinner">
        <div class="spinner-double-bounce1"></div>
        <div class="spinner-double-bounce2"></div>
    </div>
    <div class="tactic-spinner-please-wait">
        <p>Tactical proof is running, please wait
            <span ng-click="runningTask.showProgressList = !runningTask.showProgressList">
                ...
                <i class="fa fa-caret-right" ng-if="!runningTask.showProgressList"></i>
                <i class="fa fa-caret-down" ng-if="runningTask.showProgressList"></i>
            </span>
        </p>
        <div class="tactic-spinner-progresslist"
             uib-collapse="!runningTask.showProgressList"
             ng-if="runningTask.progress && runningTask.progress.length > 0">
            <ol>
                <li ng-repeat="step in runningTask.progress">
                    {{step}}
                </li>
            </ol>
        </div>
        <p ng-visible="runningTask.currentStep && runningTask.currentStep.ruleName">{{runningTask.currentStep.ruleName}} ({{runningTask.currentStep.duration}}ms)</p>
        <p ng-if="runningTask.info && runningTask.info !== ''">{{runningTask.info}}</p>
        <p><button class="btn btn-default" ng-click="runningTask.stop()"><i class="fa fa-stop"></i> Stop</button></p>
    </div>
    </div>
</spinner>
<spinner name="branchClosedSpinner" ng-cloak>
    <div class="tactic-spinner-background" ng-click="spinnerController.close('branchClosedSpinner')"></div>
    <div class="tactic-spinner-overlay" ng-click="spinnerController.close('branchClosedSpinner')">
        <div class="tactic-spinner-please-wait">
            <p><i class="fa fa-5x fa-trophy faa-tada animated"></i></p>
            <p>Branch closed</p>
        </div>
    </div>
</spinner>
<spinner name="magnifyingglassSpinner" ng-cloak>
    <div class="tactic-spinner-background"></div>
    <div class="tactic-spinner-overlay">
        <div class="tactic-spinner">
            <div class="spinner-double-bounce1"></div>
            <div class="spinner-double-bounce2"></div>
        </div>
        <div class="tactic-spinner-please-wait">
            <p>Reproving intermediate details, please wait...</p>
            <p><button class="btn btn-default" ng-click="runningTask.stop()"><i class="fa fa-stop"></i> Stop</button></p>
        </div>
    </div>
</spinner>
<spinner name="proofLoadingSpinner" ng-cloak>
    <div class="spinner-overlay"></div>
    <div class="spinner">
        <div class="spinner-double-bounce1"></div>
        <div class="spinner-double-bounce2"></div>
    </div>
    <div class="spinner-please-wait">Proof is loading, please wait...</div>
</spinner>
<spinner name="counterExampleSpinner" ng-cloak>
    <div class="spinner-overlay"></div>
    <div class="spinner">
        <div class="spinner-double-bounce1"></div>
        <div class="spinner-double-bounce2"></div>
    </div>
    <div class="spinner-please-wait">
        Searching for counterexample, please wait...<br/>
        <button class="btn btn-default" ng-click="runningRequest.canceller.resolve('usercancelled')"><i class="fa fa-stop"></i> Stop</button>
    </div>
</spinner>
<spinner name="odeConditionsSpinner" ng-cloak>
    <div class="spinner-overlay"></div>
    <div class="spinner">
        <div class="spinner-double-bounce1"></div>
        <div class="spinner-double-bounce2"></div>
    </div>
    <div class="spinner-please-wait">
        Searching for ODE conditions, please wait...<br/>
        <button class="btn btn-default" ng-click="runningRequest.canceller.resolve('usercancelled')"><i class="fa fa-stop"></i> Stop</button>
    </div>
</spinner>
<div>
<div  ng-controller="TaskCtrl">
<div class="row">
    <div class="col-sm-12">
        <!-- Tool box -->
        <div class="navbar navbar-default k4-tactics-navbar">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#tacticnavbar">
                        <span class="fa fa-bars"></span>
                    </button>
                    <div class="nav brand navbar-brand k4-tactics-brand">
                        <span editable-text="proofName" onbeforesave="saveProofName($data)">
                            {{proofName}}
                        </span>
                    </div>
                </div>
                <!-- Global toolbar with global proof tactics -->
                <div class="collapse navbar-collapse" id="tacticnavbar">
                    <ul class="nav navbar-nav nav-pills k4-tactics-nav-first mr-auto" id="provingautomation" ng-include="'templates/menu/auto.html'"></ul>
                    <!-- Global list of proof rules, axiom and proof tactics -->
                    <ul class="nav navbar-nav k4-tactics-nav-last mr-auto" id="provingbasictactics"
                        data-intro="Basic tactics and tools." data-position="right" ng-include="'templates/menu/tactics.html'"></ul>
                </div>
<!--            </div>-->
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12" ng-controller="ProofMessagesCtrl">
        <k4-auto-hide-alert message="proofMessage.text"
                            causeMsg="proofMessage.causeMsg"
                            details="proofMessage.details"
                            task-stepwise-request="proofMessage.taskStepwiseRequest"
                            severity="proofMessage.severity"
                            is-visible="proofMessage.isVisible" timeout="-1">
        </k4-auto-hide-alert>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <!-- TODO restrict to < 10 tasks as tabs, then complement the rest with dropdown -->
        <uib-tabset justified="true" active="agenda.selectedTab" ng-if="agenda.items().length > 0" ng-cloak>
            <uib-tab ng-repeat="task in agenda.items() track by task.id" index="task.id"
                     deselect="agenda.deselect(task)" select="agenda.select(task)">
                <uib-tab-heading>
                    <!-- ng-class={'fa fa-tasks':openGoal, 'fa fa-check-square-o':closedGoal} -->
                    <!--<span class="fa fa-tasks"> {{task.goalLabel}}</span>-->
                    <div class="row">
                        <div class="col-sm-11" ng-if="$first"
                             data-intro="Each tab has an unfinished subgoal of a proof. The current open proof goal is at the top. On formulas: <dl class='dl-horizontal' style='margin-left: 30%'><dt>Left-click</dt><dd>default step</dd><dt>Right-click</dt><dd>list tactics</dd><dt>Alt/Option-click</dt><dd>chase subformula away</dd><dt>Hover &#8866;</dt><dd>transform entire subgoal</dd></dl> </div>"
                             data-position="bottom">
                            <span ng-if="taskPostfixLabel(task.id).substring(0,5) == 'Lemma'">
                                <span class="fa fa-external-link"></span>
                                <span>Switch to: </span><a ng-click="openLemmaProof(task.id)">{{taskPostfixLabel(task.id)}}</a>
                            </span>
                            <span ng-if="taskPostfixLabel(task.id).substring(0,5) != 'Lemma'">
                                <span class="fa" ng-class="{'fa-tasks' : !(taskPostfixLabel(task.id)=='QE CEX' || taskPrefixLabel(task.id) == 'QE CEX'), 'fa-bolt text-danger' : taskPostfixLabel(task.id)=='QE CEX' || taskPrefixLabel(task.id) == 'QE CEX'}"></span>
                                <!-- have to use blur, because editable doesn't work with uib-tabs in any other way -->
                                <span ng-if="task.isSelected" ng-cloak editable-text="task.name"
                                      onbeforesave="saveTaskName($data, task.name)" buttons="no" blur="submit">
                                    <small>
                                        <span>{{taskPrefixLabel(task.id)}}</span>
                                        <span ng-if="task.name !== 'label' && taskPostfixLabel(task.id)" uib-tooltip-html="taskLabels(task.id)"
                                              tooltip-append-to-body="true" tooltip-placement="auto top">
                                            <i ng-if="taskPrefixLabel(task.id)" class="fa fa-angle-double-right"></i>
                                            {{taskPostfixLabel(task.id)}}
                                        </span>
                                        <span ng-if="taskPrefixLabel(task.id) || taskPostfixLabel(task.id)">: </span>
                                    </small>
                                    <span ng-if="task.name !== 'label'" ng-bind-html="task.name"></span>
                                    <span ng-if="task.name === 'label'"
                                          uib-tooltip-html="taskLabels(task.id)"
                                          tooltip-append-to-body="true" tooltip-placement="auto top">
                                            {{taskPostfixLabel(task.id)}}
                                    </span>
                                </span>
                                <span ng-if="!task.isSelected" ng-cloak>
                                    <small>
                                        <span>{{taskPrefixLabel(task.id)}}</span>
                                        <span ng-if="task.name !== 'label' && taskPostfixLabel(task.id)" uib-tooltip-html="taskLabels(task.id)"
                                              tooltip-append-to-body="true" tooltip-placement="auto top">
                                            <i ng-if="taskPrefixLabel(task.id)" class="fa fa-angle-double-right"></i>
                                            {{taskPostfixLabel(task.id)}}
                                        </span>
                                        <span ng-if="taskPrefixLabel(task.id) || taskPostfixLabel(task.id)">: </span>
                                    </small>
                                    <span ng-if="task.name !== 'label'" ng-bind-html="task.name"></span>
                                    <span ng-if="task.name === 'label'"
                                          uib-tooltip-html="taskLabels(task.id)"
                                          tooltip-append-to-body="true" tooltip-placement="auto top">
                                            {{taskPostfixLabel(task.id)}}
                                    </span>
                                </span>
                            </span>
                        </div>
                        <div class="col-sm-11" ng-if="!$first">
                            <span ng-if="taskPostfixLabel(task.id).substring(0,5) == 'Lemma'">
                                <span class="fa fa-cogs"></span>
                                <a class="btn btn-link" ng-click="openLemmaProof(task.id)">{{taskPostfixLabel(task.id)}}</a>
                            </span>
                            <span ng-if="taskPostfixLabel(task.id).substring(0,5) != 'Lemma'">
                                <span class="fa" ng-class="{'fa-tasks' : !(taskPostfixLabel(task.id)=='QE CEX' || taskPrefixLabel(task.id) == 'QE CEX'), 'fa-bolt text-danger' : taskPostfixLabel(task.id)=='QE CEX' || taskPrefixLabel(task.id) == 'QE CEX'}"></span>
                                <!-- have to use blur, because editable doesn't work with uib-tabs in any other way -->
                                <span ng-if="task.isSelected" ng-cloak editable-text="task.name"
                                      onbeforesave="saveTaskName($data, task.name)" buttons="no" blur="submit">
                                    <small>
                                        <span>{{taskPrefixLabel(task.id)}}</span>
                                        <span ng-if="task.name !== 'label' && taskPostfixLabel(task.id)" uib-tooltip-html="taskLabels(task.id)"
                                              tooltip-append-to-body="true" tooltip-placement="auto top">
                                            <i ng-if="taskPrefixLabel(task.id)" class="fa fa-angle-double-right"></i>
                                            {{taskPostfixLabel(task.id)}}
                                        </span>
                                        <span ng-if="taskPrefixLabel(task.id) || taskPostfixLabel(task.id)">: </span>
                                    </small>
                                    <span ng-if="task.name !== 'label'" ng-bind-html="task.name"></span>
                                    <span ng-if="task.name === 'label'"
                                          uib-tooltip-html="taskLabels(task.id)"
                                          tooltip-append-to-body="true" tooltip-placement="auto top">
                                            {{taskPostfixLabel(task.id)}}
                                    </span>
                                </span>
                            </span>
                            <span ng-if="!task.isSelected" ng-cloak>
                                <small>
                                    <span>{{taskPrefixLabel(task.id)}}</span>
                                    <span ng-if="task.name !=='label' && taskPostfixLabel(task.id)" uib-tooltip-html="taskLabels(task.id)"
                                          tooltip-append-to-body="true" tooltip-placement="auto top">
                                        <i ng-if="taskPrefixLabel(task.id)" class="fa fa-angle-double-right"></i>
                                        {{taskPostfixLabel(task.id)}}
                                    </span>
                                    <span ng-if="taskPrefixLabel(task.id) || taskPostfixLabel(task.id)">: </span>
                                </small>
                                <span ng-if="task.name !== 'label'" ng-bind-html="task.name"></span>
                                <span ng-if="task.name === 'label'"
                                      uib-tooltip-html="taskLabels(task.id)"
                                      tooltip-append-to-body="true" tooltip-placement="auto top">
                                        {{taskPostfixLabel(task.id)}}
                                </span>
                            </span>
                        </div>
                        <!-- TODO failed attempt to provide a preview of the goal -->
                        <!--<div class="col-sm-3"  ng-if="selectedTask != task"><span class="fa fa-tasks k4-nowrap k4-abbreviate"> {{task.goalLabel}}</span></div>-->
                        <!--<div class="col-sm-8" ng-if="selectedTask != task">-->
                            <!--<span class="k4-tiny k4-abbreviate k4-nowrap">-->
                                <!--<k4-formula formula="task.proofNode.sequent.ante[0].formula"-->
                                            <!--highlight="false"-->
                                            <!--collapsed="true"-->
                                            <!--ng-if="task.proofNode.sequent.ante.length > 0"></k4-formula>-->
                                <!--&#8866;-->
                                <!--<k4-formula formula="task.proofNode.sequent.succ[0].formula"-->
                                            <!--highlight="false"-->
                                            <!--collapsed="true"-->
                                            <!--ng-if="task.proofNode.sequent.succ.length > 0"></k4-formula>-->
                            <!--</span>-->
                        <!--</div>-->
                        <div class="col-sm-1" cg-busy="defer" ng-if="defer"></div>
                    </div>
                </uib-tab-heading>

                <!-- ng-if: prevent compiling invisible (other) tabs, but recompiles every time tab is selected -->
                <div class="container" id="provingsequentview">
                    <k4-sequentproof user-id="userId"
                                 proof-id="proofId"
                                 node-id="task.id"
                                 deduction-path="task.deduction"
                                 proof-tree="prooftree"
                                 agenda="agenda"
                                 read-only="false"
                                 on-tactic="doTactic(formulaId, tacticId)"
                                 on-input-tactic="doInputTactic(formulaId, tacticId, input)"
                                 on-two-position-tactic="doTwoPositionTactic(fml1Id, fml2Id, tacticId)"
                                 ng-if="task.isSelected"></k4-sequentproof>
                </div>

                <!-- vertical gap between sequent and tactic editor to provide space for collapse/expand buttons -->
                <div style="margin-top:20px;"></div>

                <!-- Tactic -->
                <div class="row" id="provingtactics" ng-if="task.isSelected">
                    <div class="col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-heading panel-heading-compact">
                                <div class="row">
                                <div class="col-sm-2" ng-if="taskExplanation.selection=='Tactic'">
                                    <div class="btn-group-sm k4-nobreak">
                                        <label class="btn btn-secondary" ng-model="taskExplanation.selection"
                                               uib-btn-radio="'Tactic'" uib-tooltip="Display and edit the recorded proof steps (tactic)"
                                               tooltip-placement="auto top">Tactic</label>
                                        <label class="btn btn-secondary" ng-model="taskExplanation.selection"
                                               uib-btn-radio="'Rule'" uib-tooltip="Display the last proof rule, which produced the current conjecture"
                                               tooltip-placement="auto top">
                                            Rule
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-12" ng-if="taskExplanation.selection=='Rule'">
                                    <div class="btn-group-sm">
                                        <label class="btn btn-secondary" ng-model="taskExplanation.selection"
                                               uib-btn-radio="'Tactic'" uib-tooltip="Display and edit the recorded proof steps (tactic)"
                                               tooltip-placement="auto top">Tactic</label>
                                        <label class="btn btn-secondary" ng-model="taskExplanation.selection"
                                               uib-btn-radio="'Rule'" uib-tooltip="Display the last proof rule, which produced the current conjecture"
                                               tooltip-placement="auto top" data-intro="Proof steps are explained here with proof rules and axioms. Click <i class='fa fa-question-circle'></i> for additional details and links to learning resources." data-position="bottom">
                                            Rule&nbsp;<code ng-if="stepAxiom().length > 0 && stepAxiom()[0].codeName !== 'nil'">{{stepAxiom()[0].codeName}}</code>&nbsp;
                                            <span ng-if="stepAxiom().length > 0 && stepAxiom()[0].codeName !== 'nil'"
                                                  uib-popover-template="fetchRuleHelp(stepAxiom()[0].codeName)"
                                                  popover-placement="auto top-left"
                                                  popover-trigger="'outsideClick'"><i class="fa fa-question-circle"></i></span>
                                        </label>
                                    </div>
                                </div>
                                <div ng-if="taskExplanation.selection=='Tactic'" ng-cloak>

                                </div>
                                </div>
                            </div>
                            <div class="panel-body k4-no-padding">
                                <div ng-if="taskExplanation.selection=='Tactic'"
                                     class="k4-half-screenheight"
                                     ng-cloak data-intro="Clicks are recorded as tactic here. Append to program proof steps instead of clicking. <dl class='dl-horizontal'><dt><code>s ; t</code></dt><dd>Run t after s</dd><dt><code>s | t</code></dt><dd>Run t if s fails</dd><dt><code>t*</code></dt><dd>Repeat t exhaustively</dd><dt><code>t*n</code></dt><dd>Run t n times</dd><dt><code>&lt;(t1,...tn)</code></dt><dd>Run ti on subgoal i</dd><dt><code>doall(t)</code></dt><dd>Run t on every subgoal</dd><dt>t(j)</dt><dd>Apply t at position j</dd><dt>1, 2, 3, ..., 'Rlast</dt><dd>Succedent positions</dd><dt>-1, -2, -3, ..., 'Llast</dt><dd>Antecedent positions</dd><dt>4.0.1</dt><dd>Subposition, second child of first child of succedent 4</dd><dt>'L, 'R</dt><dd>Search left/right for first applicable formula</dd></dl>" data-position="bottom">
                                    <k4-tactic-editor
                                            user-id="userId" proof-id="proofId" node-id="task.id"
                                            on-tactic-script="onTacticScript(tacticText, stepwise)">
                                    </k4-tactic-editor>
                                </div>
                                <div ng-if="taskExplanation.selection=='Rule'" ng-cloak>
                                    <div ng-include="'templates/stepExplanationTooltipTemplate.html'"></div>
                                </div>
                            </div>
                        </div>
                        <!-- could have further tabs: e.g., graphical tactic editor -->
                    </div>
                </div>
            </uib-tab>
        </uib-tabset>
        <div ng-if="agenda.items().length <= 0" ng-cloak>
            <div ng-include="'partials/prooffinisheddialog.html'"></div>
        </div>
    </div>
</div>

</div>
</div>
</div>
</div>
