<div class="modal-header">
    <h3 class="modal-title">Proof:
        <span ng-if="proof.checking" ng-cloak>
            <i class="fa fa-spinner fa-spin"></i> Checking proof
        </span>
        <span ng-if="proof.isProved" ng-cloak>
            <i class="fa fa-check"></i> All goals closed
        </span>
        <span ng-if="proof.isProved !== undefined && !proof.isProved" ng-cloak>
            <i class="fa fa-bolt"></i> Open goals need to be proved
        </span>
        <span class="pull-right">
            <button ng-class="{'btn':true, 'btn-default':true, 'disabled':proof.checking}"
                    ng-click="browseProof()"><i class="fa fa-globe"></i> Browse proof</button>
            <button ng-controller="ModelProofCreateCtrl" ng-class="{'btn':true, 'btn-default':true, 'disabled':proof.checking}"
                    ng-click="createProof(agenda.modelId, '', '')"><i class="fa fa-undo"></i> Redo proof</button>
            <button ng-class="{'btn':true, 'btn-default':true, 'disabled':proof.checking}"
                    ng-click="downloadLemma()"><i class="fa fa-certificate"></i> Download lemma</button>
            <button ng-class="{'btn':true, 'btn-default':true, 'disabled':proof.checking}"
                    ng-click="downloadProofArchive()"><i class="fa fa-archive"></i> Download archive</button>
        </span>
    </h3>
</div>
<div class="modal-body">
    <div>
        <pre class="k4-vertical-fill-flex"><code>{{proof.provable}}</code></pre>
    </div>

    <h4>Tactic to Reproduce the Proof</h4>
    <div>
        <pre class="k4-vertical-fill-flex"><code>{{proof.tactic}}</code></pre>
    </div>
    <!-- TODO Display proof statistics -->
</div>