<div class="k4-busy-container" ng-controller="RunningTacticsCtrl">

    <!--<div class="k4-busy-overlay">-->
        <!--<span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>{{$message}}-->
        <!--<button class="btn btn-default" ng-click="abort()"><span class="glyphicon glyphicon-stop"></span> Abort</button>-->
    <!--</div>-->
    <!--<span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>-->
    <i class="fa fa-circle-o-notch fa-spin"></i>
</div>