<div ng-repeat="f in sequent.ante"
      id="{{f.id}}">
    <div class="row k4-flexrow">
        <div class="col-md-1 k4-sequent-index k4-flexcell">
            <div class="k4-valign-table">
                <div class="k4-valign-cell">-{{sequent.ante.length - $index}}</div> <!-- ante pos -->
            </div>
        </div>
        <!--<td><k4-formula formula="f.formula" highlight="true"></k4-formula></td>-->
        <div class="col-md-11 k4-formula k4-flexcell" ng-if="!readOnly">
            <ul>
                <li><a href="" ng-click="applyTacticsOnFormulaByName(f.id,'keymaerax.step')"><span class="fa fa-step-forward"></span> Step</a></li>
                <li><a href="" ng-click="applyTacticsOnFormulaByName(f.id,'dl.hide')"><span class="fa fa-eye-slash"></span> Hide</a></li>
            </ul>
            <div class="k4-formula-content" ng-click="handleFormulaClick(f,true)">
            <!-- TODO drag&drop only works with formula2.js (significantly slower than formula.js) -->
                 <!--data-jqyoui-options="{revert: 'invalid', helper: 'clone'}"-->
                 <!--jqyoui-draggable="{placeholder:'keep'}" data-drag="true" ng-model="f">-->
                <k4-formula user-id="userId" proof-id="proofId" node-id="nodeId" goal-id="goalId" formula="f.formula"
                            on-tactic="onTactic(formulaId, tacticId)" highlight="true"></k4-formula>
            </div>
        </div>
        <div class="col-md-11 k4-formula k4-flexcell" ng-if="readOnly">
            <k4-formula user-id="userId" proof-id="proofId" node-id="nodeId" goal-id="goalId" formula="f.formula"
                        on-tactic="onTactic(formulaId, tacticId)" highlight="false"></k4-formula>
        </div>
    </div>
</div>

<div class="row k4-flexrow">
    <div class="col-md-1 k4-sequent-index k4-flexcell">
        <div class="k4-valign-table">
            <div class="k4-valign-cell">0</div>
        </div>
    </div>
    <div class="col-md-11 k4-formula k4-flexcell" ng-if="!readOnly">
        <ul>
            <li><a href="" ng-click="applyTacticsByName('keymaerax.default')"><i class="fa fa-magic"></i> Auto</a></li>
            <li><a href="" ng-click="applyTacticsByName('keymaerax.propositional')"><i class="fa fa-forward"></i> Propositional</a></li>
            <li><a href="" ng-click="applyTacticsByName('keymaerax.arithmetic')"><i class="fa fa-calculator"></i> Arithmetic</a></li>
            <li><a href="" ng-click="applyTacticsByName('keymaerax.defaultNoArith')">
                    <i class="fa fa-ban"></i>  w/o Arith.<br/></a>
            <li><a href="" ng-click="getCounterExample()"><i class="fa fa-search"></i> Counter Ex.</a></li>
            </li>
            <!--<li><a href="" ng-click="applyTacticsByName(f,'keymaerax.cut')"><span class="fa fa-pencil"></span> Cut</a></li>-->
        </ul>
        <div class="k4-formula-content">
            <a type="button" class="btn" ng-click="handleTurnstileClick()">&#8866;</a>
        </div>
    </div>
    <div class="col-md-11 k4-formula k4-flexcell" ng-if="readOnly">&#8866;</div>
</div>

<div ng-repeat="f in sequent.succ"
      id="{{f.id}}">
    <div class="row k4-flexrow">
        <div class="col-md-1 k4-sequent-index k4-flexcell">
            <div class="k4-valign-table">
                <div class="k4-valign-cell">{{$index + 1}}</div> <!-- succ position number -->
            </div>
        </div>
        <div class="col-md-11 k4-formula k4-flexcell" ng-if="!readOnly">
            <ul>
                <li><a href="" ng-click="applyTacticsOnFormulaByName(f.id,'keymaerax.step')"><span class="fa fa-step-forward"></span> Step</a></li>
                <li><a href="" ng-click="applyTacticsOnFormulaByName(f.id,'dl.hide')"><span class="fa fa-eye-slash"></span> Hide</a></li>
            </ul>
            <div class="k4-formula-content" ng-click="handleFormulaClick(f,false)">
                    <!-- TODO drag&drop only works with formula2.js (significantly slower than formula.js) -->
                     <!--data-jqyoui-options="{revert: 'invalid', helper: 'clone'}"-->
                     <!--jqyoui-draggable="{placeholder:'keep'}" data-drag="true" ng-model="f">-->
                <k4-formula user-id="userId" proof-id="proofId" node-id="nodeId" goal-id="goalId" formula="f.formula"
                            on-tactic="onTactic(formulaId, tacticId)" highlight="true"></k4-formula>
            </div>
        </div>
        <div class="col-md-11 k4-formula k4-flexcell" ng-if="readOnly">
            <k4-formula user-id="userId" proof-id="proofId" node-id="nodeId" goal-id="goalId" formula="f.formula"
                        on-tactic="onTactic(formulaId, tacticId)" highlight="false"></k4-formula>
        </div>
    </div>
</div>

