<!-- Open Goal -->
<div class="row">
    <div class="col-md-12">
        <!-- need duplication because 'step.subgoals.length > 0' is non-assignable -->
        <k4-sequent user-id="userId" proof-id="proofId" node-id="nodeId" goal-id="deductionPath[0]"
                    sequent="proofTree.nodesMap[deductionPath[0]].sequent"
                    read-only="readOnly" collapsed="false" on-use-at="onUseAt(formulaId, axiomId)"></k4-sequent>
    </div>
</div>
<!-- Conclusion -->
<div class="row k4-proofrow" ng-repeat="stepId in deductionPath.slice(1)">
    <div class="col-md-12 k4-goalwithsiblings">
        <k4-sequent user-id="userId" proof-id="proofId" node-id="nodeId" goal-id="deductionPath[0]"
                    sequent="proofTree.nodesMap[stepId].sequent"
                    read-only="true" collapsed="true" on-use-at="onUseAt(formulaId, axiomId)"></k4-sequent>
        <ul>
            <li ng-repeat="sibling in siblingCandidates(proofTree.nodesMap[stepId].children)">
                <!-- assumes that only one agenda item mentions a specific node in the proof tree -->
                <!-- todo HTML tooltip would be nice, but couldn't get to work so far -->
                <a ng-click="agenda.select(agenda.itemsByProofStep(sibling)[0])"
                   uib-tooltip="{{tooltip(proofTree.nodesMap[sibling].sequent)}}"
                   tooltip-placement="top">{{agenda.itemsByProofStep(sibling)[0].id}}</a>
            </li>
        </ul>
    </div>
    <ul>
        <li uib-tooltip="{{proofTree.nodesMap[stepId].rule.name}}" tooltip-placement="right">
            {{proofTree.nodesMap[stepId].rule.name}}
        </li>
    </ul>
    <!-- add buttons: rewind to here, start alternative proof attempt etc. -->
</div>
<!-- navigation buttons below bottom-most proof row -->
<div class="row" ng-if="deductionPath[deductionPath.length-1] !== proofTree.root">
    <div class="col-md-12 text-center">
        <a ng-click="fetchParent(deductionPath[deductionPath.length-1])"
           ng-if="deductionPath.length > 0"><span class="fa fa-angle-down"> Parent</span></a>
        <a ng-click="fetchParent(goalId)"
           ng-if="deductionPath.length <= 0"><span class="fa fa-angle-down"> Parent</span></a>
        <a><span class="fa fa-code-fork"> Branching point</span></a>
        <a><span class="fa fa-angle-double-down"> Expand all</span></a>
    </div>
</div>
<!-- failed attempt on HTML tooltip -->
<!--<script type="text/ng-template" id="sequentTooltipHtml">-->
    <!--<span><small>{{tooltip(proofTree.nodesMap[sibling].sequent)}}</small></span>-->
<!--</script>-->
