<div class="col-sm-12">
    <!-- Character witdth measurement -->
    <div class="row k4-proofrow" ng-if="characterMeasure.show" ng-cloak>
        <div class="col-sm-12">
            <k4-sequent user-id="" proof-id="" node-id=""
                        sequent="characterWidthSequent"
                        read-only="true" collapsed="false" in-closed-proof="false" abbreviate="true"
                        on-apply-tactic=""
                        on-apply-input-tactic=""
                        on-apply-two-position-tactic=""></k4-sequent>
        </div>
    </div>
    <!-- Open Goal -->
    <div class="row k4-proofrow">
        <!-- need duplication because 'step.subgoals.length > 0' is non-assignable -->
        <div class="col-sm-12">
            <k4-sequent user-id="{{userId}}" proof-id="{{proofId}}" node-id="{{deductionPath.sections[0].path[0]}}"
                        sequent="proofTree.nodesMap[deductionPath.sections[0].path[0]].getSequent()"
                        read-only="readOnly" collapsed="false" in-closed-proof="proofTree.isProved" abbreviate="false"
                        on-apply-tactic="onApplyTactic(formulaId, tacticId)"
                        on-apply-input-tactic="onApplyInputTactic(formulaId, tacticId, input)"
                        on-apply-two-position-tactic="onApplyTwoPositionTactic(fml1Id, fml2Id, tacticId)"></k4-sequent>
        </div>
    </div>
    <div ng-if="deductionPath.isCollapsed">
        <div class="row k4-proofrow k4-proofrow-last">
            <!-- Left rule annotation -->
            <ul>
                <li>
                    <!-- Full collapse -->
                    <span class="k4-prooficon">
                        <a ng-click="deductionPath.isCollapsed = !deductionPath.isCollapsed"
                           uib-tooltip="Collapse/uncollapse everything"
                           tooltip-popup-delay="1000"><span class="fa fa-plus-square-o"></span></a>
                    </span>
                    <!-- proof rule -->
                    <span class="k4-withcontextmenu k4-proofrule"
                          tooltip-placement="right"
                          ng-mouseover="highlightStepPosition(deductionPath.sections[0].path[0], true)"
                          ng-mouseleave="highlightStepPosition(deductionPath.sections[0].path[0], false)"
                          uib-tooltip="{{deductionPath.sections[0].path[0] | maker:this}}">
                        {{deductionPath.sections[0].path[0] | ruleName:this}}
                    </span>
                </li>
            </ul>
            <!-- Right rule annotation -->
            <ul>
                <li>
                    <i class="fa fa-bars" ng-click="stepInto(proofId, proofTree.node(deductionPath.sections[0].path[0]).parent)"></i>
                </li>
            </ul>
        </div>
    </div>
    <div ng-if="!deductionPath.isCollapsed" ng-repeat="step in deductionPath.sections[0].path">
        <!-- Justification -->
        <div class="row k4-proofrow-justification" ng-repeat="justification in [justification(proofId, step)]">
            <div class="col-sm-12 well well-stepjustification" ng-if="justification && justification.visible && justification.kind === 'axiom'">
                <span>by {{justification.details.standardDerivation.name}} </span>
                <span ng-bind-html="justification.details.standardDerivation.derivation.formula"></span>
                <span class="pull-right">
                    <a class="btn btn-xs btn-default" ng-if="!readOnly" ng-click="prune(step)"><span class="fa fa-eraser"> Prune</span></a>
                    <span ng-if="justification.details.standardDerivation.codeName !== 'nil'"
                          uib-popover-template="fetchJustificationHelp(justification.details.standardDerivation.codeName)"
                          popover-placement="auto bottom-right"
                          popover-trigger="'outsideClick'"><i class="fa fa-question-circle"></i></span>
                </span>
            </div>
            <div class="col-sm-12 well well-stepjustification" ng-if="justification && justification.visible && justification.kind === 'sequentrule'">
                <span>by {{justification.details.standardDerivation.name}} </span>
                <span class="pull-right">
                    <a class="btn btn-xs btn-default" ng-if="!readOnly" ng-click="prune(step)"><span class="fa fa-eraser"> Prune</span></a>
                    <span ng-if="justification.details.standardDerivation.codeName !== 'nil'"
                          uib-popover-template="fetchJustificationHelp(justification.details.standardDerivation.codeName)"
                          popover-placement="auto bottom-right"
                          popover-trigger="'outsideClick'"><i class="fa fa-question-circle"></i></span>
                </span>

                <div class="col-sm-12" ng-repeat="tactic in [justification.details.standardDerivation]"
                     ng-include="'templates/sequentRuleTemplate.html'"></div>
            </div>
            <div class="col-sm-12 well well-stepjustification" ng-if="justification && justification.visible && justification.kind === 'tactic'">
                <span> by </span>
                <span class="pull-right">
                    <a class="btn btn-xs btn-default"
                       uib-popover-template="'proofStepTactic.html'"
                       popover-trigger="'outsideClick'"
                       popover-placement="auto bottom-right"><span class="fa fa-file-code-o"> Tactic</span></a>
                    <a class="btn btn-xs btn-default" ng-if="!readOnly" ng-click="prune(step)"><span class="fa fa-eraser"> Prune</span></a>
                    <span ng-if="justification.details.standardDerivation.codeName !== 'nil'"
                          uib-popover-template="fetchJustificationHelp(justification.details.standardDerivation.codeName)"
                          popover-placement="auto bottom-right"
                          popover-trigger="'outsideClick'"><i class="fa fa-question-circle"></i></span>
                </span>
                <k4-sequentproof user-id="userId"
                                 proof-id="justification.details.proofId"
                                 node-id="justification.details.agenda.items()[0].id"
                                 deduction-path="justification.details.agenda.items()[0].deduction"
                                 proof-tree="justification.details.proofTree"
                                 agenda="justification.details.agenda"
                                 read-only="true"
                                 on-tactic=""
                                 on-input-tactic=""
                                 on-two-position-tactic=""></k4-sequentproof>
            </div>
        </div>
        <!-- Conclusion -->
        <div class="row k4-proofrow" ng-if="$middle">
            <!-- Left rule annotation -->
            <ul>
                <li >
                    <!-- Full collapse icon -->
                    <span ng-if="$index == 1" class="k4-prooficon">
                        <a ng-click="deductionPath.isCollapsed = !deductionPath.isCollapsed"
                           uib-tooltip="Collapse/uncollapse everything"
                           tooltip-popup-delay="1000"><span class="fa fa-minus-square-o"></span></a>
                    </span>
                    <!-- proof rule -->
                    <span class="k4-withcontextmenu k4-proofrule"
                          tooltip-placement="right"
                          uib-tooltip="{{step | childMaker:this}}"
                          ng-mouseover="highlightStepPosition(proofStepChildren(step)[0], true)"
                          ng-mouseleave="highlightStepPosition(proofStepChildren(step)[0], false)"
                          ng-right-click="proofStepRightClick($event)" tabindex="-1"
                          uib-popover-template="'proofStepPopover.html'"
                          popover-title="Proof step" popover-placement="auto bottom" popover-trigger="'rightClick'">
                        {{step | childRuleName:this}}
                    </span>
                </li>
            </ul>
            <!-- Right rule annotation -->
            <ul>
                <li>
                    <i class="fa fa-bars" ng-click="stepInto(proofId, step)"></i>
                </li>
            </ul>
            <div class="col-sm-12 k4-goalwithsiblings" id="seq_{{proofTree.htmlNodeId(step)}}">
                <k4-sequent user-id="{{userId}}" proof-id="{{proofId}}" node-id="{{step}}"
                            sequent="proofTree.nodesMap[step].getSequent()"
                            read-only="true" collapsed="true" in-closed-proof="proofTree.isProved" abbreviate="false"></k4-sequent>
                <div ng-include="'siblinglinks.html'" replace-include></div>
            </div>
        </div>
        <div ng-if="$last" class="row k4-proofrow k4-proofrow-last">
            <!-- Left rule annotation -->
            <ul>
                <li>
                    <!-- Full collapse if middle is not displayed (1 or 2 elements in path) -->
                    <span ng-if="$index <= 1" class="k4-prooficon">
                        <a ng-click="deductionPath.isCollapsed = !deductionPath.isCollapsed"
                           uib-tooltip="Collapse/uncollapse everything"
                           tooltip-popup-delay="1000"><span class="fa fa-minus-square-o"></span></a>
                    </span>
                    <!-- Proof rule if not root -->
                    <span class="k4-withcontextmenu k4-proofrule"
                          tooltip-placement="right"
                          uib-tooltip="{{step | childMaker:this}}"
                          ng-mouseover="highlightStepPosition(proofStepChildren(step)[0], true)"
                          ng-mouseleave="highlightStepPosition(proofStepChildren(step)[0], false)"
                          ng-right-click="proofStepRightClick($event)" tabindex="-1"
                          uib-popover-template="'proofStepPopoverPrev.html'"
                          popover-title="Proof step" popover-placement="auto bottom" popover-trigger="'rightClick'">
                    {{step | childRuleName:this}}
                    </span>
                </li>
            </ul>
            <!-- Right rule annotation -->
            <ul>
                <li>
                    <i class="fa fa-bars" ng-click="stepInto(proofId, step)"></i>
                </li>
            </ul>
            <!-- do not repeat if first==last, i.e., sole element in list fetched so far -->
            <div ng-if="!$first" class="col-sm-12 k4-goalwithsiblings" id="seq_{{proofTree.htmlNodeId(step)}}">
                <k4-sequent user-id="{{userId}}" proof-id="{{proofId}}" node-id="{{step}}"
                            sequent="proofTree.nodesMap[step].getSequent()"
                            read-only="true" collapsed="true" in-closed-proof="proofTree.isProved" abbreviate="false"></k4-sequent>
                <div ng-include="'siblinglinks.html'" replace-include></div>
            </div>
            <!-- only display fetch elements on non-root nodes -->
            <div ng-if="step != '()'" class="col-sm-12 k4-proofrow-annotation">
                ...
                <ul>
                    <li>
                        <!-- load parent -->
                        <span class="k4-withcontextmenu fa fa-plus-square-o"
                              ng-click="fetchSectionParent(deductionPath.sections[0])"
                              uib-tooltip="Fetch parent step"
                              tooltip-popup-delay="1000"
                              ng-right-click="fetchParentRightClick($event)" tabindex="-1"
                              uib-popover-template="'navigateTowardsRootPopover.html'"
                              popover-title="Proof history" popover-placement="auto bottom" popover-trigger="'rightClick'"
                              ng-if="!deductionPath.sections[0].isComplete && !deductionPath.sections[0].isCollapsed"></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="navigateTowardsRootPopover.html">
    <div class="k4-nobreak">
        <a ng-click="showProofRoot()" ng-show="!isProofRootVisible()"><span class="fa fa-angle-down"> Show original conjecture</span><br/></a>
        <a ng-click="fetchPathAll(0)"><span class="fa fa-angle-double-down"> Expand all</span></a>
    </div>
</script>
<script type="text/ng-template" id="proofStepPopover.html">
    <div class="k4-nobreak">
        <a ng-click="prune(step)"><span class="fa fa-eraser"> Prune</span></a><br/>
        <!--<a ng-click="startProof(step)"><span class="fa fa-clone"> Start alternative proof</span></a><br/>-->
    </div>
</script>
<script type="text/ng-template" id="proofStepPopoverPrev.html">
    <div class="k4-nobreak">
        <a ng-click="prune(step)"><span class="fa fa-eraser"> Prune</span></a><br/>
        <!--<a ng-click="startProof(step)"><span class="fa fa-clone"> Start alternative proof</span></a><br/>-->
    </div>
</script>
<script type="text/ng-template" id="siblinglinks.html">
    <ul data-intro="Parent has multiple subgoals, click subgoal number to change tab" data-position="left">
        <!-- display siblings at fork -->
        <li ng-repeat="sibling in siblingsWithAgendaItem(step.children)">
            <!-- assumes that only one agenda item mentions a specific node in the proof tree -->
            <a ng-click="agenda.select(agenda.itemsByProofStep(sibling)[0])"
               class="badge">{{agenda.itemsByProofStep(sibling)[0].id}}</a>
        </li>
    </ul>
</script>
<script type="text/ng-template" id="rulehelp.html">
    <ng-include src="'/help/axiomsrules/' + rulehelp.codeName + '.html'"></ng-include>
</script>
<script type="text/ng-template" id="proofStepTactic.html">
    <div>
        <span>
            {{justification.details.tactic}}
        </span>
    </div>
</script>
