<div class="row">
    <div class="col-md-10">
        <h2 id="HP-syntax">Hybrid Programs</h2>

        <table class="table table-hover">
            <thead>
            <tr>
                <td>Mathematical Syntax</td>
                <td>ASCII Syntax</td>
                <td>Effect</td>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>x := e</td>
                    <td><code>x := y;</code></td>
                    <td>discrete assignment of the value of term <code>e</code> to variable <var>x</var> (jump)</td>
                </tr>
                <tr>
                    <td>x := *</td>
                    <td><code>x := *;</code></td>
                    <td>nondeterministic assignment of an arbitrary real number to <var>x</var></td>
                </tr>
                <tr>
                    <td>x<sub>1</sub>'=f<sub>1</sub>(x), ... x<sub>n</sub>'=f<sub>n</sub>(x) &amp; Q</td>
                    <td><code>{x'=2*y&#160;&amp;&#160;x&#160;&gt;=&#160;0}</code></td>
                    <td>continuous evolution of <var>x</var> along the differential equation system <code>x'=2*y</code>
                        restricted to evolution domain described by formula <code>x&#160;&gt;=&#160;0</code></td>
                </tr>
                <tr>
                    <td>&alpha; ; &beta;</td>
                    <td><code>x&#160;:=&#160;5; x&#160;:=&#160;x+1;</code></td>
                    <td>sequential composition where <code>&beta;</code> starts after <code>&alpha;</code> finishes</td>
                </tr>
                <tr>
                    <td>&alpha; &cup; &beta;</td>
                    <td><code>x&#160;:=&#160;5;&#160;++&#160;y&#160;:=&#160;x;</code></td>
                    <td>nondeterministic choice, following either alternative <code>&alpha;</code> or <code>&beta;</code></td>
                </tr>
                <tr>
                    <td>&alpha;<sup>*</sup></td>
                    <td><code>{x&#160;:=&#160;x+1;}*</code></td>
                    <td>nondeterministic repetition, repeating <code>&alpha;</code> <var>n</var> times for any <code>n &isin; &#8469;</code></td>
                </tr>
            </tbody>
        </table>

        <p>
The behavior of hybrid systems is specified as a hybrid program,
which is a program notation for hybrid systems.
            The syntax of hybrid programs is shown together with an informal semantics in the table above. The basic terms
            (called <code>e</code> in the table) are either rational number constants, real-valued variables or (possibly
            nonlinear) polynomial or rational arithmetic expressions built from those.
            The effect of <code>x := e</code> is an instantaneous discrete jump
            assigning the value of <code>e</code> to the variable <var>x</var>. The term <code>e</code> can be an arbitrary polynomial.
            The controller could, for example, assign braking power <code>-B</code> to the acceleration
            by the assignment <code>a := -B</code> when using brakes of force <code>B>0</code>.
        </p>
        <p>
            The effect of <code>x' = f(x) &amp; Q</code> is an ongoing continuous evolution
            controlled by the differential equation <code>x' = f(x)</code> that
            is restricted to remain within the evolution domain <var>Q</var>,
            which is a formula of real arithmetic over unprimed variables.
            The evolution is allowed to stop at any point in <var>Q</var>
            but it must not leave <var>Q</var>. Systems of differential equations
            and higher-order derivatives are defined accordingly:
            <code>{p' = v, v' = -B &amp; v &ge; 0}</code>, for instance, characterizes
            the braking mode of a car with braking force <code>B</code> that
            holds within <code>v &ge; 0</code> and stops any time before <code>v < 0</code>.
            It indicates that the rate of change of the position <var>P</var> is given by the velocity <code>v</code>, which in turn changes at the rate <code>-B</code>.
        </p>
        <p>
            For discrete control, the test action <code>?F</code> (read as "assume
            F") is used as a condition statement. It succeeds
            without changing the state if <code>F</code> is true in the current
            state, otherwise it aborts all further evolution. For example,
            a car controller can check whether the chosen acceleration
            is within physical limits by <code>?(-B &le; a &le; A)</code>.
            If a computation branch does not satisfy this condition,
            that branch is discontinued and aborts. From a modeling
            perspective, tests should only fail if a branch is not
            possible in the original system, as it will no longer be
            possible in the model of the system. Therefore, during
            verification we consider only those branches of a system
            where all tests succeed.
        </p>
        <p>
            From these basic constructs, more complex hybrid
            programs can be built in KeYmaera similar to regular
            expressions. The sequential composition <code>&alpha; ; &beta;</code> expresses
            that hybrid program <code>&beta;</code> starts after hybrid program <code>&alpha;</code> finishes. The nondeterministic choice
            <code>&alpha; &cup; &beta;</code> expresses alternatives in the behavior of the hybrid
            system that are selected nondeterministically. Nondeterministic
            repetition <code>&alpha;<sup>*</sup></code> says that the hybrid program <code>&alpha;</code>
            repeats an arbitrary number of times, including zero.
        </p>

        <h2 id="dL-syntax">Differential Dynamic Logic</h2>

        <table class="table table-hover">
            <thead>
            <tr>
                <td>Mathematical Syntax</td>
                <td>ASCII Syntax</td>
                <td>Meaning</td>
            </tr>
            </thead>
<tbody>
  <tr>
    <tr><td><code>e &ge; t</code></td> <td><code>x^2&gt;=y+1</code></td> <td>Greater equals comparison: true iff value of <code>t</code> is at least <code>t</code></td></tr>
    <tr><td><code>&not; P</code></td> <td><code>!(x&gt;=5)</code></td> <td>Negation (not), true iff <var>P</var> is not true</td></tr>
  	<tr><td><code>P &and; Q</code></td> <td><code>x&lt;=10 &amp; v&gt;=0</code></td> <td>Conjunction (and), true iff both <var>P</var> and <var>Q</var> are true</td></tr>
  	<tr><td><code>P &or; Q</code></td> <td><code>v&lt;=30 | a&lt;2-b</code></td> <td>Disjunction (or), true iff <var>P</var> is true or <var>Q</var> is true</td></tr>
</tr>
  	<tr><td><code>P &rarr; Q</code></td> <td><code>x&gt;=10 -&gt; v&lt;=1</code></td> <td>Implication (implies), true iff <var>P</var> is false or <var>Q</var> is true</td></tr>
</tr> 
  <tr><td><code>P &#10231; Q</code></td> <td><code>x=0 &lt;-&gt; x^2=0</code></td> <td>Biimplication (equivalent), true iff <var>P</var> and <var>Q</var> are both true or both false</td></tr>
</tr> 
    <tr><td><code>&forall;x P</code></td> <td><code>\forall&#160;x x^2&gt;=0</code></td> <td>Universal quantifier, true if <var>P</var> is true for all real values of variable <var>x</var></td></tr>
    <tr><td><code>&exist;x P</code></td> <td><code>\exists&#160;x x^2&gt;x^4</code></td> <td>Existential quantifier, true if <var>P</var> is true for some real value of variable <var>x</var></td></tr>
    <tr><td><code>[&alpha;]P</code></td> <td><code>[x:=x^2;] x>=0</code></td> <td>Box modality: <var>P</var> is true after all runs of hybrid program <code>&alpha;</code></td></tr>
    <tr><td><code>&lt;&alpha;&gt;P</code></td> <td><code>&lt;{x'=5}&gt; x&gt;=10</code></td> <td>Diamond modality: <var>P</var> is true after at least one run of hybrid program <code>&alpha;</code></td></tr>
</tbody>
</table>

<p>
<b>Formulas of differential dynamic logic (dL)</b>, with typical names <var>P</var> and <var>Q</var>, are defined by the syntax shown above.
The basic idea for <b>dL formulas</b> is to have formulas of the form
[&alpha;]&#966;
to specify that the hybrid system &alpha; always remains within region <var>P</var>, i.e.,
all states reachable by following the transitions of hybrid system &alpha; statisfy the formula <var>P</var>.
Dually, the dL formula
<var>&lt;&alpha;&gt;P</var>
expresses that the hybrid system &alpha; is able to reach region <var>P</var>, i.e.,
there is a state reachable by following the transitions of hybrid system &alpha; that satisfies the formula <var>P</var>.
In either case, the hybrid system &alpha; is given as a full operational model in terms of a hybrid program.
Using other propositional connectives, one can state the following dL formula
        <center><code>P &rarr; [&alpha;]Q</code></center>
which expresses that, if hybrid program &alpha; initially starts in a state satisfying <var>P</var>, then
it always remains in the region characterized by <var>Q</var>.
For instance, the following dL formula expresses that for the state of a car controller <var>car</var>,
the property <var>x&#x02264;m</var> always holds true when starting in a state
where <var>v&gt;=0</var> and <var>A&#8805;0</var> and <var>B&gt;0</var> are true:
  <center><code>v&gt;=0 &amp; A&gt;0 &amp; B&gt;0 -&gt; [<var>car</var>]v&gt;=0</code></center>
In this model <var>x</var> is the position of the car, <var>v</var> the velocity of the car, <var>B</var> its braking power, and <var>A</var> its maximum acceleration.
</p>

        <h3 id="Example">Example</h3>
        <p>
        This is an example of a <code>.kyx</code> model file that can be loaded into KeYmaera&#160;X.
        </p>

        <code><pre>
Functions.        /* function symbols cannot change their value */
    R A.          /* maximum acceleration */
    R B.          /* maximum braking */
End.

ProgramVariables. /* program variables may change their value over time */
    R x.          /* position of a point moving along a straight line */
    R v.          /* velocity */
    R a.          /* current acceleration chosen by controller */
End.

Problem.          /* The differential dynamic logic formula to prove */
  v >= 0 & A > 0 & B > 0               /* initial condition */
 ->                                    /* implies that */
  [                                    /* all behavior of: */
    {                                  /* system dynamics */
      {a := A; ++ a := 0; ++ a := -B;} /* non-deterministic acceleration choice */
      {x' = v, v' = a & v >= 0}        /* differential equation system in v>=0 */
    }* @invariant(v >= 0)              /* loop repeats transitions */
  ] v >= 0                             /* satisfies safety/postcondition */
End.
        </pre></code>
    </div>
</div>

<h3 id="More">More Information</h3>
<ul>
  <li>Andr&#233; Platzer. <a href="http://symbolaris.com/pub/lds-lics.pdf">Logics of dynamical systems</a> (<a href="http://symbolaris.com/pub/lds-slides.pdf">invited tutorial</a>). 
ACM/IEEE Symposium on Logic in Computer Science, LICS 2012, June 25–28, 2012, Dubrovnik, Croatia, pages 13-24. IEEE 2012</li>
  <li>Jan-David Quesel, Stefan Mitsch, Sarah Loos, Nikos Ar&#233;chiga, and Andr&#233; Platzer.
<a href="http://dx.doi.org/10.1007/s10009-015-0367-0">How to model and prove hybrid systems with KeYmaera: A tutorial on safety</a>. 
STTT, <b>18</b>(1), pp. 67-91. 2016.
  <li>Andr&#233; Platzer. <a href="http://symbolaris.com/pub/usubst-complete.pdf">A complete uniform substitution calculus for differential dynamic logic</a>. 
Journal of Automated Reasoning, 2016.</li>
  <li>Andr&#233; Platzer. <a href="http://symbolaris.com/pub/freedL.pdf">Differential dynamic logic for hybrid systems</a>. 
Journal of Automated Reasoning, <b>41</b>(2), pages 143-189, 2008.</li>
</ul>

<h3 id="Books">Compendia</h3>
<ul>
  <li>Andr&#233; Platzer. <a href="http://lfcps.org/course/fcps17.html">Foundations of Cyber-Physical Systems</a>. 
Lecture Notes, Computer Science Department, Carnegie Mellon University. 2017.</li>
  <li>Andr&#233; Platzer. <a href="http://dx.doi.org/10.1007/978-3-642-14509-4">Logical Analysis of Hybrid Systems: Proving Theorems for Complex Dynamics</a>. 
Springer, 2010.</a></li>
</ul>

<script>
    MathJax.Hub.Queue(["Typeset",MathJax.Hub]);
</script>