<div class="row">
    <div class="col-md-10">
        <h2 id="HP-syntax">Hybrid Program Syntax</h2>

        <table class="table table-hover">
            <thead>
            <tr>
                <td>Mathematical Syntax</td>
                <td>ASCII Syntax</td>
                <td>Effect</td>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>\(x := e\)</td>
                    <td><code>x := y;</code></td>
                    <td>discrete assignment of the value of term \(e\) to variable \(x\) (jump)</td>
                </tr>
                <tr>
                    <td>\(x := *\)</td>
                    <td><code>x := *;</code></td>
                    <td>nondeterministic assignment of an arbitrary real number to \(x\) </td>
                </tr>
                <tr>
                    <td>\(x_1'=f_1(x), \ldots x_n'=f_n(x) \& Q\)</td>
                    <td><code>{x'=2*y&#160;&amp;&#160;x&#160;&gt;=&#160;0}</code></td>
                    <td>continuous evolution of \(x_i\) along the differential equation system \(x_i' = f_i(x)\)
                        restricted to evolution domain described by formula \(Q\)</td>
                </tr>
                <tr>
                    <td>\(\alpha;~\beta\)</td>
                    <td><code>x&#160;:=&#160;5; x&#160;:=&#160;x+1;</code></td>
                    <td>sequential composition where \(\beta\) starts after \(\alpha\) finishes</td>
                </tr>
                <tr>
                    <td>\(\alpha \cup \beta\)</td>
                    <td><code>x&#160;:=&#160;5; ++ y&#160;:=&#160;x;</code></td>
                    <td>nondeterministic choice, following either alternative \(\alpha\) or \(\beta\)</td>
                </tr>
                <tr>
                    <td>\(\alpha^*\)</td>
                    <td><code>{x&#160;:=&#160;x+1;}*</code></td>
                    <td>nondeterministic repetition, repeating \(\alpha\) \(n\) times for any \(n \in \mathbb{N}\)</td>
                </tr>
            </tbody>
        </table>

        <p>
The behavior of hybrid systems is specified as a hybrid program,
which is a program notation for hybrid systems.
            The syntax of hybrid programs is shown together with an informal semantics in the table above. The basic terms
            (called \(e\) in the table) are either rational number constants, real-valued variables or (possibly
            nonlinear) polynomial or rational arithmetic expressions built from those.
            The effect of \(x := e\) is an instantaneous discrete jump
            assigning the value of \(\theta\) to the variable \(x\). The term \(e\) can be an arbitrary polynomial.
            The controller could, for example, assign braking power \(-B\) to the acceleration
            by the assignment \(a := −B\) when using brakes of force \(B>0\).
        </p>
        <p>
            The effect of \(x' = f(x) \& Q\) is an ongoing continuous evolution
            controlled by the differential equation \(x' = f(x)\) that
            is restricted to remain within the evolution domain \(Q\),
            which is a formula of real arithmetic over unprimed variables.
            The evolution is allowed to stop at any point in \(Q\)
            but it must not leave \(Q\). Systems of differential equations
            and higher-order derivatives are defined accordingly:
            \(p' = v, v' = −B \& v \geq 0\), for instance, characterizes
            the braking mode of a car with braking force \(B\) that
            holds within \(v \geq 0\) and stops any time before \(v < 0\).
            It indicates that the rate of change of the position \(p\) is given by the velocity \(v\), which in turn changes at the rate \(-B\).
        </p>
        <p>
            For discrete control, the test action \(?F\) (read as "assume
            F") is used as a condition statement. It succeeds
            without changing the state if \(F\) is true in the current
            state, otherwise it aborts all further evolution. For example,
            a car controller can check whether the chosen acceleration
            is within physical limits by \(?(−B \leq a \leq A)\).
            If a computation branch does not satisfy this condition,
            that branch is discontinued and aborts. From a modeling
            perspective, tests should only fail if a branch is not
            possible in the original system, as it will no longer be
            possible in the model of the system. Therefore, during
            verification we consider only those branches of a system
            where all tests succeed.
        </p>
        <p>
            From these basic constructs, more complex hybrid
            programs can be built in KeYmaera similar to regular
            expressions. The sequential composition \(\alpha;~\beta\) expresses
            that hybrid program \(\beta\) starts after hybrid program \(\alpha\) finishes. The nondeterministic choice
            \(\alpha \cup \beta\) expresses alternatives in the behavior of the hybrid
            system that are selected nondeterministically. Nondeterministic
            repetition \(\alpha^*\) says that the hybrid program \(\alpha\)
            repeats an arbitrary number of times, including zero.
        </p>

        <h2 id="dL-syntax">Differential Dynamic Logic Syntax</h2>

        <table class="table table-hover">
            <thead>
            <tr>
                <td>Mathematical Syntax</td>
                <td>ASCII Syntax</td>
                <td>Meaning</td>
            </tr>
            </thead>
            <tbody>
  <tr>
  	<tr><td>\(e\geq\tilde{e}\)</td> <td><code>x^2&gt;=5</code></td> <td>Greater equals comparison: true iff \(x^2\) is at least 5</td></tr> 
  	<tr><td>\(\lnot P\)</td> <td><code>!(x&gt;=5)</code></td> <td>Negation (not), true iff \(P\) is not true</td></tr> 
  	<tr><td>\(P\wedge Q\)</td> <td><code>x&lt;=10 &amp; v&gt;=0</code></td> <td>Conjunction (and), true iff both \(P\) and \(Q\) are true</td></tr> 
  	<tr><td>\(P\vee Q\)</td> <td><code>v&lt;=30 | a&lt;2-b</code></td> <td>Disjunction (or), true iff \(P\) is true or \(Q\) is true</td></tr> 
</tr> 
  	<tr><td>\(P\rightarrow Q\)</td> <td><code>x&gt;=10 -&gt; v&lt;=1</code></td> <td>Implication (implies), true iff \(P\) is false or \(Q\) is true</td></tr> 
</tr> 
  	<tr><td>\(P\leftrightarrow Q\)</td> <td><code>x=0 &lt;-&gt; x^2=0</code></td> <td>Biimplication (equivalent), true iff \(P\) and \(Q\) are both true or both false</td></tr> 
</tr> 
  	<tr><td>\(\forall x\, P\)</td> <td><code>\forall&#160;x x^2&gt;=0</code></td> <td>Universal quantifier, true if \(P\) is true for all real values of variable \(x\)</td></tr>
  	<tr><td>\(\exists x\, P\)</td> <td><code>\exists&#160;x x^2&gt;x^4</code></td> <td>Existential quantifier, true if \(P\) is true for some real value of variable \(x\)</td></tr>
  	<tr><td>\([\alpha] P\)</td> <td><code>[x:=x^2;] x>=0</code></td> <td>Box modality: \(P\) is true after all runs of hybrid program \(\alpha\)</td></tr>
  	<tr><td>\(\langle\alpha\rangle P\)</td> <td><code>&lt;{x:=x+1;}*&gt; x&gt;=10</code></td> <td>Diamond modality: \(P\) is true after at least one run of hybrid program \(\alpha\)</td></tr>
</table>

<p>
<b>Formulas of differential dynamic logic (dL)</b>, with typical names \(P\) and \(Q\), are defined by the syntax shown above.
The basic idea for <b>dL formulas</b> is to have formulas of the form
[&#945;]&#966;
to specify that the hybrid system &#945; always remains within region <var>P</var>, i.e.,
all states reachable by following the transitions of hybrid system &#945; statisfy the formula <var>P</var>.
Dually, the dL formula
<var>&lt;&#945;&gt;P</var>
expresses that the hybrid system &#945; is able to reach region <var>P</var>, i.e.,
there is a state reachable by following the transitions of hybrid system &#945; that satisfies the formula <var>P</var>.
In either case, the hybrid system &#945; is given as a full operational model in terms of a hybrid program.
Using other propositional connectives, one can state the following dL formula
  <center>\(P \rightarrow [\alpha]Q\)</center>
which expresses that, if hybrid program &#945; initially starts in a state satisfying <var>P</var>, then
it always remains in the region characterized by <var>Q</var>.
For instance, the following dL formula expresses that for the state of a car controller <var>car</var>,
the property <var>x&#x02264;m</var> always holds true when starting in a state
where <var>v&gt;=0</var> and <var>A&#8805;0</var> and <var>B&gt;0</var> are true:
  <center><code>v&gt;=0 &amp; A&gt;0 &amp; B&gt;0 -&gt; [<var>car</var>]v&gt;=0</code></center>
In this model <var>x</var> is the position of the car, <var>v</var> the velocity of the car, <var>B</var> its braking power, and <var>A</var> its maximum acceleration.
A detailed model including a model for <var>car</var> are shown in the following KeYmaera X input file.
</p>

        <h3 id="Example">Example</h3>
        <p>

        </p>

        <code><pre>
Functions.        /* function symbols cannot change their value */
    R A.          /* maximum acceleration */
    R B.          /* maximum braking */
End.

ProgramVariables. /* program variables may change their value over time */
    R x.          /* position */
    R v.          /* velocity */
    R a.          /* current acceleration chosen by controller */
End.

Problem.
    v >= 0 & A > 0 & B > 0             /* initial condition */
  ->
    [                                  /* system dynamics */
    { 
      {a := A; ++ a := 0; ++ a := -B;} /* non-deterministic choice of accelerations */
      {x' = v, v' = a & v >= 0}        /* differential equation system */
    }* @invariant(v >= 0)              /* loop repeats transitions */
    ] v >= 0                           /* safety/postcondition */
End.
        </pre></code>
    </div>
</div>

<h3 id="More">More Information</h3>
<ul>
  <li>Andr&#233; Platzer. <a href="http://symbolaris.com/pub/lds-lics.pdf">Logics of dynamical systems</a> (<a href="http://symbolaris.com/pub/lds-slides.pdf">invited tutorial</a>). 
ACM/IEEE Symposium on Logic in Computer Science, LICS 2012, June 25–28, 2012, Dubrovnik, Croatia, pages 13-24. IEEE 2012</li>
  <li>Jan-David Quesel, Stefan Mitsch, Sarah Loos, Nikos Ar&#233;chiga, and Andr&#233; Platzer.
<a href="http://dx.doi.org/10.1007/s10009-015-0367-0">How to model and prove hybrid systems with KeYmaera: A tutorial on safety</a>. 
STTT. 2015
  <li>Andr&#233; Platzer. <a href="http://symbolaris.com/pub/freedL.pdf">Differential dynamic logic for hybrid systems</a>. 
Journal of Automated Reasoning, <b>41</b>(2), pages 143-189, 2008.</li>
  <li>Andr&#233; Platzer. <a href="http://symbolaris.com/pub/usubst.pdf">A uniform substitution calculus for differential dynamic logic</a>. 
In Amy P. Felty and Aart Middeldorp, editors, International Conference on Automated Deduction, CADE'15, Berlin, Germany, Proceedings, volume 9195 of LNCS, pages 467-481. Springer, 2015.</li>
</ul>

<h3 id="Books">Compendia</h3>
<ul>
  <li>Andr&#233; Platzer. <a href="http://www.cs.cmu.edu/~aplatzer/course/fcps16.html">Foundations of Cyber-Physical Systems</a>. 
Lecture Notes, Computer Science Department, Carnegie Mellon University. 2016.</li>
  <li>Andr&#233; Platzer. <a href="http://dx.doi.org/10.1007/978-3-642-14509-4">Logical Analysis of Hybrid Systems: Proving Theorems for Complex Dynamics</a>. 
Springer, 2010.</a></li>
</ul>

<script>
    MathJax.Hub.Queue(["Typeset",MathJax.Hub]);
</script>