<div class="modal-header">
    <h3>
        <span ng-if="config.mode==='toolConfig'">
            <span>Tool Configuration</span>
            <small ng-click="setMode('advancedConfig')">Advanced...</small>
        </span>
        <span ng-if="config.mode==='advancedConfig'">
            <span>Advanced Configuration</span>
            <small ng-click="setMode('toolConfig')">Tool...</small>
        </span>
        <span class="pull-right">
            <button ng-if="config.mode==='advancedConfig' && config.full.content !== config.full.origContent"
                    class="btn btn-primary" ng-click="saveFullConfig()">Save</button>
            <a ng-click="close()"><span class="fa fa-close"></span></a>
        </span>
    </h3>
</div>
<div class="modal-body" ng-if="config.mode==='toolConfig'">
<div class="row">
    <div class="col-md-5">
        <p>KeYmaera&#160;X uses backend tools to prove validity of real arithmetic formulas.
           Z3 is shipped with KeYmaera&#160;X for your convenience.
           Please select your preferred solver.
        </p>
        <p>
            <label for="toolSelect">Arithmetic Solver: </label>
            <span style="padding-right: 10px;"
                 data-intro="Choose an arithmetic solver (Z3 ships with KeYmaera X; Mathematica and Wolfram Engine require external installation but provide more features)."
                 data-position="right">
            <div class="btn-group" name="toolSelect" id="toolSelect">
                <a class="btn btn-success" ng-if="toolStatus.isInitialized('mathematica')"
                   ng-model="toolStatus.tool" uib-btn-radio="'mathematica'"
                   ng-disabled="toolStatus.initializing"
                   tooltip-placement="auto bottom-left" tooltip-append-to-body="true" uib-tooltip="Mathematica provides extensive backend support for solving/simplifying arithmetic, generating invariants for ODEs, and finding assumptions and counter-examples. A license from Wolfram is required.">
                      <i class="fa fa-check"></i>
                      <span>Mathematica</span>
                </a>
                <a class="btn btn-default" ng-if="toolStatus.tool !== 'mathematica'"
                   ng-model="toolStatus.tool" uib-btn-radio="'mathematica'"
                   ng-disabled="toolStatus.initializing"
                   tooltip-placement="auto bottom-left" tooltip-append-to-body="true" uib-tooltip="Mathematica provides extensive backend support for solving/simplifying arithmetic, generating invariants for ODEs, and finding assumptions and counter-examples. A license from Wolfram is required.">
                  Mathematica
                </a>
                <a class="btn btn-danger" ng-if="toolStatus.isError('mathematica')"
                   ng-model="toolStatus.tool" uib-btn-radio="'mathematica'"
                   ng-disabled="toolStatus.initializing"
                   tooltip-placement="auto bottom-left" tooltip-append-to-body="true" uib-tooltip="Mathematica provides extensive backend support for solving/simplifying arithmetic, generating invariants for ODEs, and finding assumptions and counter-examples. A license from Wolfram is required.">
                      <i class="fa fa-bolt"></i>
                      <span>Mathematica</span>
                </a>
                <a class="btn btn-warning" ng-if="toolStatus.isInitializing('mathematica') || toolStatus.isUnconfigured('mathematica')"
                   ng-model="toolStatus.tool" uib-btn-radio="'mathematica'"
                   ng-disabled="toolStatus.initializing"
                   tooltip-placement="auto bottom-left" tooltip-append-to-body="true" uib-tooltip="Mathematica provides extensive backend support for solving/simplifying arithmetic, generating invariants for ODEs, and finding assumptions and counter-examples. A license from Wolfram is required.">
                      <i class="fa fa-spinner fa-spin" ng-if="toolStatus.isInitializing('mathematica')"></i>
                      <span>Mathematica</span>
                </a>
                <a class="btn btn-success" ng-if="toolStatus.isInitialized('wolframengine')"
                   ng-model="toolStatus.tool" uib-btn-radio="'wolframengine'"
                   ng-disabled="toolStatus.initializing"
                   tooltip-placement="auto bottom-left" tooltip-append-to-body="true" uib-tooltip="Wolfram Engine provides backend functionality equivalent to Mathematica with a free license from Wolfram, but is intended for academic/personal/non-production use only and may need online connection to check the license.">
                      <i class="fa fa-check"></i>
                      <span>Wolfram Engine</span>
                </a>
                <a class="btn btn-default" ng-if="toolStatus.tool !== 'wolframengine'"
                   ng-model="toolStatus.tool" uib-btn-radio="'wolframengine'"
                   ng-disabled="toolStatus.initializing"
                   tooltip-placement="auto bottom-left" tooltip-append-to-body="true" uib-tooltip="Wolfram Engine provides backend functionality equivalent to Mathematica with a free license from Wolfram, but is intended for academic/personal/non-production use only and may need online connection to check the license.">
                      Wolfram Engine
                </a>
                <a class="btn btn-danger" ng-if="toolStatus.isError('wolframengine')"
                   ng-model="toolStatus.tool" uib-btn-radio="'wolframengine'"
                   ng-disabled="toolStatus.initializing"
                   tooltip-placement="auto bottom-left" tooltip-append-to-body="true" uib-tooltip="Wolfram Engine provides backend functionality equivalent to Mathematica with a free license from Wolfram, but is intended for academic/personal/non-production use only and may need online connection to check the license.">
                      <i class="fa fa-bolt"></i>
                      <span>Wolfram Engine</span>
                </a>
                <a class="btn btn-warning" ng-if="toolStatus.isInitializing('wolframengine') || toolStatus.isUnconfigured('wolframengine')"
                   ng-model="toolStatus.tool" uib-btn-radio="'wolframengine'"
                   ng-disabled="toolStatus.initializing"
                   tooltip-placement="auto bottom-left" tooltip-append-to-body="true" uib-tooltip="Wolfram Engine provides backend functionality equivalent to Mathematica with a free license from Wolfram, but is intended for academic/personal/non-production use only and may need online connection to check the license.">
                      <i class="fa fa-spinner fa-spin" ng-if="toolStatus.isInitializing('wolframengine')"></i>
                      <span>Wolfram Engine</span>
                </a>
                <a class="btn btn-success" ng-if="toolStatus.isInitialized('z3')"
                   ng-model="toolStatus.tool" uib-btn-radio="'z3'"
                   ng-disabled="toolStatus.initializing"
                   tooltip-placement="auto bottom-left" tooltip-append-to-body="true" uib-tooltip="Z3 is readily shipped with KeYmaera X, but provides limited backend support (e.g., no invariant generation, no counter-examples).">
                      <i class="fa fa-check"></i>
                      <span>Z3</span>
                </a>
                <a class="btn btn-default" ng-if="toolStatus.tool !== 'z3'"
                   ng-model="toolStatus.tool" uib-btn-radio="'z3'"
                   ng-disabled="toolStatus.initializing"
                   tooltip-placement="auto bottom-left" tooltip-append-to-body="true" uib-tooltip="Z3 is readily shipped with KeYmaera X, but provides limited backend support (e.g., no invariant generation, no counter-examples).">
                  Z3
                </a>
                <a class="btn btn-danger" ng-if="toolStatus.isError('z3')"
                   ng-model="toolStatus.tool" uib-btn-radio="'z3'"
                   ng-disabled="toolStatus.initializing"
                   tooltip-placement="auto bottom-left" tooltip-append-to-body="true" uib-tooltip="Z3 is readily shipped with KeYmaera X, but provides limited backend support (e.g., no invariant generation, no counter-examples).">
                      <i class="fa fa-bolt"></i>
                      <span>Z3</span>
                </a>
                <a class="btn btn-warning" ng-if="toolStatus.isInitializing('z3') || toolStatus.isUnconfigured('z3')"
                   ng-model="toolStatus.tool" uib-btn-radio="'z3'"
                   ng-disabled="toolStatus.initializing"
                   tooltip-placement="auto bottom-left" tooltip-append-to-body="true" uib-tooltip="Z3 is readily shipped with KeYmaera X, but provides limited backend support (e.g., no invariant generation, no counter-examples).">
                      <i class="fa fa-spinner fa-spin" ng-if="toolStatus.isInitializing('z3')"></i>
                      <span>Z3</span>
                </a>
            </div>
            </span>
        </p>
        <div class="alert alert-danger" ng-if="toolStatus.error">{{toolStatus.error}}</div>
        <div class="alert alert-warning" ng-if="!toolStatus.configured">Please configure below and click <kbd>Save</kbd></div>
    </div>
    <div class="col-md-7">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">System Information</h3>
            </div>
            <div class="panel-body">
                <dl class="dl-horizontal">
                    <dt>Operating System:</dt>
                    <dd>{{systemInfo.info.os}} {{systemInfo.info.osVersion}}</dd>
                    <dt>Java JVM:</dt>
                    <dd>{{systemInfo.info.jvmVendor}} {{systemInfo.info.jvmVersion}}</dd>
                    <dt>Java Home:</dt>
                    <dd>{{systemInfo.info.jvmHome}}</dd>
                </dl>
            </div>
        </div>
    </div>
</div>

<div ng-if="toolStatus.tool==='mathematica'">
    <div ng-include="'/partials/mathematica_config.html'"></div>
</div>
<div ng-if="toolStatus.tool==='wolframengine'">
    <div ng-include="'/partials/wolframengine_config.html'" ng-controller="WolframEngineConfig"></div>
</div>
<div ng-if="toolStatus.tool==='wolframscript'">
    <div ng-include="'/partials/wolframscript_config.html'" ng-controller="WolframScriptConfig"></div>
</div>

<div ng-if="toolStatus.tool==='z3'">
    <div ng-include="'/partials/z3_config.html'" ng-controller="Z3Config"></div>
</div>
</div>

<div class="modal-body k4-fill-screen" ng-if="config.mode==='advancedConfig'">
    <div class="row k4-vertical-fill-flex">
        <div class="col-md-12 k4-vertical-fill k4-vertical-fill-flex">
            <div ui-ace="{theme:'github',mode:'properties',showGutter:true}"
                 ng-model="config.full.content" id="editor"></div>
        </div>
    </div>
</div>
