<div class="modal-header">
    <h3>
        <span>Tool Configuration</span>
        <span class="pull-right"><a ng-click="close()"><span class="fa fa-close"></span></a></span>
    </h3>
</div>
<div class="modal-body modal-nofoot">
<div class="row">
    <div class="col-md-4">
        <p>KeYmaera&#160;X uses backend tools to prove validity of real arithmetic formulas.
           Z3 is shipped with KeYmaera&#160;X for your convenience.
           Please select your preferred solver.
        </p>

        <form name="toolSelection">
            <label for="toolSelect">Arithmetic Solver: </label>
            <span style="padding-right: 10px;"
                 data-intro="Choose an arithmetic solver (Z3 ships with KeYmaera X; Mathematica requires external installation but provides more features)."
                 data-position="right">
            <select name="toolSelect" id="toolSelect" ng-model="toolStatus.tool" ng-change="toolChange()">
                <option value="mathematica">Mathematica</option>
                <option value="z3">Z3</option>
            </select>
            </span>
        </form>
        <div ng-class="{'alert': true,
                        'alert-success': !toolStatus.initializing && toolStatus.initialized,
                        'alert-warning': toolStatus.initializing,
                        'alert-danger': !toolStatus.initializing && toolStatus.error}">
            <span ng-if="toolStatus.initializing">Initializing: <i class="fa fa-spinner fa-spin"></i></span>
            <span ng-if="!toolStatus.initializing && toolStatus.initialized">Initialized: <i class="fa fa-check"></i></span>
            <span ng-if="!toolStatus.initializing && toolStatus.error">{{toolStatus.error}}</span>
        </div>
    </div>
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">System Information</h3>
            </div>
            <div class="panel-body">
                <div ng-if="systemInfo.error" class="alert alert-warning">
                    Detected Java JVM 32bit. Unless your operating system is 32bit, tool connection is likely to fail.
                </div>
                <dl class="dl-horizontal">
                    <dt>Operating System:</dt>
                    <dd>{{systemInfo.info.os}} {{systemInfo.info.osVersion}}</dd>
                    <dt>Java JVM:</dt>
                    <dd>{{systemInfo.info.jvmVendor}} {{systemInfo.info.jvmVersion}} with <b>{{systemInfo.info.jvmArchitecture}} bits</b></dd>
                    <dt>Java Home:</dt>
                    <dd>{{systemInfo.info.jvmHome}}</dd>
                </dl>
            </div>
        </div>
    </div>
</div>

<div ng-if="toolStatus.tool==='mathematica'">
    <div ng-include="'/partials/mathematica_config.html'"></div>
</div>

<div ng-if="toolStatus.tool==='z3'">
    <h2>Z3 Configuration</h2>
    <p><b>Limited functionality with Z3.</b></p>
    <p>For advanced functionality, such as counterexample generation, monitor synthesis, test case generation,
        simplification, and arithmetic with alternating quantifiers please choose <kbd>Mathematica</kbd> as Arithmetic Solver from the
        drop-down box above.</p>
    <p>In general, complex problems may require trying different tools.</p>
</div>
</div>
