<div class="row">
    <div class="col-md-10">
        <h1>Tutorials</h1>
        <h2>How to model and prove hybrid systems with KeYmaera: A tutorial on safety.</h2>
        <h4>by Jan-David Quesel, Stefan Mitsch, Sarah Loos, Nikos Ar&#233;chiga, and Andr&#233; Platzer.</h4>
        <p>This tutorial illustrates how to model hybrid systems as hybrid programs in differential dynamic logic
            and how to prove complex properties about these complex hybrid systems in KeYmaera. Hybrid systems
            can model highly nontrivial controllers of physical plants, whose behaviors are often safety
            critical such as trains, cars, airplanes, or medical devices. Formal methods can help design systems
            that work correctly. This paper illustrates how KeYmaera can be used to systematically model,
            validate, and verify hybrid systems. We develop tutorial examples that illustrate challenges
            arising in many real-world systems. In the context of this tutorial, we identify the impact that
            modeling decisions have on the suitability of the model for verification purposes. We show how the
            interactive features of KeYmaera can help users understand their system designs better and prove
            complex properties for which the automatic prover of KeYmaera still takes an impractical amount of
            time. We hope this tutorial is a helpful resource for designers of embedded and cyber-physical
            systems and that it illustrates how to master common practical challenges in hybrid systems
            verification.
        </p>
        <a href="http://symbolaris.com/pub/KeYmaera-tutorial.pdf">http://symbolaris.com/pub/KeYmaera-tutorial.pdf</a>
    </div>
</div>