<h2>Wolfram Script Configuration</h2>

<p>A WolframScript backend needs minimal configuration, but executes slower than Mathematica or Wolfram Engine.</p>

<p ng-if="wolframScriptConfigSuggestion.suggestionFound" ng-cloak>
Found WolframScript {{wolframScriptConfigSuggestion.suggestion.version}} on {{wolframScriptConfigSuggestion.os}}.
</p>
<p ng-if="wolframScriptConfigSuggestion.os !== undefined && !wolframScriptConfigSuggestion.suggestionFound" ng-cloak>
Your system looks like {{wolframScriptConfigSuggestion.os}}, but WolframScript may not be installed or may not be activated.
You can obtain Wolfram Engine and WolframScript from <a href="http://www.wolfram.com/engine">Wolfram</a>. Please follow the
    <a href="http://support.wolfram.com/kb/45743">installation and activation instructions</a>.
</p>
<p ng-if="wolframScriptConfigSuggestion.os === undefined" ng-cloak>
    Searching...
</p>
