<h2>Wolfram Script Configuration</h2>

<p>A WolframScript backend needs minimal configuration, but executes slower than Mathematica or Wolfram Engine.</p>

<p ng-if="wolframScriptConfigSuggestion.suggestionFound" ng-cloak>
Found WolframScript on {{wolframScriptConfigSuggestion.os}}.
</p>
<div ng-if="wolframScriptConfigSuggestion.os && !wolframScriptConfigSuggestion.suggestionFound" ng-cloak>
<p>Your system looks like {{wolframScriptConfigSuggestion.os}}, but WolframScript may not be installed or may not be activated.
<ol>
    <li>Download Wolfram Engine from <a href="http://www.wolfram.com/engine">Wolfram</a></li>
    <li>Install Wolfram Engine</li>
    <li>Install Wolfram Script (included with Wolfram Engine download)</li>
    <li>Activate Wolfram Engine</li>
</ol>
See also the <a href="http://support.wolfram.com/kb/45743">installation and activation instructions</a>.
</p>
</div>
<p ng-if="!wolframScriptConfigSuggestion.os" ng-cloak>
    Searching...
</p>
