.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 999px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}
input[readonly] {
  background-color: white !important;
  cursor: text !important;
}

code {
  padding: 2px 4px;
  font-size: 90%;
  color: #428bca;
  background-color: #f9f2f4;
  border-radius: 4px;
}

table .btn{
  padding: 1px 5px 1px;
  border-style: none;
  margin-right: -3px;
}

.hl {background: transparent; }
.hlhover {
    background-color:#7297A6;
}

.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  z-index: 2;
  color: #fff;
  background-color: #7297A6;
  border-color: #2F3640;
}
.list-group-item.active .list-group-item-text,
.list-group-item.active:hover .list-group-item-text,
.list-group-item.active:focus .list-group-item-text {
  color: #e1edf7;
}

.popover {
  max-width: 90%;
}

/* do not change appearance when focused for the sake of a context menu */
.k4-withcontextmenu:focus {
  outline: none;
}

.k4-carousel-caption {
  position: absolute;
  right: 0%;
  bottom: 20px;
  left: 0%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  background-color:rgba(0, 0, 0, 0.7);
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}

.k4-nobreak {
  white-space: nowrap;
  display: inline-block;
}

.k4-sequentRulePremise {
  border-style: none;
}

.k4-sequentRuleConclusion {
  border-style: solid;
  border-left: none;
  border-top: thin solid black;
  border-right: none;
  border-bottom: none;
}

.k4-sequentRulePart {
  padding-right: 2em;
}

.k4-sequentRuleAnte {
  text-align: right;
}

.k4-sequentRuleSucc {
  text-align: left;
}

.k4-tacticPopoverRow {
    display: flex;
    padding-bottom: 1ex;
    align-items: center;
}

.k4-goalwithsiblings {
  border-style: none;
  /*border-left: none;
  border-top: none;
  border-right: none;
  border-bottom: none;*/
}

.k4-goalwithsiblings > ul:last-child {
  list-style-type: none;
  padding: 0 0 0 0;
  margin: -1ex 0 0 0;
  text-align: right;
  display: block;
  position: absolute;
  top: -50%;
  right: 0;
}
.k4-goalwithsiblings > ul:last-child li {
  height: 15px;
  font-size: x-small;
  border: none;
  color: black;
  display: list-item;
}

.k4-proofrow-annotation {
  border-style: none;
}

.k4-proofrow-annotation > ul:last-child {
  list-style-type: none;
  padding: 0 0 0 0;
  margin: -0.5ex 0 0 0;
  text-align: left;
  width: 1em;
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
}
.k4-proofrow-annotation > ul:last-child li {
  height: 3ex;
  font-size: x-small;
  border: none;
  color: black;
  display: block;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: clip;
  width: 1em;
}

.k4-proofrow {
  border-style: solid;
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom: thin solid black;
  margin: 0 0 0 6em;
}

/* must be after k4-proofrow: overrides border styling */
.k4-proofrow-last {
  border-style: solid;
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom: none;
}

.k4-proofrow > ul:last-child {
  list-style-type: none;
  padding: 0 0 0 0;
  margin: -1.4ex 0 0 0.5em;
  text-align: right;
  width: 6em;
  display: block;
  position: absolute;
  left: 0;
}
.k4-proofrow > ul:last-child li {
  height: 3ex;
  font-size: x-small;
  border: none;
  color: black;
  display: inline-block;
  white-space: nowrap;
  width: 6.5em;
}

.k4-proofrow .k4-proofrule {
  width: 3em;
  display: inline-block;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: clip;
  text-align: right;
}

.k4-proofrow .k4-prooficon {
  display: inline-block;
  text-align: center;
  width: 1.5em;
}

.k4-flexrow {
  display: flex;
}
.k4-flexcell {
    align-items: stretch;
}
.k4-valign-table {
    display: table;
    height: 100%;
}
.k4-valign-cell {
    display: table-cell;
    vertical-align: middle;
}

.k4-inline-block {
    display: inline-block;
    margin: 2px;
}

.k4-progress-table td {
  text-align: center;
}
.k4-progress-table th {
  text-align: center;
}

.k4-sequent-index {
    font-size: x-small;
    padding-right: 10px;
    height: auto;
    display: table-cell;
    vertical-align: middle;
}

.k4-busy-container {
    text-align:center;
}

.k4-busy-overlay {
	display: inline-block;
	position:relative;
    z-index:1002;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 6px;
	padding-bottom: 6px;
	text-shadow:0 1px 1px rgba(255, 255, 255, 0.75);
	border:1px solid #dddddd;
	border-top-width:0;
	-webkit-border-radius:7px;
	border-radius:7px;
	border-top-left-radius:0;
	border-top-right-radius:0;
	-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	box-shadow:inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}

.k4-tiny {
    font-size: x-small;
}

.k4-overflow-box {
    overflow: auto;
}

.k4-abbreviate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.k4-formula.hover > ul:first-child, .k4-formula:hover > ul:first-child {
  opacity: 1;
  position: absolute;
  left: 0px; /* -79px with text */
  top: 0px;
  z-index: 100;
}
.k4-formula.hover .k4-formula-content, .k4-formula:hover .k4-formula-content {
  background: #BACBD9;
  border: 1px solid #4D6473;
  padding: 4px 4px 4px 4px;
}
.k4-formula.hover .k4-formula-content:before, .k4-formula:hover .k4-formula-content:before {
    display: none;
}
.k4-formula-content > ul:first-child {
  list-style-type: none;
  padding: 0px 0px 0px 0px;
  margin-top: -1ex;
  text-align: center;
  width: 10px;
  display: block;
  position: absolute;
  left: 0px;
  top: 50%;
}
.k4-formula-content > ul:first-child li {
  height: 15px;
  font-size: x-small;
  border: none;
  color: black;
  display: list-item;
  width: 10px;
}
/* TODO: does not quite work yet */
.k4-formula.hidden .k4-formula-content {
  opacity: 0.5;
}
.k4-formula.hidden ul:first-child li.show {
  display: inline-block;
}
.k4-formula.hidden ul:first-child li.hide {
  display: none;
}
.k4-formula > ul:first-child {
  list-style-type: none;
  padding: 0;
  margin: 0 0 0 -4px; /* margin: 0 8px 0 -4px */
  text-align: left;
  width: 20px; /* 100 px with text */
  opacity: 0;
  display: block;
  position: absolute;
  left: 0px; /* -79px with text */
  top: 0px;
  z-index: 1;
}
.k4-formula > ul:first-child li {
  height: 15px;
  border: 1px solid #4D6473;
  display: list-item;
  margin: 0 -1px;
  background: #BACBD9;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  width: 20px; /* 100px with text */
  text-align: center;
}
.k4-formula > ul:first-child li.show {
  display: none;
  margin-right: 8px;
}
.k4-formula > ul:first-child li.hide {
  display: inline-block;
  margin-right: 8px;
}
.k4-formula > ul:first-child li a {
  color: #4D6473;
  padding: 0 0 0 0px; /* padding: 0 5px 0 10px; */
  display: block;
  line-height: 13px;
  font-size: 10px;
}
.k4-formula > ul:first-child li:hover {
  background: #7297A6;
}
.k4-formula > ul:first-child li:hover a {
  color: #4D6473;
}
.k4-formula .k4-formula-content {
  padding: 4px 4px 4px 4px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  display: table-cell;
}

/*
 *  Overridden UI-Tree
 */
.tree-node {
    border: 0px solid #black;
    color: black;
    font-weight: normal;
    font-size: small;
}
.tree-node-selected {
    border: 1px solid #4D6473;
    color: black;
    background: #BACBD9;
    font-weight: bold;
    font-size: small;
}
.tree-node-content {
    margin: 0px;
}
.tree-handle {
    padding: 10px;
    background: #4D6473;
    color: #FFF;
    margin-right: 10px;
}

/*
 * Errors on input fields.
 */
.k4-invalid-input {
  border-color: #FF0000;
  border-width: 1px;
}

.error {
  boder-color: #FF0000;
}