:root{
  --lsblue:#16303A;             /* A dark blue (almost black) */
  --lslightblue:#2E6579;        /* Blue (matte) */
  --lsverylightblue:#4699B9;    /* Blue (light matte) */
  --lssuperlightblue:#BACBD9;   /* Blue (matte, almost white) */
  --lsgreen:#5ECEF9;            /* Blue (bright) */
  --lslightgreen:#54B9DF;       /* Blue (bright 2) */
  --lsmain:black;
  --lsmainback:white;
}


/*
High-contrast color and bigger fonts
*/
a {
  color: var(--lsmain);
  text-decoration: none;
}

.navbar-default .navbar-nav > li > a {
    color: var(--lsmain);
}

body {
  font-size: 18px;
  color: var(--lsmain);
  background-color: var(--lsmainback);
}

.dropdown-menu {
  font-size: 16px;
}

pre {
  font-size: 20px;
}

/*
End Color
*/

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 999px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}
input[readonly] {
  background-color: var(--lsmainback) !important;
  cursor: text !important;
}

code {
  padding: 2px 4px;
  font-size: 90%;
  color: var(--lsmain);
  background-color: var(--lsmainback);
  border-radius: 4px;
}

table .btn{
  padding: 1px 5px 1px;
  border-style: none;
  margin-right: -3px;
}

.match,
.textdiff span {
  color: gray;
}

.ins,
ins {
  color: var(--lsmain);
}

.del,
del {
  color: var(--lsmain);
}

.hl {background: transparent; }
.hlhover {
  background-color:var(--lsmain);
  color: var(--lsmainback);
  position: relative;
}

.edithover {
  border-bottom: 1px dashed;
  position: relative;
}
.edithover:after {
  content: "\f040"; /* fontawesome pencil */
  font-family: FontAwesome;
  right: -15px;
  position: absolute;
  top: 0;
}

.editable-error {
  position: absolute;
  background: white;
  white-space: normal;
  padding: 5px;
  margin-left: -5px;
  z-index: 1;
}

.well-compact {
  padding: 0px;
  margin-bottom: 10px;
}

.panel-heading-compact {
  padding: 0px 15px 0px 0px;
}

.panel-sm {
  margin-bottom: 10px;
}

.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  z-index: 2;
  color: var(--lsmainback);
  background-color: var(--lslightblue);
  border-color: var(--lsblue);
}
.list-group-item.active .list-group-item-text,
.list-group-item.active:hover .list-group-item-text,
.list-group-item.active:focus .list-group-item-text {
  color: var(--lssuperlightblue);
}

.container {
  width: auto; /* full-width proofs */
}

.popover {
  max-width: none;
  font-size: 20px;
}

.tooltip-inner {
  max-width: none;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.k4-axiom-key {
  font-weight: bold;
}

.k4-tacticeditor, .k4-tacticeditor:focus {
  font-family:monospace;
  display: block;
  width: 100%;
  color: gray;
  box-sizing: border-box;
  outline: 0px solid transparent;
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;
}

.k4-tacticeditor-error {
  color: black;
  border-bottom: 1px dashed red;
}

.k4-tacticeditor-new {
  color: black;
}

.k4-tacticeditor-repl {
  color: black;
}

.k4-drag {
  border-bottom: 1px dashed var(--lsmain);
  padding-bottom: 3px;
}

.k4-drag-over {
  border: 1px dashed var(--lsmain);
  padding: 3px;
}

.k4-narrowalert {
  margin: 0 0 0 0;
  padding: 0 25px 0 0;
}

/* Begin Spinner */

.spinner {
  width: 100px;
  height: 100px;

  position: absolute;
  top: calc(50% - 70px);
  left: calc(50% - 50px);
}

.tactic-spinner {
  width: 50px;
  height: 50px;
  position: absolute;
  top: calc(10% - 20px);
  left: calc(50% - 25px);
}

.spinner-double-bounce1, .spinner-double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--lssuperlightblue);
  border: solid 3px var(--lsblue);
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;

  -webkit-animation: spinner-bounce 2.0s infinite ease-in-out;
  animation: spinner-bounce 2.0s infinite ease-in-out;
}

.spinner-double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes spinner-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes spinner-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

.spinner-overlay {
  opacity: .75;
  background-color: var(--lsblue);
  width: calc(100% + 10px);
  height: calc(100% + 30px);
  position: absolute;
  z-index: 5;
  margin: -20px -20px;
  border-radius: 3px;
}

.tactic-spinner-background {
  opacity: 0;
  background-color: var(--lsmainback);
  width: calc(100% + 10px);
  height: calc(100% + 30px);
  position: absolute;
  z-index: 5;
  margin: -20px -20px;
  border-radius: 3px;
}

.tactic-spinner-overlay {
  opacity: .75;
  background-color: var(--lsblue);
  width: calc(100% + 10px);
  height: 150px; /*calc(100% + 30px);*/
  position: absolute;
  z-index: 7;
  margin: -20px -20px;
  border-radius: 3px;
}

.spinner-please-wait {
  text-align: center;
  position: absolute;
  top: calc(50% + 45px);
  left: calc(50% - 100px);
  color: var(--lsmainback);
  z-index: 10;
}

.tactic-spinner-please-wait {
  text-align: center;
  position: absolute;
  top: calc(10% + 25px);
  left: calc(50% - 115px);
  color: var(--lsmainback);
  z-index: 10;
}

/* End Spinner */

/* do not change appearance when focused for the sake of a context menu */
.k4-withcontextmenu:focus {
  outline: none;
}

.k4-carousel-caption {
  position: absolute;
  right: 2%;
  bottom: 20px;
  left: 0%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: var(--lsmainback);
  background-color:rgba(0, 0, 0, 0.7);
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}

.k4-nobreak {
  white-space: nowrap;
  display: inline-block;
}

.tooltip .k4-sequentRule {
  width: 350px; /* @todo solve tactic popover layout problem for real */
}

.popover .k4-tactic-popover-entry {
  width: 700px; /* @todo solve tactic popover layout problem for real */
}

.increase-popover-width {
   width: 180px;
}

.modal-fullscreen {
  width: 98%;
  height: 95%;
}

.tacticalert-popover {
   width: 90%;
   left: 5% !important;
}

.k4-narrowinput {
  max-width: 45px;
}

.k4-sequentRulePremise {
  border-style: none;
}

.k4-sequentRuleConclusion {
  border-style: solid;
  border-left: none;
  border-top: thin solid;
  border-right: none;
  border-bottom: none;
}

.k4-sequentRulePart {
  padding-right: 2em;
}

.k4-sequentRuleAnte {
  text-align: right;
}

.k4-sequentRuleSucc {
  text-align: left;
}

.k4-tacticPopoverRow {
    display: flex;
    padding-bottom: 1ex;
    align-items: center;
}

.k4-goalwithsiblings {
  border-style: none;
  /*border-left: none;
  border-top: none;
  border-right: none;
  border-bottom: none;*/
}

.k4-goalwithsiblings > ul:last-child {
  list-style-type: none;
  padding: 0 0 0 0;
  margin: -1ex 0 0 0;
  text-align: right;
  display: block;
  position: absolute;
  top: -50%;
  right: 0;
}
.k4-goalwithsiblings > ul:last-child li {
  height: 15px;
  font-size: x-small;
  border: none;
  color: var(--lsmain);
  display: list-item;
}

.k4-proofrow-annotation {
  border-style: none;
}

.k4-proofrow-annotation > ul:last-child {
  list-style-type: none;
  padding: 0 0 0 0;
  margin: -0.5ex 0 0 0;
  text-align: left;
  width: 1em;
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
}
.k4-proofrow-annotation > ul:last-child li {
  height: 3ex;
  font-size: x-small;
  border: none;
  color: var(--lsmain);
  display: block;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: clip;
  width: 1em;
}

.k4-proofrow {
  border-style: solid;
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom: thin solid var(--lsmain);
  margin: 0 0 0 6em;
}

/* must be after k4-proofrow: overrides border styling */
.k4-proofrow-last {
  border-style: solid;
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom: none;
}

.k4-proofrow > ul:first-child {
  list-style-type: none;
  padding: 0 0 0 0;
  margin: -1.4ex 0 0 0.5em;
  text-align: right;
  width: 6em;
  display: block;
  position: absolute;
  left: 0;
}
.k4-proofrow > ul:first-child li {
  height: 3ex;
  font-size: x-small;
  border: none;
  color: var(--lsmain);
  display: inline-block;
  white-space: nowrap;
  width: 6.5em;
}

.k4-proofrow .k4-proofrule {
  width: 2em;
  display: inline-block;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: clip;
  text-align: right;
  font-size: 16px;
}

.k4-proofrow .k4-prooficon {
  display: inline-block;
  text-align: center;
  width: 1.5em;
}

.k4-flexrow {
  display: flex;
}
.k4-flexcell {
    align-items: stretch;
}
.k4-valign-table {
    display: table;
    height: 100%;
}
.k4-valign-cell {
    display: table-cell;
    vertical-align: middle;
}

.k4-inline-block {
    display: inline-block;
    margin: 2px;
}

.k4-progress-table td {
  text-align: center;
}
.k4-progress-table th {
  text-align: center;
}

.k4-sequent-index {
    font-size: x-small;
    padding-right: 10px;
    height: auto;
    display: table-cell;
    vertical-align: middle;
}

.k4-busy-container {
    text-align:center;
}

.k4-busy-overlay {
	display: inline-block;
	position:relative;
    z-index:1002;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 6px;
	padding-bottom: 6px;
	text-shadow:0 1px 1px rgba(255, 255, 255, 0.75);
	border:1px solid var(--lsverylightblue);
	border-top-width:0;
	-webkit-border-radius:7px;
	border-radius:7px;
	border-top-left-radius:0;
	border-top-right-radius:0;
	-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	box-shadow:inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}

.k4-tiny {
    font-size: x-small;
}

.k4-overflow-box {
    overflow: auto;
}

.k4-abbreviate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.k4-formula-preformat {
  white-space: pre-wrap;
}

.k4-highlight-steppos {
  border-bottom: var(--lsmain) solid;
}
.k4-highlight-steppos > span {
  border-bottom: var(--lsmainback) dotted;
}
.k4-highlight-steppos-modality {
  border-bottom: var(--lsmain) solid;
}
.k4-highlight-steppos-modality > span:first-child {
  border-bottom: var(--lsmain) solid;
}
.k4-highlight-steppos-modality > span {
  border-bottom: var(--lsmainback) dotted;
}

.k4-formula.hover > ul:first-child, .k4-formula:hover > ul:first-child {
  opacity: 1;
  position: absolute;
  left: 0px; /* -79px with text */
  top: 0px;
  z-index: 100;
  color: var(--lsmain);
}
.k4-formula:not(.nohover):hover .k4-formula-content {
  background: var(--lssuperlightblue);
  border: 1px solid var(--lsblue);
  padding: 3px; /* 3px+1px border = 4px padding of .k4-formula .k4-formula-content */
  color: var(--lsmain);
}
.k4-formula:not(.nohover):hover .k4-formula-content:before {
    display: none;
}
.k4-formula-content > ul:first-child {
  list-style-type: none;
  padding: 0px 0px 0px 0px;
  margin-top: -1ex;
  text-align: center;
  width: 2em;
  display: block;
  position: absolute;
  left: -0.5em;
  top: 50%;
}
.k4-formula-content > ul:first-child li {
  font-size: x-small;
  border: none;
  color: var(--lsmain);
  display: list-item;
  width: 2em;
}
/* TODO: does not quite work yet */
.k4-formula.hidden .k4-formula-content {
  opacity: 0.5;
}
.k4-formula.hidden ul:first-child li.show {
  display: inline-block;
}
.k4-formula.hidden ul:first-child li.hide {
  display: none;
}
.k4-formula > ul:first-child {
  list-style-type: none;
  padding: 0;
  margin: 0 0 0 -4px; /* margin: 0 8px 0 -4px */
  text-align: left;
  width: 20px; /* 100 px with text */
  opacity: 0;
  display: block;
  position: absolute;
  left: 0px; /* -79px with text */
  top: 0px;
  z-index: 1;
}
.k4-formula > ul:first-child li {
  height: 15px;
  border: 1px solid var(--lsblue);
  display: list-item;
  margin: 0 -1px;
  background: var(--lssuperlightblue);
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  width: 20px; /* 100px with text */
  text-align: center;
}
.k4-formula > ul:first-child li.show {
  display: none;
  margin-right: 8px;
}
.k4-formula > ul:first-child li.hide {
  display: inline-block;
  margin-right: 8px;
}
.k4-formula > ul:first-child li a {
  color: var(--lsmain);
  padding: 0 0 0 0px; /* padding: 0 5px 0 10px; */
  display: block;
  line-height: 13px;
  font-size: 10px;
}
.k4-formula > ul:first-child li:hover {
  background: var(--lslightblue);
}
.k4-formula > ul:first-child li:hover a {
  color: var(--lsmain);
}
.k4-formula .k4-formula-content {
  padding: 4px 4px 4px 4px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  display: block;
  font-size: 24px;
}
.k4-formula .k4-formula-content-abbreviate {
  padding: 4px 4px 4px 4px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.k4-formula-container {
  max-width: 90%;
}

/*
 *  Overridden UI-Tree
 */
.tree-node {
    border: 0px solid var(--lsmain);
    color: var(--lsmain);
    font-weight: normal;
    font-size: small;
}
.tree-node-selected {
    border: 1px solid var(--lsblue);
    color: var(--lsmain);
    background: var(--lssuperlightblue);
    font-weight: bold;
    font-size: small;
}
.tree-node-content {
    margin: 0px;
}
.tree-handle {
    padding: 10px;
    background: var(--lsblue);
    color: var(--lsmainback);
    margin-right: 10px;
}

/*
 * Errors on input fields.
 */
.k4-invalid-input {
  border-color: var(--lsblue);
  border-width: 1px;
}

.error {
  boder-color: var(--lsblue);
}