@import url("app.css");

/*
High-contrast color and bigger fonts
*/
a {
  font-size: 18px;
  color: var(--lsmain);
  text-decoration: none;
}

.btn-link {
  font-size: 18px;
  color: var(--lsmain);
  text-decoration: none;
}

.navbar-default .navbar-nav > li > a {
    color: var(--lsmain);
}

body {
  font-size: 18px;
  color: var(--lsmain);
  background-color: var(--lsmainback);
}

.dropdown-menu {
  font-size: 16px;
}

pre {
  font-size: 20px;
}

/*
End Color
*/

code {
  color: var(--lsmain);
}

.match,
.textdiff span {
  color: gray;
}

.hlhover {
  background-color:var(--lsmain);
}

.popover {
  font-size: 20px; /* large:22px*/
}

.k4-narrowinput {
  max-width: 45px;
}

.k4-proofrow .k4-proofrule {
  width: 2em;
  font-size: 16px; /*large:18px*/
}

.k4-formula.hover > ul:first-child, .k4-formula:hover > ul:first-child {
  color: var(--lsmain);
}
.k4-formula:not(.nohover):hover .k4-formula-content {
  color: var(--lsmain);
}
.k4-formula > ul:first-child li a {
  color: var(--lsmain);
}
.k4-formula > ul:first-child li:hover a {
  color: var(--lsmain);
}
.k4-formula .k4-formula-content {
  font-size: 24px; /*large:26px*/
}
