@import url("app.css");

/*
High-contrast color and bigger fonts
*/
a {
  font-size: var(--lsfontsize);
  color: var(--lsmain);
  text-decoration: none;
}

.btn-link {
  font-size: var(--lsfontsize);
  color: var(--lsmain);
  text-decoration: none;
}

.navbar-default .navbar-nav > li > a {
    color: var(--lsmain);
}

body {
  font-size: var(--lsfontsize);
  color: var(--lsmain);
  background-color: var(--lsmainback);
}

.dropdown-menu {
  font-size: 90%;
}

pre {
  font-size: 110%;
}

/*
End Color
*/

code {
  color: var(--lsmain);
}

.match,
.textdiff span {
  color: var(--lsmain);
}

.hlhover {
  background-color:var(--lsmain);
}

.popover {
  font-size: 110%;
}

.k4-narrowinput {
  max-width: 45px;
}

.k4-proofrow .k4-proofrule {
  width: 2em;
  font-size: 90%;
}

.k4-formula.hover > ul:first-child, .k4-formula:hover > ul:first-child {
  color: var(--lsmain);
}
.k4-formula:not(.nohover):hover .k4-formula-content {
  color: var(--lsmain);
}
.k4-formula > ul:first-child li a {
  color: var(--lsmain);
}
.k4-formula > ul:first-child li:hover a {
  color: var(--lsmain);
}
.k4-formula .k4-formula-content {
  font-size: 133%;
}

.k4-sequent-hint {
  font-size: smaller;
}

.k4-highlight-steppos > .k4-op {
  background-color: var(--lsmain);
  color: var(--lsmainback);
}
.k4-highlight-steppos-full {
  background-color: var(--lsmain);
  color: var(--lsmainback);
}
.k4-highlight-steppos-modality-prg > .k4-mod-open ~ span > .k4-prg-op {
  background-color: var(--lsmain);
  color: var(--lsmainback);
}
.k4-highlight-steppos-modality-post > .k4-mod-close ~ span > .k4-op {
  background-color: var(--lsmain);
  color: var(--lsmainback);
}