@import url("presentation.css");

.popover {
  font-size: 22px;
}

.k4-proofrow .k4-proofrule {
  font-size: 18px;
}

.k4-formula .k4-formula-content {
  font-size: 26px;
}

.k4-sequent-hint {
  font-size: medium;
}
