This is a placeholder.
<!--<div class="row">-->
    <!--<div class="col-md-4">-->
        <!--<h2>Models</h2>-->
        <!--<p>Here is the dashboard summary about your models. </p>-->
        <!--<p><a class="btn btn-default" href="models.html" role="button">Models &raquo;</a></p>-->
    <!--</div>-->
    <!--<div class="col-md-4">-->
        <!--<h2>Lemmas</h2>-->
        <!--<p>Here is the dashboard summary of your lemmas. 2 of your lemmas were used by others. You received 1 generalization for lemma X.</p>-->
        <!--<p><a class="btn btn-default" href="#" role="button">Lemmas &raquo;</a></p>-->
    <!--</div>-->
    <!--<div class="col-md-4">-->
        <!--<h2>Proofs</h2>-->
        <!--<p>Here comes the dashboard symmary of your proofs. You have 3 open proofs. The prover made that much progress since last logged in.</p>-->
        <!--<p><a class="btn btn-default" href="proofs.html" role="button">Proofs &raquo;</a></p>-->
    <!--</div>-->
<!--</div>-->