<form ng-controller="MathematicaConfig" name="MathematicaForm">
    <div class="form-group">
        <label for="linkName" id="linkNameLabel">
            Absolute path of MathKernel executable
        </label>
        <div class="input-group col-lg-6">
            <input type="text" class="form-control" id="linkName" name="linkName" ng-model="linkName">
            <span ng-show="MathematicaForm.linkName.$invalid" style="color: red;">This file does not exist on your system.</span>

            <!--
            <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Action <span class="caret"></span></button>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a ng-click="...">Linux Default</a></li>
                    <li><a ng-click="...">Windows Default</a></li>
                    <li><a ng-click="...">Mac Default</a></li>
                    <li><a ng-click="...">Auto-detect</a></li>
                </ul>
            </div>
            -->
        </div>
    </div>

    <div class="form-group">
        <label for="jlinkLibDir">
            Absolute path of Mathematica JLink Library
        </label>
        <div class="input-group col-lg-6">
            <input type="text" class="form-control" id="jlinkLibDir" name="jlinkLibDir" ng-model="jlinkLibDir">
            <span ng-show="MathematicaForm.jlinkLibDir.$invalid" style="color: red;">This file does not exist on your system.</span>
        </div>
    </div>

    <div class="form-group">
        <button ng-click="configureMathematica()" class="form-control">Reconfigure and Restart Server</button>
    </div>
</form>
