<h2>Mathematica Configuration</h2>

<form ng-controller="MathematicaConfig" name="MathematicaForm">
    <div class="form-group">
        <h4 for="linkName">Mathematica Kernel</h4>

        <div>
        Please configure the path to the Mathematica MathKernel. On your operating system ({{osName}}), look for an
            executable file named <code>{{mathKernelName}}</code>. The path for a default installation of Mathematica is
            <code>{{defaultMathkernelPath}}</code>.
        </div>

        <!--<div class="fileinput fileinput-new input-group" data-provides="fileinput">-->
            <!--<div class="form-control" data-trigger="fileinput">-->
                <!--<i class="glyphicon glyphicon-file fileinput-exists" />-->
                <!--<span class="fileinput-filename" />-->
            <!--</div>-->
            <!--<span class="input-group-addon btn btn-default btn-file">-->
                <!--<span class="fileinput-new">Select file</span>-->
                <!--<span class="fileinput-exists">Change</span>-->
                <!--<input type="file" name="linkName" id="linkName" ng-model="linkName" />-->
            <!--</span>-->
        <!--</div>-->

        <div class="input-group">
            <span class="input-group-addon" ng-if="linkName"><i class="fa fa-check"></i></span>
            <span class="input-group-addon" ng-if="linkName === undefined"><i class="fa fa-wrench"></i></span>
            <input type="text" name="linkName" id="linkName" class="form-control" ng-model="linkName"
                   placeholder="The default path on {{osName}} is {{defaultMathkernelPath}}"/>
            <span class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="tooltip"
                        data-placement="bottom"
                        aria-expanded="false" ng-click="setDefaultMathKernel()"
                        title="{{defaultMathkernelPath}}">
                    <span ng-if="linkName">Reset to </span><span ng-if="linkName === undefined">Use </span> {{osName}} Default
                </button>
            <!--<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Auto-detect <span class="caret"></span></button>-->
            <!--<ul class="dropdown-menu dropdown-menu-right" role="menu">-->
                <!--<li><a ng-click="linuxDefaultLinkName()">Linux Default</a></li>-->
                <!--<li><a ng-click="windowsDefaultLinkName()">Windows Default</a></li>-->
                <!--<li><a ng-click="macDefaultLinkName()">Mac Default</a></li>-->
            <!--</ul>-->
            </span>
        </div>
        <div ng-show="MathematicaForm.linkName.$invalid" class="alert alert-danger"><i class="fa fa-bolt"></i> This file does not exist on your system.</div>
    </div>

    <div class="form-group">
        <h4 for="jlinkLibDir">
            Mathematica J/Link Native Library
        </h4>

        <div>
            Please configure the path to the J/Link native library.
            On your operating system ({{osName}}), look for a
            file named <code>{{jlinkLib}}</code>. The path for a default installation of Mathematica is
            <code>{{defaultJLinkLibPath}}</code>.
        </div>

        <!--<div class="fileinput fileinput-new input-group" data-provides="fileinput">-->
            <!--<div class="form-control" data-trigger="fileinput">-->
                <!--<i class="glyphicon glyphicon-file fileinput-exists" />-->
                <!--<span class="fileinput-filename" />-->
            <!--</div>-->
            <!--<span class="input-group-addon btn btn-default btn-file">-->
                <!--<span class="fileinput-new">Select file</span>-->
                <!--<span class="fileinput-exists">Change</span>-->
                <!--<input type="file" name="jlinkLibDir" id="jlinkLibDir" ng-model="jlinkLibDir" />-->
            <!--</span>-->
        <!--</div>-->

        <div class="input-group">
            <span class="input-group-addon" ng-if="jlinkLibPath"><i class="fa fa-check"></i></span>
            <span class="input-group-addon" ng-if="jlinkLibPath === undefined"><i class="fa fa-wrench"></i></span>
            <input type="text" name="jlinkLibDir" id="jlinkLibDir" class="form-control" ng-model="jlinkLibPath"
                   placeholder="The default path on {{osName}} is {{defaultJLinkLibPath}}"/>
            <span class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="tooltip"
                        data-placement="bottom"
                        aria-expanded="false" ng-click="setDefaultJLinkLibPath()"
                        title="{{defaultJLinkLibPath}}">
                    <span ng-if="jlinkLibPath">Reset to </span><span ng-if="jlinkLibPath === undefined">Use </span>  {{osName}} Default
                </button>
            </span>
        </div>
        <div ng-show="MathematicaForm.jlinkLibDir.$invalid" class="alert alert-danger"><i class="fa fa-bolt"></i> This file does not exist on your system.</div>
    </div>

    <div class="form-group">
        <div class="col-md-4 pull-right">
        <button ng-click="configureMathematica()" class="form-control btn btn-primary">Reconfigure and Restart Server</button>
        </div>
    </div>
</form>
