<form ng-controller="MathematicaConfig" name="MathematicaForm">
    <div class="form-group">
        <label for="linkName">Mathematica Kernel</label>
        <span ng-show="MathematicaForm.linkName.$invalid" style="color: red;">This file does not exist on your system.</span>

        <div>
        Please configure the path to the Mathematica MathKernel.
        <!--<br/> The default path</span>-->
        <!--<span ng-if="osName === 'Windows'">on Windows is: C:\Program Files\Wolfram Research\Mathematica\10.0\MathKernel.exe</span>-->
        <!--<span ng-if="osName ==='MacOS'">on MacOS is: /Applications/Mathematica.app/Contents/MacOS/MathKernel</span>-->
        <!--<span ng-if="osName ==='Linux'">on Linux is: /usr/local/Wolfram/Mathematica/10.0/Executables/MathKernel</span>-->
        </div>

        <!--<div class="fileinput fileinput-new input-group" data-provides="fileinput">-->
            <!--<div class="form-control" data-trigger="fileinput">-->
                <!--<i class="glyphicon glyphicon-file fileinput-exists" />-->
                <!--<span class="fileinput-filename" />-->
            <!--</div>-->
            <!--<span class="input-group-addon btn btn-default btn-file">-->
                <!--<span class="fileinput-new">Select file</span>-->
                <!--<span class="fileinput-exists">Change</span>-->
                <!--<input type="file" name="linkName" id="linkName" ng-model="linkName" />-->
            <!--</span>-->
        <!--</div>-->

        <div class="input-group">
            <input type="text" name="linkName" id="linkName" class="form-control" ng-model="linkName"
                   placeholder="The default path on {{osName}} is {{defaultMathkernelPath}}"/>
            <span class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" ng-click="setDefaultMathKernel()">
                    Use {{osName}} Default
                </button>
            <!--<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Auto-detect <span class="caret"></span></button>-->
            <!--<ul class="dropdown-menu dropdown-menu-right" role="menu">-->
                <!--<li><a ng-click="linuxDefaultLinkName()">Linux Default</a></li>-->
                <!--<li><a ng-click="windowsDefaultLinkName()">Windows Default</a></li>-->
                <!--<li><a ng-click="macDefaultLinkName()">Mac Default</a></li>-->
            <!--</ul>-->
            </span>
        </div>
    </div>

    <div class="form-group">
        <label for="jlinkLibDir">
            Mathematica J/Link Native Library
        </label>
        <span ng-show="MathematicaForm.jlinkLibDir.$invalid" style="color: red;">This file does not exist on your system.</span>

        <div>
            Please configure the path to the J/Link native library.
            <!--<br/> The default path</span>-->
            <!--<span ng-if="osName === 'Windows'">on Windows is: C:\Program Files\Wolfram Research\Mathematica\10.0\SystemFiles\Links\JLink\SystemFiles\Libraries\Windows-x86-64\JLinkNativeLibrary.dll</span>-->
            <!--<span ng-if="osName ==='MacOS'">on MacOS is: /Applications/Mathematica.app/Contents/SystemFiles/Links/JLink/SystemFiles/Libraries/MacOSX-x86-64/libJLinkNativeLibrary.jnilib</span>-->
            <!--<span ng-if="osName ==='Linux'">on Linux is: /usr/local/Wolfram/Mathematica/10.0/SystemFiles/Links/JLink/SystemFiles/Libraries/Linux-x86-64/libJLinkNativeLibrary.so</span>-->
        </div>

        <!--<div class="fileinput fileinput-new input-group" data-provides="fileinput">-->
            <!--<div class="form-control" data-trigger="fileinput">-->
                <!--<i class="glyphicon glyphicon-file fileinput-exists" />-->
                <!--<span class="fileinput-filename" />-->
            <!--</div>-->
            <!--<span class="input-group-addon btn btn-default btn-file">-->
                <!--<span class="fileinput-new">Select file</span>-->
                <!--<span class="fileinput-exists">Change</span>-->
                <!--<input type="file" name="jlinkLibDir" id="jlinkLibDir" ng-model="jlinkLibDir" />-->
            <!--</span>-->
        <!--</div>-->

        <div class="input-group">
            <input type="text" name="jlinkLibDir" id="jlinkLibDir" class="form-control" ng-model="jlinkLibPath"
                   placeholder="The default path on {{osName}} is {{defaultJLinkLibPath}}"/>
            <span class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" ng-click="setDefaultJLinkLibPath()">
                    Use {{osName}} Default
                </button>
            </span>
        </div>

    </div>

    <div class="form-group">
        <button ng-click="configureMathematica()" class="form-control">Reconfigure and Restart Server</button>
    </div>
</form>
