<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Your Models</div>
    <div class="panel-body">
        <div class="row">
            <!--
            <div class="col-md-6">
                <p>Upload new models to KeYmaera</p>
            </div>
            -->
            <div class="col-md-6">

                <!-- TODO https://github.com/blueimp/jQuery-File-Upload/wiki/Basic-plugin -->
                <form ng-submit="addModel()" ng-controller="ModelUploadCtrl">
                    <div class="input-group">
                        <label for="modelName">Model Name</label>
                        <input type="text" ng-model="modelName" class="form-control" name="modelName" id="modelName" placeholder="Model Name"/>
                    </div>
                    <label for="keyFile">File</label>
                    <div class="fileinput fileinput-new input-group" data-provides="fileinput">

                        <div class="form-control" data-trigger="fileinput">
                            <i class="glyphicon glyphicon-file fileinput-exists" />
                            <span class="fileinput-filename" />
                        </div>
                        <span class="input-group-addon btn btn-default btn-file">
                            <span class="fileinput-new">Select file</span>
                            <span class="fileinput-exists">Change</span>
                            <input type="file" name="source" id="keyFile" class="form-control" ng-model="keyFile" />
                        </span>
                        <a class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                        <!-- TODO check that model name is not empty -->
                        <a class="input-group-addon btn btn-default fileinput-exists" ng-click="addModel()" id="uploadbtn">Upload</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Table -->
    <table class="table table-hover" id="ModelList" ng-controller="ModelListCtrl">
        <thead>
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Creation Date</td>
            <!-- <td>Description</td> -->
            <td>Actions</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="model in models">
            <td>{{ model.id.substring(0,5) + ".." + model.id.substring(model.id.length-5) }}</td>
            <td><a href="" data-toggle="modal" data-target="#{{ model.id }}Modal">{{ model.name }}</a></td>
            <td>{{ model.date }}</td>
            <td><!-- description -- currently not included. --></td>
            <td class="input-group-btn" ng-model="model">
                <button type="button" class="btn btn-default">Details</button>
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu" role="menu" ng-model="model">
                    <li><a ng-href="dashboard.html?#/models/{{ model.id }}/details">Details</a></li>
                    <li><a ng-href="dashboard.html?#/models/{{ model.id }}/proofs">Show proofs</a></li>
                    <li><a ng-href="dashboard.html?#/models/{{ model.id }}/proofs/create">Start new proof</a></li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>

    <!-- Model Dialogs: switch to Angular Bootstrap  -->
    <div ng-repeat="m in models" class="modal fade" id="{{ m.id }}Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-controller="ModelCtrl">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Foo</h4>
                </div>
                <div class="modal-body">
                    <!-- TODO display file content -->
                    <!--{{ model.keyFile }}-->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <!--<button type="button" class="btn btn-primary">Save changes</button>--> <!-- TODO: if there are proofs, create a new version instead -->
                </div>
            </div>
        </div>
    </div>

    <!--
    Javascript to populate the table. TODO not sure what the "correct" way to do this is.
    TODO what are we going to do about user data?
    -->
    <script type="text/javascript">
      $("#keyFile").on('change', function(event) {
        window.UPLOADED_FILE_CONTENTS = null;
        var file = event.target.files[0];

        var fr = new FileReader();
        fr.onerror = function(e) { alert("Could not even open your file: " + e.getMessage()); };
        fr.onload = function(e) {
          var fileContents = e.target.result;
          window.UPLOADED_FILE_CONTENTS = fileContents;
        };

        fr.readAsText(file);
      });
    </script>
</div>

<!-- File input
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="js/fileinput.js"></script>