<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Your Models</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <p>Upload new models to KeYmaera</p>
            </div>
            <div class="col-md-6">
                <!-- TODO https://github.com/blueimp/jQuery-File-Upload/wiki/Basic-plugin -->
                <form>
                    <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                        <div class="form-control" data-trigger="fileinput">
                            <i class="glyphicon glyphicon-file fileinput-exists"></i>
                            <span class="fileinput-filename"></span>
                        </div>
                        <span class="input-group-addon btn btn-default btn-file">
                            <span class="fileinput-new">Select file</span>
                            <span class="fileinput-exists">Change</span>
                            <input type="file" name="source">
                        </span>
                        <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                        <a href="#" class="input-group-addon btn btn-default fileinput-exists">Upload</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Table -->
    <table class="table table-hover" id="ModelList">
        <thead>
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Date</td>
            <td>Description</td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="model in models">
            <td>{{ model.id.substring(0,5) }}</td>
            <td>{{ model.name }}</td>
            <td>{{ model.date }}</td>
            <td>Not in DB</td>
            <td class="input-group-btn">
                <button type="button" class="btn btn-default">Details</button>
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Details</a></li>
                    <li><a href="#">Show proofs</a></li>
                    <li><a onclick="">Start new proof</a></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>FAKE</td>
            <td>ETCS</td>
            <td>JUL/17/2014</td>
            <td></td>
            <td class="input-group-btn">
                <button type="button" class="btn btn-default">Details</button>
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="dashboard.html?#/models/3">Details</a></li>
                    <li><a href="dashboard.html?#/models/3/proofs">Show proofs</a></li>
                    <li><a href="dashboard.html?#/models/3/proofs/create">Start new proof</a></li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>

    <!--
    Javascript to populate the table. TODO not sure what the "correct" way to do this is.
    TODO what are we going to do about user data?
    -->
    <script type="text/javascript">

    </script>
</div>
<!-- TODO only display if page full -->
<ul class="pagination pagination-sm">
    <li class="disabled"><a href="#">&laquo;</a></li>
    <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">&raquo;</a></li>
</ul>

<!-- File input
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="js/fileinput.js"></script>