<div class="row" ng-controller="TaskListCtrl">
    <div class="col-md-5">
        <tabset justified="true">
            <tab active="true">
                <tab-heading>
                    <i class="fa fa-list-alt"></i> Agenda
                </tab-heading>
                <div class="list-group">
                    <a href="" ng-class="{'list-group-item active k4-overflow-box': selectedTask == task,'list-group-item k4-overflow-box':selectedTask !== task}" ng-repeat="task in agenda" ng-click="setSelected(task)">
                        <div class="row list-group-item-heading">
                            <div class="col-md-10">Goal
                                <span ng-if="task.nodeId.length <= 7"> {{task.nodeId}}</span>
                                <span ng-if="task.nodeId.length > 7"> {{task.nodeId.substring(0,2) + ".." + task.nodeId.substring(task.nodeId.length-4)}}</span>
                            </div>
                            <div ng-if="defer" class="col-md-2" cg-busy="defer"></div>
                        </div>
                            <span class="list-group-item-text k4-nobreak">
                                <span class="k4-tiny" ng-if="task.proofNode.sequent.ante.length > 0">
                                    <k4-mathjaxformula formula="task.proofNode.sequent.ante[0].formula" delimiter="inline"></k4-mathjaxformula>
                                </span>
                                <span class="k4-tiny" ng-if="task.proofNode.sequent.ante.length > 2">...</span>
                                <span class="k4-tiny" ng-if="task.proofNode.sequent.ante.length > 1">
                                    <k4-mathjaxformula formula="task.proofNode.sequent.ante[task.proofNode.sequent.ante.length - 1].formula" delimiter="inline"></k4-mathjaxformula>
                                </span>
                                <span>&#8866;</span>
                                <span class="k4-tiny" ng-if="task.proofNode.sequent.succ.length > 0">
                                    <k4-mathjaxformula formula="task.proofNode.sequent.succ[0].formula" delimiter="inline"></k4-mathjaxformula>
                                </span>
                                <span class="k4-tiny" ng-if="task.proofNode.sequent.succ.length > 2">...</span>
                                <span class="k4-tiny" ng-if="task.proofNode.sequent.succ.length > 1">
                                    <k4-mathjaxformula formula="task.proofNode.sequent.succ[task.proofNode.sequent.succ.length - 1].formula" delimiter="inline"></k4-mathjaxformula>
                                </span>
                            </span>
                    </a>
                </div>
            </tab>
            <tab ng-click="fetchHistory()" ng-controller="ProofHistoryCtrl">
                <tab-heading>
                    <i class="fa fa-sitemap"></i> Overview
                </tab-heading>
                <!--<div ng-include="'partials/nodes-renderer.html'"></div>-->
                <div ng-include="'partials/proofhistory.html'"></div>
            </tab>
            <!--<tab>-->
                <!--<tab-heading>-->
                    <!--<i class="fa fa-tasks"></i> Progress-->
                <!--</tab-heading>-->
            <!--</tab>-->
        </tabset>
    </div>

    <div class="col-md-7" id="sequent" ng-if="selectedTask">
        <h4>Goal {{selectedTask.nodeId.substring(0,5) + ".." + selectedTask.nodeId.substring(selectedTask.nodeId.length-5)}}</h4>
        <div class="row">
            <div class="col-md-1">
                <!-- reserve space for context menu of sequent -->
            </div>
            <div class="col-md-11">
                <k4-sequent proof-id="proofId" node-id="selectedTask.nodeId" sequent="selectedTask.proofNode.sequent"
                            read-only="selectedTask.readOnly"></k4-sequent>
            </div>
        </div>
        <div class="row">
            <!-- The combinator language tactic input form -->
            <form novalidate class="simple-form" ng-submit="execute()" ng-controller="TaskListCtrl">
                <div class="input-group">
                    <label for="clTerm">Combinator Language Term</label>
                    <textarea ng-model="clTerm" id="clTerm" class="form-control" /></textarea>
                </div>
                <div class="input-group">
                    <input type="submit" value="Run Custom Tactic" class="form-control" />
                </div>
            </form>
        </div>
    </div>

</div>