<div class="row" ng-controller="ProofTreeCtrl">
    <div class="col-md-4">
        <div class="row">
            <p>Tree</p>
            <div class="col-md-10">
                 <div treecontrol class="tree-light"
                      tree-model="proofTree"
                      options="proofTreeOpts"
                      on-selection="showSelected(node)"
                      on-node-toggle="showToggle(node, expanded)"
                      selected-node="selectedNode">
                     {{node.name}} ({{node._id}})
                 </div>
            </div>
        </div>
        <div class="row" ng-controller="StateChartCtrl">
            <p>Statechart</p>
            <div class="col-md-10" id="statechart"></div>
        </div>
        <div class="row" ng-controller="ProofProgressCtrl">
            <p>Proof Progress</p>
            <div class="col-md-10" id="proofprogress"></div>
        </div>
    </div>
    <div class="col-md-6" id="sequent">

    </div>
</div>

<!-- Proof tree controller
================================================== -->
<script save-content="proof-tree-ctrl-js">
    function ProofTreeCtrl($scope) {
        $scope.showSelected = function(node) {
            $scope.selectedNode = node;
            var seq = $("#sequent");
            seq.html(translateSequent($scope.proofId, node._id, node.sequent));
        };
        $scope.showToggle = function(node, expanded) {

        };
        $scope.proofTreeOpts = {
            nodeChildren: "children",
            dirSelectable: false,
            injectClasses: {
                ul: "a1",
                li: "a2",
                iExpanded: "a3",
                iCollapsed: "a4",
                iLeaf: "a5",
                label: "a6"
            }
        };
    }
</script>

<script>
// TODO remove as soon as sequent visualization is a AngularJS component
var globalProofTree;

function span(id, cont) {
    return "<span xmlns=\"http://www.w3.org/1999/xhtml\" onmouseover=\"$(event.target).addClass('hlhover');\" onmouseout=\"$(event.target).removeClass('hlhover');\" class='hl' id='" + id + "'>" + cont + "</span>"
}

function handle(json) {
  var items = [];
  if(json.name == "not") {
      var c = json.children;
      if($.isArray(c)) {
          var left = handle(c[0]);
          items.push(span(json.id, "&not;" + left));
      }
  } else if(json.name == "and") {
      var c = json.children;
      if($.isArray(c)) {
          var left = handle(c[0]);
          var right = handle(c[1]);
          items.push(span(json.id, left + " &#8743; " + right));
      }
  } else if(json.name == "or") {
      var c = json.children;
      if($.isArray(c)) {
          var left = handle(c[0]);
          var right = handle(c[1]);
          items.push(span(json.id, left + " &#8744; " + right));
      }
  } else if(json.name == "imply") {
      var c = json.children;
      if($.isArray(c)) {
          var left = handle(c[0]);
          var right = handle(c[1]);
          items.push(span(json.id, left + " → " + right));
      }
  } else if(json.name == "equiv") {
      var c = json.children;
      if($.isArray(c)) {
          var left = handle(c[0]);
          var right = handle(c[1]);
          items.push(span(json.id, left + " &#8596 " + right));
      }
  } else if(json.name == "lt") {
      var c = json.children;
      if($.isArray(c)) {
          var left = handle(c[0]);
          var right = handle(c[1]);
          items.push(span(json.id, left + " &lt; " + right));
      }
  } else if(json.name == "leq") {
      var c = json.children;
      if($.isArray(c)) {
          var left = handle(c[0]);
          var right = handle(c[1]);
          items.push(span(json.id, left + " &leq; " + right));
      }
  } else if(json.name == "equals") {
      var c = json.children;
      if($.isArray(c)) {
          var left = handle(c[0]);
          var right = handle(c[1]);
          items.push(span(json.id, left + " = " + right));
      }
  } else if(json.name == "notEquals") {
      var c = json.children;
      if($.isArray(c)) {
          var left = handle(c[0]);
          var right = handle(c[1]);
          items.push(span(json.id, left + " &neq; " + right));
      }
  } else if(json.name == "geq") {
      var c = json.children;
      if($.isArray(c)) {
          var left = handle(c[0]);
          var right = handle(c[1]);
          items.push(span(json.id, left + " &geq; " + right));
      }
  } else if(json.name == "gt") {
      var c = json.children;
      if($.isArray(c)) {
          var left = handle(c[0]);
          var right = handle(c[1]);
          items.push(span(json.id, left + " &gt; " + right));
      }
  } else if(json.name == "neg") {
      var c = json.children;
      if($.isArray(c)) {
          var left = handle(c[0]);
          items.push(span(json.id, "-" + left));
      }
  } else if(json.name == "add") {
      var c = json.children;
      if($.isArray(c)) {
          var left = handle(c[0]);
          var right = handle(c[1]);
          items.push(span(json.id, left + " + " + right));
      }
  } else if(json.name == "subtract") {
      var c = json.children;
      if($.isArray(c)) {
          var left = handle(c[0]);
          var right = handle(c[1]);
          items.push(span(json.id, left + " - " + right));
      }
  } else if(json.name == "multiply") {
      var c = json.children;
      if($.isArray(c)) {
          var left = handle(c[0]);
          var right = handle(c[1]);
          items.push(span(json.id, left + " &middot; " + right));
      }
  } else if(json.name == "divide") {
      var c = json.children;
      if($.isArray(c)) {
          var left = handle(c[0]);
          var right = handle(c[1]);
          items.push(span(json.id, left + " / " + right));
      }
   } else if(json.name == "exp") {
      var c = json.children;
      if($.isArray(c)) {
          var left = handle(c[0]);
          var right = handle(c[1]);
          items.push(span(json.id, left + " <sup>" + right + "</sup>"));
      }
  } else if(json.name == "boxmodality") {
      var c = json.children;
      if($.isArray(c)) {
          var left = handle(c[0]);
          var right = handle(c[1]);
          items.push(span(json.id, "[" + left + "] " + right));
      }
  } else if(json.name == "Assign") {
      var c = json.children;
      if($.isArray(c)) {
          var left = handle(c[0]);
          var right = handle(c[1]);
          items.push(span(json.id, left + " := " + right));
      }
  } else if(json.name == "NDetAssign") {
      var c = json.children;
      if($.isArray(c)) {
          var left = handle(c[0]);
          items.push(span(json.id, left + ":= *"));
      }
  } else if(json.name == "Test") {
      var c = json.children;
      if($.isArray(c)) {
          var left = handle(c[0]);
          items.push(span(json.id, "?" + left));
      }
  } else if(json.name == "Loop") {
      var c = json.children;
      if($.isArray(c)) {
          var left = handle(c[0]);
          items.push(span(json.id, "{" + left + "}<sup>*</sup>" ));
      }
  } else if(json.name == "Sequence") {
      var c = json.children;
      if($.isArray(c)) {
          var left = handle(c[0]);
          var right = handle(c[1]);
          items.push(span(json.id, left + "; " + right));
      }
  } else if(json.name == "Choice") {
      var c = json.children;
      if($.isArray(c)) {
          var left = handle(c[0]);
          var right = handle(c[1]);
          items.push(span(json.id, left + " &#8746; " + right));
      }
  } else {
      var chil = "";
      if(json.hasOwnProperty("children")) {
        var strs = [];
        var c = json.children;
        for(var i = 0; i < c.length; i++) {
            strs.push(handle(c[i]));
        }
        chil = "(" + strs.join(", ") + ")";
      }
      items.push(span(json.id, json.name + chil));
  }
  return items.join("");
}

function translateFormula(proofId, nId, f) {
	 return "<span id=\"" + f.id + "\"onClick=\"handleFormulaClick('" + proofId + "','" + nId + "','" + f.id + "');\">" + handle(f.formula) + "</span>";
}

function translateSequent(proofId, nId, s) {
	var res = "";
	s.ante.forEach(function(f) {
	    res = res + translateFormula(proofId, nId, f) + "<br>";
	});
	res = res + "<span onClick=\"ApiClient.runGlobalTactic(ClientState.uid, 0, '" + proofId + "','" + nId + "', function (resp) { alert(JSON.stringify(resp)); });\"> &#8866; </span><br>";
	s.succ.forEach(function(f) {
	    res = res + translateFormula(proofId, nId, f) + "<br>";
	});
	return res;
}

function handleFormulaClick(proofId, nId, f) {
    // TODO user id
    var userId = 0;
    var tacticId = 1;
    ApiClient.runTactic(userId, tacticId, proofId, nId, f, function (resp) {
        // TODO integrate sequent visualization into AngularJS
        globalProofTree[0].children.push({ "_id" : resp.tacticInstId, "name" : getTacticName(resp.tacticId), "children" : [] });
    });
}

function getTacticName(tacticId) {
    return "Step";
}
</script>

<script src="js/d3/d3.min.js"></script>

<style>

    .node {
    stroke: #fff;
    fill: Gray;
    stroke-width: 1.5px;
    }

    .currentnode {
    stroke: #fff;
    fill: #000;
    stroke-width: 1.5px;
    }

    .othernode {
    stroke: #000;
    fill: #fff;
    stroke-width: 1.5px;
    }

    .link {
    stroke: #999;
    stroke-opacity: .6;
    }

    .inactivelink {
    stroke: #999;
    stroke-dasharray: 5,5;
    stroke-opacity: .6;
    }

</style>

<script>
function StateChartCtrl($scope) {
    var color = d3.scale.category20();

    var width = 300,
        height = 50;

    var force = d3.layout.force()
        .charge(-50)
        .linkDistance(10)
        .gravity(0)
        .size([width, height]);

    var svg = d3.select("#statechart").append("svg")
        .attr("width", width)
        .attr("height", height);

    d3.json("examples/model1graph.json", function(error, graph) {
      force
          .nodes(graph.nodes)
          .links(graph.links)
          .start();

      var link = svg.selectAll(".link")
          .data(graph.links)
        .enter().append("line")
          .attr("class", function(d) { return d.class; })
          .style("stroke-width", function(d) { return Math.sqrt(d.value); });

      var node = svg.selectAll(".node")
          .data(graph.nodes)
        .enter().append("circle")
          .attr("class", function(d) { return d.class; })
          .attr("r", function(d) { if (d.group == 1 || d.group == 3) return 3; else return 6; } )
          //.style("fill", function(d) { return color(d.group); })
          .call(force.drag);

      node.append("title")
          .text(function(d) { return d.name; });

      force.on("tick", function() {
        link.attr("x1", function(d) { return d.source.x; })
            .attr("y1", function(d) { return d.source.y; })
            .attr("x2", function(d) { return d.target.x; })
            .attr("y2", function(d) { return d.target.y; });

        node.attr("cx", function(d) { return d.x; })
            .attr("cy", function(d) { return d.y; });
      });
    });
}
</script>

<style>
.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
    }
</style>
<script>
function ProofProgressCtrl($scope) {
    var n = 4, // number of layers = max. number of children
        m = 4, // number of samples per layer
        stack = d3.layout.stack();
        //layers = stack(d3.range(n).map(function() { return bumpLayer(m, .1); })),
        //yGroupMax = d3.max(layers, function(layer) { return d3.max(layer, function(d) { return d.y; }); }),
        //yStackMax = d3.max(layers, function(layer) { return d3.max(layer, function(d) { return d.y0 + d.y; }); });

    var margin = {top: 40, right: 10, bottom: 20, left: 10},
        width = 300 - margin.left - margin.right,
        height = 150 - margin.top - margin.bottom;

    var x = d3.scale.ordinal()
        .domain(d3.range(m))
        .rangeRoundBands([0, width], .08);

    var color = d3.scale.linear()
        .domain([0, n - 1])
        .range(["#aad", "#556"]);

    var xAxis = d3.svg.axis()
        .scale(x)
        .tickSize(0)
        .tickPadding(6)
        .orient("bottom");

    var svg = d3.select("#proofprogress").append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
        .append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

    d3.json("examples/proofprogress.json", function(error, layersdata) {
        var layers = stack(layersdata);
        var yStackMax = d3.max(layers, function(layer) { return d3.max(layer, function(d) { return d.y0 + d.y; }); });

        var y = d3.scale.linear()
            .domain([0, yStackMax])
            .range([height, 0]);

        var layer = svg.selectAll(".layer")
            .data(layers)
            .enter().append("g")
            .attr("class", "layer")
            .style("fill", function(d, i) { return color(i); });

        var rect = layer.selectAll("rect")
            .data(function(d) { return d; })
            .enter().append("rect")
            .attr("x", function(d) { return x(d.x); })
            .attr("y", height)
            .attr("width", x.rangeBand())
            .attr("height", 0);

        rect.transition()
            .delay(function(d, i) { return i * 10; })
            .attr("y", function(d) { return y(d.y0 + d.y); })
            .attr("height", function(d) { return y(d.y0) - y(d.y0 + d.y); });

        svg.append("g")
            .attr("class", "x axis")
            .attr("transform", "translate(0," + height + ")")
            .call(xAxis);
    });


}
</script>