<div ng-repeat="f in sequent.ante"
      id="{{f.id}}"
      ng-click="handleFormulaClick(f)">
    <table>
        <tbody>
            <tr>
                <td class="k4-sequent-index">a:{{$index}}</td>
                <td><k4-formula formula="f.formula" highlight="true"></k4-formula></td>
            </tr>
        </tbody>
    </table>
</div>

<div
    ng-click="handleTurnstileClick()">
    &#8866;
</div>

<div ng-repeat="f in sequent.succ"
      id="{{f.id}}"
      ng-click="handleFormulaClick(f)">
    <table>
        <tbody>
        <tr>
            <td class="k4-sequent-index">s:{{$index}}</td>
            <td><k4-formula formula="f.formula" highlight="true"></k4-formula></td>
        </tr>
        </tbody>
    </table>
</div>
