<div ng-repeat="f in sequent.ante"
      id="{{f.id}}">
    <div class="row k4-flexrow">
        <div class="col-md-1 k4-sequent-index k4-flexcell">
            <div class="k4-valign-table">
                <div class="k4-valign-cell">a:{{$index}}</div>
            </div>
        </div>
        <!--<td><k4-formula formula="f.formula" highlight="true"></k4-formula></td>-->
        <div class="col-md-11 k4-formula k4-flexcell">
            <ul>
                <li><a href="" ng-click="applyTacticsByName(f,'keymaera.step')"><span class="glyphicon glyphicon-step-forward"></span> Step</a></li>
                <li><a href="" ng-click="applyTacticsByName(f,'dl.hide')"><span class="glyphicon glyphicon-eye-close"></span> Hide</a></li>
            </ul>
            <div class="k4-formula-content" ng-click="handleFormulaClick(f)">
                <k4-formula formula="f.formula" highlight="true"></k4-formula>
            </div>
        </div>
    </div>
</div>

<div>
    <a href="" ng-click="handleTurnstileClick()">&#8866;</a>
</div>

<div ng-repeat="f in sequent.succ"
      id="{{f.id}}">
    <div class="row k4-flexrow">
        <div class="col-md-1 k4-sequent-index k4-flexcell">
            <div class="k4-valign-table">
                <div class="k4-valign-cell">s:{{$index}}</div>
            </div>
        </div>
        <div class="col-md-11 k4-formula k4-flexcell">
            <ul>
                <li><a href="" ng-click="applyTacticsByName(f,'keymaera.step')"><span class="glyphicon glyphicon-step-forward"></span> Step</a></li>
                <li><a href="" ng-click="applyTacticsByName(f,'dl.hide')"><span class="glyphicon glyphicon-eye-close"></span> Hide</a></li>
            </ul>
            <div class="k4-formula-content" ng-click="handleFormulaClick(f)">
                <k4-formula formula="f.formula" highlight="true"></k4-formula>
            </div>
        </div>
    </div>
</div>

