<!DOCTYPE html>
<html lang="en" ng-app="keymaeraProofApp" ng-controller="ProofAppCtrl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>KeYmaera X</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/css/angular-busy.min.css" rel="stylesheet" type="text/css">
    <link href="/css/jasny-bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/css/xeditable.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link ng-href="css/{{theme.css}}.css" title="KeYmaera X" rel="stylesheet" type="text/css">
    <link href="css/app-print.css" title="KeYmaera X Print" rel="alternate stylesheet" type="text/css">
    <link href="css/presentation.css" title="KeYmaera X Presentation Mode" rel="alternate stylesheet" type="text/css">

    <!-- plugins -->
    <link href="/css/intro/introjs.css" rel="stylesheet" type="text/css">
    <link href="/css/chardin/chardinjs.css" rel="stylesheet" type="text/css">
    <link href="css/sticky-footer-navbar.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/js/highlight/styles/dl.css">

</head>

<body ng-controller="DashboardCtrl">

<script type="text/ng-template" id="firstTimePopover.html">
    <div uib-alert class="alert-success"
         style="margin-bottom:0px;"
         close="intro.firstTime=false;"><strong>Quick help</strong></div>
</script>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">KeYmaera X</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav nav-pills">
                <!--<li ng-class="{active: theview == 'dashboard'}"><a href="dashboard.html?#/dashboard">Dashboard</a></li>-->
                <li ng-class="{active: theview == 'models'}"><a href="dashboard.html?#/models">Models</a></li>
                <!--<li><a href="#">Lemmas</a></li>-->
                <!-- TODO nav pill shows how many updates where made to proofs since last logged in. Currently, it shows the number of OPEN proofs! -->
                <li ng-model="open_proofs" ><a href="dashboard.html?#/proofs"><!--<span class="badge pull-right">{{ open_proof_count }}</span>-->Proofs</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <!--<li><a href="#">Profile</a></li>-->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">Theme <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>Font size: <input type="number" name="fontsize" min="10" max="100" size="3" ng-model="theme.fontSize" ng-change="selectTheme(theme)">px</li>
                        <li class="divider"></li>
                        <li ng-repeat="t in themes"><a ng-click="selectTheme(t)"><i ng-show="theme.name === t.name" class="k4-menu-icon fa fa-check"></i> {{t.name}}</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">Help <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <!--<li><a href="#">Examples</a></li>-->
                        <li><a ng-click="showOverlayHelp()"><i class="fa fa-question-circle"></i> Quick Usage Help</a></li>
                        <li><a href="dashboard.html?#/tutorials"><i class="fa fa-info-circle"></i> Tutorials</a></li>
                        <!--<li><a ng-click="startIntro();"><i class="fa fa-question-circle"></i> Step-by-step help</a></li>-->
                        <li><a href="dashboard.html?#/usage"><i class="fa fa-info-circle"></i> Using KeYmaera&#160;X</a></li>
                        <li class="divider"></li>
                        <li><a href="dashboard.html?#/tools" ng-show="isLocal"><i class="fa fa-wrench"></i> Tool Configuration</a></li>
                        <li><a href="dashboard.html?#/license"><i class="fa fa-copyright"></i> License</a></li>
                        <li><a href="dashboard.html?#/import"><i class="fa fa-upload"></i> Import Case Study</a></li>
                        <!--<li><a href="#">Videos</a></li>-->
                        <li class="divider"></li>
                        <li><a href="dashboard.html?#/syntax"><i class="fa fa-info-circle"></i> Syntax and Semantics</a></li>
                        <li><a href="http://keymaerax.org/KeYmaeraX-sheet.pdf"><i class="fa fa-info-circle"></i> KeYmaera&#160;X Cheat Sheet</a></li>
                        <li class="divider"></li>
                        <li><a ng-click="extractdb()" ng-show="isLocal"><i class="fa fa-archive"></i> Extract Database</a></li>
                        <li class="divider"></li>
                        <li><a href="http://www.keymaerax.org"><i class="fa fa-download"></i> Download</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a>
                        <i class="fa fa-question-circle" ng-click="showOverlayHelp()"
                           uib-popover-template="'firstTimePopover.html'" popover-trigger="'none'"
                           popover-class="increase-popover-width"
                           popover-is-open="intro.firstTime" popover-placement="bottom"
                           uib-tooltip="Quick usage help" tooltip-placement="auto bottom">
                        </i>
                    </a>
                </li>
                <li class="dropdown">
                    <a ng-click="shutdown()" ng-show="isLocal" uib-tooltip="Shutdown KeYmaera X" tooltip-placement="auto bottom"><i class="fa fa-power-off"></i></a>
                </li>
                <li class="dropdown">
                    <a ng-click="logoff()" uib-tooltip="Log off" tooltip-placement="auto bottom"><i class="fa fa-sign-out"></i></a>
                </li>
            </ul>
        </div><!--/.navbar-collapse -->
    </div>
</div>

<div class="container">

<div ng-if="toolConfig.tool !== undefined && (toolConfig.tool !== 'Mathematica' || !toolConfig.configured)" ng-cloak>
    <div class="alert alert-warning" role="alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <b><i class="fa fa-exclamation-triangle"></i> Warning:</b> Limited functionality: Mathematica is not configured.
            <a href="dashboard.html#/tools"><b>Configure now.</b></a>
    </div>
</div>

<div ng-controller="ServerInfoCtrl">
    <div class="alert alert-warning" role="alert" ng-if="!upToDate && versionInfoAvailable" ng-cloak>
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <span class="text-warning"><b>Update:</b> version {{latestVersion}} is now available from <a href="http://keymaerax.org">KeYmaeraX.org</a>.</span>
    </div>
</div>

<div ng-intro-options="intro.introOptions" ng-intro-method="startIntro" ng-intro-autostart="false">
<div class="container" ng-view></div>
</div>

</div>

<div class="footer" ng-controller="ServerInfoCtrl">
    <div class="container">
        <p class="text-muted">KeYmaera X version {{keymaeraXVersion}}
            <span class="text-danger" ng-if="!upToDate && versionInfoAvailable">(<b>version {{latestVersion}} is now available from <a class="text-danger" href="http://keymaerax.org">KeYmaeraX.org</a></b>).</span>
            <span ng-if="!versionInfoAvailable">(could not retrieve version information from KeYmaeraX.org).</span>
            <span ng-if="upToDate && versionInfoAvailable">(latest release).</span>
            <i class="fa fa-copyright"></i> <a href="http://www.ls.cs.cmu.edu/" target="_blank">Logical Systems Lab</a>, Carnegie Mellon University 2017</p>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery-ui.min.js"></script>
<script src="/js/jquery-textcomplete/jquery.textcomplete.js"></script>
<script src="/js/bootstrap/bootstrap.min.js"></script>
<script src="/js/jasny-bootstrap.min.js"></script>
<script src="/js/angular/angular.min.js"></script>
<script src="/js/angular/angular-sanitize.min.js"></script>
<script src="/js/angular/angular-cookies.min.js"></script>
<script src="/js/angular/angular-route.min.js"></script>
<script src="/js/angular/angular-animate.min.js"></script>
<script src="/js/angular-spinners/angular-spinners.min.js"></script>
<script src="/js/clipboard/clipboard.min.js"></script>
<script src="/js/clipboard/ngclipboard.min.js"></script>
<script src="/js/xeditable.min.js"></script> <!-- for inline editing -->
<script src="/js/angular/bootstrap/ui-bootstrap-tpls-2.5.0.min.js" ></script>
<script src="/js/angular-textcomplete/ng-textcomplete.js"></script>
<script src="/js/google-diffmatchpatch/diff_match_patch.js"></script>
<script src="/js/angular-diffmatchpatch/angular-diff-match-patch.js"></script>
<script src="/js/angular-file-saver/angular-file-saver.bundle.min.js"></script>
<script src="/js/rangy/rangy-core.min.js"></script>
<script src="/js/rangy/rangy-classapplier.min.js"></script>
<script src="/js/rangy/rangy-textrange.min.js"></script>
<script src="/js/angular-chart/Chart.min.js"></script> <!-- Simulation and test synthesis -->
<script src="/js/angular-chart/angular-chart.min.js"></script> <!-- Simulation and test synthesis -->
<script src="/js/intro/intro.min.js"></script> <!-- Step-by-step Help -->
<script src="/js/chardin/chardinjs.min.js"></script> <!-- Help -->
<script src="/js/intro/angular-intro.min.js"></script> <!-- angular wrapper for intro -->
<script src="/js/highlight/highlight.pack.js"></script>
<script src="/js/angular-highlightjs/angular-highlightjs.min.js"></script>
<script src="/js/app.js"></script>
<!-- Load services -->
<script src="/js/services/services.js"></script>
<script src="/js/services/sequentproofservice.js"></script>
<script src="/js/services/derivationinfos.js"></script>
<script src="/js/services/session.js"></script>
<!-- Load interceptors -->
<script src="/js/controllers/interceptors.js"></script>
<script src="/js/controllers/auth.js"></script>
<!-- Load controller module -->
<script src="/js/controllers.js"></script>
<!-- Load individual controllers -->
<script src="/js/controllers/factories.js"></script>
<script src="/js/controllers/errorReport.js"></script>
<script src="/js/controllers/counterExample.js"></script>
<script src="/js/controllers/dashboard.js"></script>
<script src="/js/controllers/dev.js"></script>
<!--<script src="/js/controllers/hacmstree.js"></script>-->
<script src="/js/controllers/hpmodels.js"></script>
<script src="/js/controllers/toolConfig.js"></script>
<script src="/js/controllers/mathematicaConfig.js"></script>
<script src="/js/controllers/proofRuleChoice.js"></script>
<script src="/js/controllers/proofs.js"></script>
<script src="/js/controllers/provingawesome.js"></script>
<script src="/js/controllers/proofmessages.js"></script>
<script src="/js/controllers/tacticEditor.js"></script>
<script src="/js/controllers/simulator.js"></script>
<script src="/js/controllers/derivationInfoDialog.js"></script>
<script src="/js/controllers/tacticExtraction.js"></script>
<script src="/js/controllers/modelplex.js"></script>
<script src="/js/controllers/testsynthesis.js"></script>
<script src="/js/controllers/login.js"></script>
<script src="/js/controllers/serverinfo.js"></script>
<script src="/js/controllers/proofapp.js"></script>

<!-- KeYmaera UI
================================================== -->
<script src="/js/keymaera-ui/directives.js"></script>
<script src="js/keymaera-ui/contenteditable.js"></script>
<script src="js/keymaera-ui/keyevents.js"></script>
<script src="js/keymaera-ui/mouseevents.js"></script>
<script src="js/keymaera-ui/formula.js"></script>
<script src="js/keymaera-ui/sequent.js"></script>
<script src="js/keymaera-ui/sequentproof.js"></script>
<script src="js/keymaera-ui/autohidealert.js"></script>
<script src="js/keymaera-ui/tacticeditor.js"></script>
<script src="js/keymaera-ui/replaceinclude.js"></script>
<script src="js/keymaera-ui/frangRepeat.js"></script>
<script src="js/keymaera-ui/kyxupload.js"></script>

<script>hljs.initHighlightingOnLoad();</script>

<!-- avoid closing the menu when an input is clicked -->
<script type="text/javascript">
    $('.dropdown-menu input').click(function(e) {
        e.stopPropagation();
    });
</script>

</body>
</html>
