<!DOCTYPE html>
<html lang="en" ng-app="keymaeraProofApp" ng-controller="ProofAppCtrl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="KeYmaera&#160;X Prover User Interface">
    <meta name="author" content="Logical Systems Lab, Carnegie Mellon University">

    <title>KeYmaera&#160;X Prover</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/css/angular-busy.min.css" rel="stylesheet" type="text/css">
    <link href="/css/jasny-bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/css/xeditable.min.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link ng-href="css/{{theme.css}}.css" title="KeYmaera X" rel="stylesheet" type="text/css">
    <link href="css/app-print.css" title="KeYmaera X Print" rel="alternate stylesheet" type="text/css">
    <link href="css/presentation.css" title="KeYmaera X Presentation Mode" rel="alternate stylesheet" type="text/css">

    <!-- plugins -->
    <link href="/css/intro/introjs.css" rel="stylesheet" type="text/css">
    <link href="/css/chardin/chardinjs.css" rel="stylesheet" type="text/css">
    <link href="css/sticky-footer-navbar.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/js/highlight/styles/dl.css">
    <link rel="stylesheet" href="/css/font-awesome-animation.min.css">

</head>

<body ng-controller="DashboardCtrl">

<spinner name="caseStudyImportSpinner" ng-cloak>
    <div class="spinner-overlay"></div>
    <div class="spinner">
        <div class="spinner-double-bounce1"></div>
        <div class="spinner-double-bounce2"></div>
    </div>
    <div class="spinner-please-wait">Importing archive, please wait...</div>
</spinner>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainnavbar">
                <span class="fa fa-bars"></span>
            </button>
<!--            <a class="navbar-brand" href="https://keymaeraX.org/">KeYmaera X</a>-->
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="mainnavbar">
            <ul class="nav navbar-nav">
                <li class="nav-item dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">KeYmaera&#160;X <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a ng-click="openNewModelDialog()">New Model...</a></li>
                        <li><a href="dashboard.html?#/models"><i class="fa fa-file-code-o"></i> Models</a></li>
                        <li><a href="dashboard.html?#/proofs"><i class="fa fa-book"></i> Proofs</a></li>
                        <li><a href="dashboard.html?#/modelplex"><i class="fa fa-shield"></i> ModelPlex</a></li>
                        <li><a ng-click="openPreferences()" ng-show="systemInfo.isLocal"><i class="fa fa-wrench"></i> Preferences</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <!--<li><a href="#">Profile</a></li>-->
                <li class="nav-item dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">Theme <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>Font size: <input type="number" name="fontsize" min="10" max="100" size="3" ng-model="theme.fontSize" ng-change="selectTheme(theme)">px</li>
                        <li>Left width: <input type="number" name="leftmargin" min="0" max="200" size="3"
                                               ng-model="theme.renderMargins[0]" ng-change="selectTheme(theme)"
                                               ng-click="showCharacterMeasure(true)" ng-blur="showCharacterMeasure(false)"></li>
                        <li>Right width: <input type="number" name="rightmargin" min="0" max="200" size="3"
                                                ng-model="theme.renderMargins[1]" ng-change="selectTheme(theme)"
                                                ng-click="showCharacterMeasure(true)" ng-blur="showCharacterMeasure(false)"></li>
                        <li class="divider"></li>
                        <li ng-repeat="t in themes"><a ng-click="selectTheme(t)"><i ng-show="theme.name === t.name" class="k4-menu-icon fa fa-check"></i> {{t.name}}</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">Help <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <!--<li><a href="#">Examples</a></li>-->
                        <li><a ng-click="showOverlayHelp()"><i class="fa fa-question-circle"></i> Quick Usage Help</a></li>
                        <li><a target="_blank" href="https://keymaeraX.org/Xtutorial.html"><i class="fa fa-info-circle"></i> KeYmaera&#160;X Tutorial</a></li>
                        <li><a target="_blank" href="http://video.keymaeraX.org/"><i class="fa fa-info-circle"></i> User Videos</a></li>
                        <li><a target="_blank" href="https://video.lfcps.org/"><i class="fa fa-info-circle"></i> Logic Videos</a></li>
                        <!--<li><a ng-click="startIntro();"><i class="fa fa-question-circle"></i> Step-by-step help</a></li>-->
                        <li><a href="dashboard.html?#/usage"><i class="fa fa-info-circle"></i> Using KeYmaera&#160;X UI</a></li>
                        <li class="divider"></li>
                        <li><a href="dashboard.html?#/syntax"><i class="fa fa-info-circle"></i> Syntax and Semantics</a></li>
                        <li><a target="_blank" href="https://keymaerax.org/KeYmaeraX-sheet.pdf"><i class="fa fa-info-circle"></i> Cheat Sheet</a></li>
                        <li class="divider"></li>
                        <li><a href="dashboard.html?#/license"><i class="fa fa-copyright"></i> License</a></li>
                        <li class="divider"></li>
                        <li><a ng-click="extractdb()" ng-show="systemInfo.isLocal"><i class="fa fa-archive"></i> Extract Database</a></li>
                        <li><a target="_blank" href="https://keymaeraX.org/"><i class="fa fa-download"></i> Download KeYmaera&#160;X</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a>
                        <i class="fa fa-question-circle" ng-click="showOverlayHelp()"
                           uib-tooltip="Quick usage help" tooltip-placement="auto bottom">
                        </i>
                    </a>
                </li>
                <li class="nav-item">
                    <a ng-click="shutdown()" ng-show="systemInfo.isLocal" uib-tooltip="Shutdown KeYmaera X" tooltip-placement="auto bottom"><i class="fa fa-power-off"></i></a>
                </li>
                <li class="nav-item">
                    <a ng-click="logoff()" uib-tooltip="Log off" tooltip-placement="auto bottom"><i class="fa fa-sign-out"></i></a>
                </li>
            </ul>
        </div><!--/.navbar-collapse -->
    </div>
</div>

<div class="container">

<noscript>
  <div class="alert alert-danger" style="font-size: large"><b>Error:</b> Using the KeYmaera&#160;X user interface requires enabling <b>JavaScript</b> in your browser!</div>
</noscript>
<script type="text/javascript"><!--
  if (!navigator.cookieEnabled) document.write('<div class="alert alert-danger" style="font-size: large"><b>Error:</b> Using the KeYmaera&#160;X user interface requires enabling <b>Cookies</b> in your browser!<br/> After enabling Cookies, restart the  KeYmaera&#160;X user interface</div>')
  --></script>

<div ng-controller="ToolStatus">
    <div class="alert alert-warning" role="alert"
         ng-if="toolStatus !== undefined && (toolStatus.tool == 'z3' || !toolStatus.initialized)" ng-cloak>
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <b><i class="fa fa-exclamation-triangle"></i> Warning:</b> Limited functionality: Neither Mathematica nor Wolfram Engine is configured.
            <a ng-click="openPreferences()"><b>Configure now.</b></a>
    </div>
</div>

<div ng-controller="ServerInfoCtrl">
    <div class="alert alert-warning" role="alert" ng-if="!upToDate && versionInfoAvailable" ng-cloak>
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <span class="text-warning"><b>Update:</b> version {{latestVersion}} is now available from <a target="blank_" href="https://keymaeraX.org/">KeYmaeraX.org</a>.</span>
    </div>
</div>

<div ng-intro-options="intro.introOptions" ng-intro-method="startIntro" ng-intro-autostart="false">
<div class="container" ng-view></div>
</div>

</div>

<div class="footer" ng-controller="ServerInfoCtrl">
    <div class="container">
        <p class="text-muted k4-server-info">KeYmaera&#160;X {{keymaeraXVersion}}
            <span class="text-danger" ng-if="!upToDate && versionInfoAvailable">(<b>version {{latestVersion}} is now available from <a target="_blank" class="text-danger" target="blank_" href="https://keymaeraX.org/">KeYmaeraX.org</a></b>).</span>
            <span ng-if="!versionInfoAvailable">(no network).</span>
            <span ng-if="upToDate && versionInfoAvailable">(latest).</span>
            <i class="fa fa-copyright"></i> Carnegie Mellon University, <a href="https://www.ls.cs.cmu.edu/" target="_blank">Logical Systems Lab</a> 2014-2021</p>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery-ui.min.js"></script>
<script src="/js/jquery-textcomplete/jquery.textcomplete.js"></script>
<script src="/js/bootstrap/bootstrap.min.js"></script>
<script src="/js/jasny-bootstrap.min.js"></script>
<script src="/js/angular/angular.min.js"></script>
<script src="/js/angular/angular-sanitize.min.js"></script>
<script src="/js/angular/angular-cookies.min.js"></script>
<script src="/js/angular/angular-route.min.js"></script>
<script src="/js/angular/angular-animate.min.js"></script>
<script src="/js/angular-spinners/angular-spinners.min.js"></script>
<script src="/js/angular-focus-if/focusIf.min.js"></script>
<script src="/js/clipboard/clipboard.min.js"></script>
<script src="/js/clipboard/ngclipboard.min.js"></script>
<script src="/js/xeditable.min.js"></script> <!-- for inline editing -->
<script src="/js/angular/bootstrap/ui-bootstrap-tpls-2.5.0.min.js" ></script>
<script src="/js/angular-textcomplete/ng-textcomplete.js"></script>
<script src="/js/google-diffmatchpatch/diff_match_patch.js"></script>
<script src="/js/angular-diffmatchpatch/angular-diff-match-patch.js"></script>
<script src="/js/angular-file-saver/angular-file-saver.bundle.min.js"></script>
<script src="/js/rangy/rangy-core.min.js"></script>
<script src="/js/rangy/rangy-classapplier.min.js"></script>
<script src="/js/rangy/rangy-textrange.min.js"></script>
<script src="/js/angular-chart/Chart.min.js"></script> <!-- Simulation and test synthesis -->
<script src="/js/angular-chart/angular-chart.min.js"></script> <!-- Simulation and test synthesis -->
<script src="/js/intro/intro.min.js"></script> <!-- Step-by-step Help -->
<script src="/js/chardin/chardinjs.min.js"></script> <!-- Help -->
<script src="/js/intro/angular-intro.min.js"></script> <!-- angular wrapper for intro -->
<script src="/js/highlight/highlight.pack.js"></script>
<script src="/js/angular-highlightjs/angular-highlightjs.min.js"></script>
<script src="/js/ace/src-min-noconflict/ace.js"></script>
<script src="/js/ace/ui-ace.min.js"></script>
<script src="/js/app.js"></script>
<script src="/js/mermaid/mermaid.min.js"></script>
<!-- Load services -->
<script src="/js/services/services.js"></script>
<script src="/js/services/sequentproofservice.js"></script>
<script src="/js/services/derivationinfos.js"></script>
<script src="/js/services/session.js"></script>
<script src="/js/services/proofs.js"></script>
<!-- Load interceptors -->
<script src="/js/controllers/interceptors.js"></script>
<script src="/js/controllers/auth.js"></script>
<!-- Load controller module -->
<script src="/js/controllers.js"></script>
<!-- Load individual controllers -->
<script src="/js/controllers/factories.js"></script>
<script src="/js/controllers/errorReport.js"></script>
<script src="/js/controllers/counterExample.js"></script>
<script src="/js/controllers/odeConditions.js"></script>
<script src="/js/controllers/pegasusCandidates.js"></script>
<script src="/js/controllers/dashboard.js"></script>
<script src="/js/controllers/dev.js"></script>
<!--<script src="/js/controllers/hacmstree.js"></script>-->
<script src="/js/controllers/hpmodels.js"></script>
<script src="/js/controllers/toolConfig.js"></script>
<script src="/js/controllers/mathematicaConfig.js"></script>
<script src="/js/controllers/wolframEngineConfig.js"></script>
<script src="/js/controllers/wolframScriptConfig.js"></script>
<script src="/js/controllers/z3Config.js"></script>
<script src="/js/controllers/proofRuleChoice.js"></script>
<script src="/js/controllers/proofs.js"></script>
<script src="/js/controllers/provingawesome.js"></script>
<script src="/js/controllers/proofmessages.js"></script>
<script src="/js/controllers/tacticEditor.js"></script>
<script src="/js/controllers/simulator.js"></script>
<script src="/js/controllers/derivationInfoDialog.js"></script>
<script src="/js/controllers/tacticExtraction.js"></script>
<script src="/js/controllers/modelplex.js"></script>
<script src="/js/controllers/testsynthesis.js"></script>
<script src="/js/controllers/login.js"></script>
<script src="/js/controllers/serverinfo.js"></script>
<script src="/js/controllers/proofapp.js"></script>
<script src="/js/controllers/lemmaBrowser.js"></script>

<!-- KeYmaera UI
================================================== -->
<script src="/js/keymaera-ui/directives.js"></script>
<script src="js/keymaera-ui/contenteditable.js"></script>
<script src="js/keymaera-ui/keyevents.js"></script>
<script src="js/keymaera-ui/mouseevents.js"></script>
<script src="js/keymaera-ui/formula.js"></script>
<script src="js/keymaera-ui/sequent.js"></script>
<script src="js/keymaera-ui/sequentproof.js"></script>
<script src="js/keymaera-ui/autohidealert.js"></script>
<script src="js/keymaera-ui/tacticeditor.js"></script>
<script src="js/keymaera-ui/replaceinclude.js"></script>
<script src="js/keymaera-ui/frangRepeat.js"></script>
<script src="js/keymaera-ui/kyxupload.js"></script>
<script src="js/keymaera-ui/tacticinfo.js"></script>
<script src="js/keymaera-ui/sequentruleinfo.js"></script>
<script src="js/keymaera-ui/tacticname.js"></script>
<script src="js/keymaera-ui/axiomkeyselector.js"></script>
<script src="js/keymaera-ui/tacticmenuentry.js"></script>
<script src="js/keymaera-ui/prooflist.js"></script>
<script src="js/keymaera-ui/hamodeler.js"></script>

<script>hljs.initHighlightingOnLoad();</script>

<!-- avoid closing the menu when an input is clicked -->
<script type="text/javascript">
    $('.dropdown-menu input').click(function(e) {
        e.stopPropagation();
    });
</script>

</body>
</html>
