<script type="text/ng-template" id="templates/lemmaDropdownTemplate.html">
    <a>
    <div>
        <b><span ng-bind-html="match.model.name | uibTypeaheadHighlight:query"></span></b>
    </div>
        <small>
            <kbd>{{match.model.codeName}}</kbd>
            <span ng-if="match.model.displayInfo"> Concludes: <span ng-bind-html="match.model.displayInfo"></span></span>
        </small>
    </a>
</script>

<div class="row">
    <!-- padding around content -->
    <div class="col-md-12">
        <div ng-repeat="tactic in formulaAxiomsMap[tacticPopover.formulaId()]" class="k4-tactic-popover-entry">
            <k4-tactic-info user-id="{{userId}}" proof-id="{{proofId}}" node-id="{{nodeId}}"
                            formula-id="{{tacticPopover.formulaId()}}"
                            tactic="tactic" axiom-readonly="true"
                            on-tactic="onTactic(formulaId, tacticId)"
                            on-input-tactic="onInputTactic(formulaId, tacticId, input)"></k4-tactic-info>
        </div>
        <div class="k4-tactic-popover-entry">
            <div class="input-group">
                <span class="input-group-addon">Search</span>
                <input type="text" ng-model="lemma.selectedName" placeholder="Search for lemmas"
                       uib-typeahead="lemmaInfo.name for lemmaInfo in lemma.allInfos(tacticPopover.formulaId(), $viewValue)"
                       typeahead-template-url="templates/lemmaDropdownTemplate.html"
                       typeahead-show-hint="true" typeahead-min-length="0"
                       typeahead-on-select="lemma.select($item, $model, $label, $event)"
                       typeahead-loading="lemma.loading" typeahead-no-results="lemma.noResults"
                       class="form-control">
                <i class="input-group-addon" ng-if="lemma.loading" class="fa fa-refresh"></i>
                <div class="input-group-addon" ng-if="lemma.noResults"><i class="fa fa-remove"></i> No Lemmas Found</div>
                <div class="input-group-addon" ng-if="!lemma.noResults && lemma.selected && lemma.selected.displayInfoParts">
                    <k4-axiom-key-selector axiom="lemma.selected" readonly="false"></k4-axiom-key-selector>
                </div>
                <a class="input-group-addon btn btn-default"
                   ng-click="browseTactics()"><span class="fa fa-spinner fa-spin" ng-if="axiomsLoading || lemmasLoading"></span> Browse...</a>
                <a class="input-group-addon btn btn-default" ng-disabled="!lemma.selected"
                   ng-click="lemma.apply(tacticPopover.formulaId())"><b>Apply Lemma</b></a>
            </div>
        </div>
        <div ng-if="derivationInfos.infos.length > 0" ng-class="k4-tactic-popover-entry">
            <div class="input-group">
                <input type="text" ng-model="derivationInfos.filter" placeholder="Filter lemmas"
                       class="form-control" />
                <a class="input-group-addon btn btn-default" ng-if="derivationInfos.order === 'standardDerivation.name'"
                   ng-click="derivationInfos.order = '-standardDerivation.name'"><i class="fa fa-sort-alpha-desc"></i></a>
                <a class="input-group-addon btn btn-default" ng-if="derivationInfos.order === '-standardDerivation.name'"
                   ng-click="derivationInfos.order = 'standardDerivation.name'"><i class="fa fa-sort-alpha-asc"></i></a>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <uib-tabset justified="false" active="derivationInfos.kind">
                        <uib-tab index="1" select="browseTactics()">
                            <uib-tab-heading><span class="fa fa-spinner fa-spin" ng-if="axiomsLoading"></span> Axioms, Rules, and Tactics</uib-tab-heading>
                            <div ng-repeat="tactic in derivationInfos.infos | filter: derivationInfos.filter | orderBy: derivationInfos.order"
                                 class="k4-tactic-popover-entry">
                                <k4-tactic-info user-id="{{userId}}" proof-id="{{proofId}}" node-id="{{nodeId}}"
                                                formula-id="tacticPopover.formulaId()"
                                                tactic="tactic" axiom-readonly="false"
                                                on-tactic="onTactic(tacticPopover.formulaId(), tacticId)"
                                                on-input-tactic="onInputTactic(tacticPopover.formulaId(), tacticId, input)"></k4-tactic-info>
                            </div>
                        </uib-tab>
                        <uib-tab index="2" select="browseLemmas()">
                            <uib-tab-heading><span class="fa fa-spinner fa-spin" ng-if="lemmasLoading"></span> Lemmas</uib-tab-heading>
                            <div class="row">
                                <div class="col-md-12">
                                    <div ng-repeat="lemma in derivationInfos.lemmas | filter: derivationInfos.filter | orderBy: derivationInfos.order"
                                         class="k4-tactic-popover-entry">
                                        <div class="well well-compact">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="input-group">
                                                        <label class="btn btn-link input-group-addon" ng-click="useLemma(tacticPopover.formulaId(), lemma)">{{lemma.name}}</label>
                                                        <label class="input-group-addon">Apply:</label>
                                                        <a class="btn btn-secondary input-group-addon" type="button" ng-model="lemma.useLemmaTac" uib-btn-radio="'nil'">verbatim</a>
                                                        <a class="btn btn-secondary input-group-addon" type="button" ng-model="lemma.useLemmaTac" uib-btn-radio="'prop'"><kbd>prop</kbd></a>
                                                        <a class="btn btn-secondary input-group-addon" type="button" ng-model="lemma.useLemmaTac" uib-btn-radio="'master'"><kbd>auto</kbd></a>
                                                        <a class="btn btn-secondary input-group-addon" type="button" ng-model="lemma.useLemmaTac" uib-btn-radio="'custom'">
                                                            <i ng-class="{'fa': true, 'fa-circle-o': !lemma.useLemmaTac !== 'custom', 'fa-dot-circle-o': lemma.useLemmaTac == 'custom'}"></i>
                                                        </a>
                                                        <input type="text" class="form-control" ng-model="lemma.customTac" placeholder="Optional tactic to adapt lemma shape">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <pre>{{lemma.conclusion}}</pre>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </uib-tab>
                    </uib-tabset>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-if="formulaAxiomsMap[tacticPopover.formulaId()] === undefined || formulaAxiomsMap[tacticPopover.formulaId()] === null || formulaAxiomsMap[tacticPopover.formulaId()].length == 0">
    <span class="fa fa-exclamation-triangle"> Sorry, no tactics applicable here. Try working on formulas from outside in, starting from the left.</span>
</div>
