<!-- Despite the name: axioms and tactics -->
<script type="text/ng-template" id="templates/tacticPopoverEntry.html">
    <div>
    <div class="well well-compact" ng-if="tactic.selectedDerivation().derivation.type === 'axiom'">
        <div class="row">
            <div class="col-md-3 k4-abbreviate" uib-tooltip-template="'nameAndCodeName.html'" tooltip-placement="top"
                 tooltip-popup-delay="1000">
                <a class="btn btn-link" ng-click="applyTactic(tacticPopover.formulaId(), tactic.selectedDerivation().id)">
                    <b ng-include="'nameAndCodeName.html'"></b>
                </a>
            </div>
            <div class="col-md-9"><span ng-bind-html="tactic.selectedDerivation().derivation.formula"></span></div>
        </div>
    </div>
    <div class="well well-compact" ng-if="tactic.selectedDerivation().derivation.type === 'tactic'">
        <div class="row">
            <div class="col-md-3 k4-abbreviate" uib-tooltip-template="'nameAndCodeName.html'" tooltip-placement="top"
                 tooltip-popup-delay="1000">
                <a class="btn btn-link" ng-click="applyTactic(tacticPopover.formulaId(), tactic.selectedDerivation().id)">
                    <b ng-include="'nameAndCodeName.html'"></b>
                </a>
            </div>
            <div class="col-md-9"><span ng-bind-html="tactic.selectedDerivation().derivation.formula"></span></div>
        </div>
    </div>
    <div class="panel panel-default panel-sm" ng-if="tactic.selectedDerivation().derivation.type === 'sequentrule'">
        <div class="panel-heading panel-heading-compact">
            <a ng-if="tactic.selectedDerivation().derivation.input.length === 0"
               ng-class="{'disabled' : tacticForm.$invalid, 'btn': true, 'btn-link': true}"
               ng-click="applyTactic(tacticPopover.formulaId(), tactic.selectedDerivation().id)"><b ng-include="'nameAndCodeName.html'"></b></a>
            <!-- Rule link: execute if form is valid, otherwise open details -->
            <a ng-if="tactic.selectedDerivation().derivation.input.length > 0 && tactic.selectedDerivation().missingInputNames().length <= 0"
               class="btn btn-link"
               ng-click="applyInputTactic(tacticPopover.formulaId(), tactic.selectedDerivation())"><b ng-include="'nameAndCodeName.html'"></b></a>
            <a ng-if="tactic.isOpen && tactic.selectedDerivation().derivation.input.length > 0 && tactic.selectedDerivation().missingInputNames().length > 0"
               class="btn btn-link"
               ng-click="tactic.selectedDerivation().showMissingInputError = true"><b ng-include="'nameAndCodeName.html'"></b></a>
            <a ng-if="!tactic.isOpen && tactic.selectedDerivation().derivation.input.length > 0 && tactic.selectedDerivation().missingInputNames().length > 0"
               class="btn btn-link"
               ng-click="tactic.isOpen = !tactic.isOpen"><b ng-include="'nameAndCodeName.html'"></b><b> ...</b></a>
            <span class="text-danger" ng-if="tactic.selectedDerivation().showMissingInputError && tactic.selectedDerivation().missingInputNames().length > 0">Please enter {{tactic.selectedDerivation().missingInputNames().join(', ')}} and confirm each input with <kbd>Enter</kbd></span>

            <div class="pull-right">
                <span ng-if="tactic.selectedDerivation().derivation.help"
                      uib-popover-html="tactic.selectedDerivation().derivation.help"
                      popover-trigger="'outsideClick'"><i class="fa fa-question-circle"></i></span>
                <span ng-if="tactic.comfortDerivation !== undefined" ng-click="tactic.reduceBranching = !tactic.reduceBranching">Reduce branching <i ng-class="{'fa fa-toggle-off': !tactic.reduceBranching, 'fa fa-toggle-on': tactic.reduceBranching}"></i></span>
                <span ng-click="tactic.isOpen = !tactic.isOpen"><i class="fa fa-bars"></i></span>
            </div>
        </div>
        <div class="panel-body" uib-collapse="!tactic.isOpen">
            <div class="col-md-12" ng-repeat="tactic in [tactic.selectedDerivation()]" ng-include="'templates/sequentRuleTemplate.html'"></div>
        </div>
    </div>
    </div>
</script>

<script type="text/ng-template" id="templates/lemmaDropdownTemplate.html">
    <a>
    <div>
        <b><span ng-bind-html="match.model.name | uibTypeaheadHighlight:query"></span></b>
    </div>
        <small>
            <kbd>{{match.model.codeName}}</kbd>
            <span ng-if="match.model.displayInfo"> Concludes: <span ng-bind-html="match.model.displayInfo"></span></span>
        </small>
    </a>
</script>

<div class="row">
    <div class="col-md-12">
        <a class="pull-right" ng-click="tacticPopover.close()"><span class="fa fa-close"></span>
        </a>
    </div>
</div>
<div class="row">
    <!-- padding around content -->
    <div class="col-md-12">
        <div ng-repeat="tactic in formulaAxiomsMap[tacticPopover.formulaId()]" class="k4-tactic-popover-entry">
            <div ng-include="'templates/tacticPopoverEntry.html'"></div>
        </div>
        <div class="k4-tactic-popover-entry">
            <div class="input-group">
                <span class="input-group-addon">Search</span>
                <input type="text" ng-model="lemma.selectedName" placeholder="Search for lemmas"
                       uib-typeahead="lemmaInfo.name for lemmaInfo in lemma.allInfos(tacticPopover.formulaId(), $viewValue)"
                       typeahead-template-url="templates/lemmaDropdownTemplate.html"
                       typeahead-show-hint="true" typeahead-min-length="0"
                       typeahead-on-select="lemma.select($item, $model, $label, $event)"
                       typeahead-loading="lemma.loading" typeahead-no-results="lemma.noResults"
                       class="form-control">
                <i class="input-group-addon" ng-if="lemma.loading" class="fa fa-refresh"></i>
                <div class="input-group-addon" ng-if="lemma.noResults"><i class="fa fa-remove"></i> No Lemmas Found</div>
                <div class="input-group-addon" ng-if="lemma.selected && lemma.selected.displayInfoParts"
                     uib-tooltip="Unification with boldface lemma sub-formula. Click sub-formulas to change."
                     tooltip-placement="auto top">
                    <span ng-bind-html="{{lemma.selected.displayInfoParts.cond"></span>
                    <span ng-if="lemma.selected.displayInfoParts.cond">&rarr;</span>
                    <span ng-class="{'k4-axiom-key': lemma.keyEnd()=='0'}"
                          ng-click="lemma.changeKeyEnd(0)"><span ng-bind-html="lemma.selected.displayInfoParts.key"></span></span>
                    <span ng-bind-html="lemma.selected.displayInfoParts.op"></span>
                    <span ng-class="{'k4-axiom-key': lemma.keyEnd()=='1'}"
                          ng-click="lemma.changeKeyEnd(1)"><span ng-bind-html="lemma.selected.displayInfoParts.conclusion"></span></span>
                </div>
                <a class="input-group-addon btn btn-default" ng-disabled="!lemma.selected"
                   ng-click="lemma.apply(tacticPopover.formulaId())"><b>Apply Lemma</b></a>
            </div>
        </div>
        <!-- TODO: link to switch to a modal dialog for expert mode: display an exhaustive list of axioms etc. there -->
    </div>
</div>
<div ng-if="formulaAxiomsMap[tacticPopover.formulaId()] === undefined || formulaAxiomsMap[tacticPopover.formulaId()] === null || formulaAxiomsMap[tacticPopover.formulaId()].length == 0">
    <span class="fa fa-exclamation-triangle"> Sorry, no tactics applicable here. Try working on formulas from outside in, starting from the left.</span>
</div>
<script type="text/ng-template" id="nameAndCodeName.html">
    <span><span ng-bind-html="tactic.selectedDerivation().name"></span> <code>{{tactic.selectedDerivation().codeName}}</code></span>
</script>
