<div class="modal-header">
    <h3 class="modal-title">
        <span>Counterexample Search</span>
        <span class="pull-right"><button class="btn btn-primary" ng-click="cancel()">Ok</button></span>
    </h3>

</div>
<div ng-if="result === 'cex.found'" class="modal-body">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title"><i class="fa fa-exclamation-circle"></i> Formula not valid, found a counterexample</h4>
        </div>
        <div class="panel-body">
            <p>
            <span ng-bind-html="cexFormula"></span>
            </p>
            <p class="input-group">
            <span class="input-group-addon">What if</span>
            <input type="text" class="form-control" ng-model="assumptions.additional"
                   name="assumptions" id="assumptions" placeholder="additional assumptions"/>
            <a class="input-group-btn btn btn-default" ng-click="counterexample()">Recalculate</a>
            </p>
        </div>
    </div>

    <div class="panel panel-default" ng-if="cexValues.length > 0">
        <div class="panel-heading">
            <h4 class="panel-title">Counterexample values</h4>
        </div>
        <div class="panel-body">
            <dl class="dl-horizontal">
                <dt ng-repeat-start="cex in cexValues">{{cex.symbol}}</dt>
                <dd ng-repeat-end>{{cex.value}}</dd>
            </dl>
        </div>
    </div>

    <div class="panel panel-default" ng-if="speculatedValues.length > 0">
        <div class="panel-heading">
            <h4 class="panel-title">Speculated values for quantified variables</h4>
        </div>
        <div class="panel-body">
            <dl class="dl-horizontal">
                <dt ng-repeat-start="cex in speculatedValues">{{cex.symbol}}</dt>
                <dd ng-repeat-end>{{cex.value}}</dd>
            </dl>
        </div>
    </div>
</div>
<div ng-if="result === 'cex.none'" class="modal-body">
    <p ng-if="assumptions.additional">
        No counterexample found with the additional assumptions below:
        <p><code><span ng-bind-html="assumptions.additional"></span></code></p>
        Try to make these additional assumptions available by transforming the proof around or by adapting the model.
    </p>
    <p ng-if="!assumptions.additional">
        No counterexample found. Try proving it to see if it is valid.
        Some arithmetic simplifications may help reduce the complexity.
    </p>
    <p>
        If the formula cannot be proved (<code>&#8866; false</code>)
        and no counterexample can be found, then
        sanity check it, e.g., whether you could have divided by zero.
    </p>
</div>
<div ng-if="result === 'cex.timeout'" class="modal-body">
    No counterexample found before search timeout expired.
</div>
<div ng-if="result === 'cex.nonfo'" class="modal-body">
    <p>
    No counterexample found, but the conjecture still contains box modalities <code>[a]p</code> or diamond modalities
        <code>&lt;a&gt;p</code>, which make counterexample search less effective.
    </p>
    <p>
    Please use more proof steps on formula
    </p>
    <p class="text-center"><code>{{origFormula}}</code></p>
    <p> to handle program modalities, until only arithmetic formulas remain and then try again.
    </p>
</div>
<div ng-if="result === 'cex.notool'" class="modal-body">
    <p>
        The current backend tool does not support counterexample search.
    </p>
    <p>
        Please go to <mark>KeYmaera&#160;X &rarr; Preferences</mark> and configure Mathematica as backend tool.
    </p>
</div>
<div ng-if="result === 'cex.wrongshape'" class="modal-body">
    <p>
    Sequent shape is not supported yet. Please undo automated proof steps and use manual steps until all assumptions are
        on the left-hand side of the turnstile <code>&#8866;</code> and only a single box modality <code>[a]p</code>
        appears on the right-hand side.
    </p>
</div>
<div ng-if="result === 'cex.emptysequent'" class="modal-body">
    <p>
        Unable to search for counterexamples when all formulas are (temporarily) hidden. Please select at least one
        formula to use for counterexample search.
    </p>
</div>
