<div class="modal-header">
    <h3 class="modal-title">Counter-example search result</h3>
</div>
<div ng-if="result === 'cex.found'" class="modal-body">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">Formula</h4>
        </div>
        <div class="panel-body">{{origFormula}}</div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title"><i class="fa fa-exclamation-circle"></i> Formula not valid, found a counter-example</h4>
        </div>
        <div class="panel-body">{{cexFormula}}</div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">Counter-example values</h4>
        </div>
        <div class="panel-body">
            <dl class="dl-horizontal">
                <dt ng-repeat-start="cex in cexValues">{{cex.symbol}}</dt>
                <dd ng-repeat-end>{{cex.value}}</dd>
            </dl>
        </div>
    </div>
</div>
<div ng-if="result === 'cex.none'" class="modal-body">
    <p>
    No counter-example found. Try proving it to see if it is valid.
    Some arithmetic simplifications may help reduce the complexity.
    </p>
    <p>
        If the formula cannot be proved (<code>&#8866; false</code>)
        and no counter-example can be found, then
        sanity check it, e.g., whether you could have divided by zero.
    </p>
</div>
<div ng-if="result === 'cex.timeout'" class="modal-body">
    Sorry, no counter-example found before search timeout expired.
</div>
<div ng-if="result === 'cex.nonfo'" class="modal-body">
    <p>
    Sorry, cannot search for counter-examples in modalities.
    </p>
    <p>
    Please use more proof steps to remove modalities,
    until only first-order formulas remain and then try again.
    </p>
</div>
<div ng-if="result === 'cex.notool'" class="modal-body">
    <p>
        Sorry, the current backend tool does not support counter-example search.
    </p>
    <p>
        Please go to <mark>Help &rarr; Backend Tool Configuration</mark> and configure Mathematica as backend tool.
    </p>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="cancel()">Ok</button>
</div>
