<form name="tacticForm" class="form-inline" novalidate>
<div class="modal-header">
    <h3 class="modal-title">Proof Step {{tactic.selectedDerivation().name}}</h3>
    <span class="text-danger" ng-show="!readOnly && tacticForm.$invalid">Tactic requires input</span>
</div>
<div class="modal-body">
    <!-- padding around content -->
    <div class="container row">
        <div class="col-md-12">
            <div class="k4-tactic-popover-entry" ng-repeat="tactic in [tactic.selectedDerivation()]">
                <div ng-if="tactic.derivation.type === 'axiom'">
                    <div ng-bind-html="tactic.derivation.formula"></div>
                </div>
                <div ng-if="tactic.derivation.type === 'tactic'">
                    <div ng-bind-html="tactic.derivation.formula"></div>
                </div>

                <div ng-if="tactic.derivation.type === 'sequentrule'"
                     ng-include="'templates/sequentRuleTemplate.html'"></div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="cancel()">Close</button>
    <button ng-class="{'disabled' : tacticForm.$invalid, 'btn': true, 'btn-primary': true}"
            ng-if="!readOnly"
            ng-click="applyInputTactic(tactic.selectedDerivation().derivation.input)">{{tactic.selectedDerivation().name}}</button>
</div>
</form>