<div class="row">
    <div class="col-md-6 k4-screenheight-40 panel panel-default">
        <div ui-ace="{theme:'github',mode:'bellerophon',showGutter:true,onChange:aceChanged}"
             ng-model="code" id="automatoneditor"></div>
    </div>
    <div class="col-md-6 k4-screenheight-40 panel panel-default">
        <div class="row">
            <div class="col-md-12 well well-compact">
                <span class="pull-right">
                    Top-Down <span class="fa" ng-class="{'fa-toggle-on':layout=='TD','fa-toggle-off':layout!='TD'}"
                                   ng-click="toggleLayout()"></span>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="automatonview"></div>
            </div>
        </div>
    </div>
</div>