<form>
    <label for="keyFile">Load</label>
    <div class="fileinput fileinput-new" data-provides="fileinput">
        <div class="input-group">
            <div class="form-control" data-trigger="fileinput">
                <i class="glyphicon glyphicon-file fileinput-exists"></i>
                <span class="fileinput-filename"></span>
            </div>
            <span class="input-group-addon btn btn-default btn-file">
                            <span class="fileinput-new">Select file</span>
                            <span class="fileinput-exists">Change</span>
                            <input type="file" name="source" id="keyFile" class="form-control"/>
                        </span>
            <a class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
            <a class="input-group-addon btn btn-default fileinput-exists"
               ng-if="fileExt=='.kya'" ng-click="readFile()" ng-cloak>Import</a>
        </div>
        <div class="fileinput-exists" ng-if="fileExt=='.kyx'" ng-cloak>
            <label for="modelNameInput">Model name</label>
            <div class="input-group">
                <input type="text" ng-model="name" class="form-control" name="modelNameInput"
                       id="modelNameInput" placeholder="Model Name"/>
                <a ng-class="{'input-group-addon':true, 'btn':true, 'btn-default':true, 'disabled':!name}"
                   ng-if="fileExt=='.kyx'" ng-click="readFile()" ng-cloak>Import</a>
            </div>
        </div>
    </div>
</form>