<div class="modal-header">
    <h3 class="modal-title">Login</h3>
</div>
<form role="form" ng-submit="processLogin()">
    <div class="modal-body">

        <div class="form-group">
            <input type="text" placeholder="Email" id="username" ng-model="username" class="form-control"
                   tabindex="1" required autofocus>
        </div>
        <div class="form-group">
            <input type="password" placeholder="Password" id="password" ng-model="password" class="form-control"
                   tabindex="2" required>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-success">Sign in</button>
        <button type="button" class="btn btn-info" ng-click="close()">Cancel</button>
    </div>
</form>
