<div class="modal-header">
    <h3 class="modal-title" ng-if="tactic.parent !== ''">Steps of {{tactic.parent}}</h3>
    <!-- Assumption: will get here only when we open progress for failed tactic -->
    <h3 class="modal-title" ng-if="tactic.parent === ''">Progress until tactic failed</h3>
</div>
<div class="modal-body">
    <!-- TODO: sequent deduction view -->
    <uib-tabset justified="true" active="agenda.selectedTab">
        <uib-tab ng-repeat="task in agenda.items() track by task.id" index="task.id"
                 deselect="agenda.deselect(task)" select="agenda.select(task)">
            <uib-tab-heading>
                <div class="row" >
                    <div class="col-md-11">
                        <span class="fa fa-tasks"></span>
                        <span>{{task.name}} {{task.id}}</span>
                    </div>
                    <div class="col-md-1" cg-busy="defer" ng-if="defer"></div>
                </div>
            </uib-tab-heading>

            <!-- ng-if: prevent compiling invisible (other) tabs, but recompiles every time tab is selected -->
            <div class="container" id="provingsequentview">
                <k4-sequentproof user-id="proofInfo.userId"
                                 proof-id="proofInfo.detailsProofId"
                                 node-id="task.id"
                                 deduction-path="task.deduction"
                                 proof-tree="proofTree"
                                 agenda="agenda"
                                 read-only="true"
                                 on-tactic=""
                                 on-input-tactic=""
                                 on-two-position-tactic=""
                                 ng-if="task.isSelected"></k4-sequentproof>
            </div>
        </uib-tab>
    </uib-tabset>

    <!-- vertical gap between sequent and tactic editor to provide space for collapse/expand buttons -->
    <div style="margin-top:20px;"></div>

    <div class="well well-sm">
        <div class="k4-tacticeditor">{{tactic.stepsTactic}}</div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary pull-right" ng-click="close()">Close</button>
</div>
