<div class="modal-header" >
    <h3 class="modal-title">
        <span>{{title}}</span>
        <span class="pull-right" ng-if="mode == 'ok'">
            <button type="submit" class="btn btn-primary" ng-click="ok()" autofocus>OK</button>
        </span>
        <span class="pull-right" ng-if="mode == 'okcancel'">
            <button type="submit" class="btn btn-primary" ng-click="ok()" autofocus>OK</button>
            <button type="submit" class="btn btn-default" ng-click="cancel()">Cancel</button>
        </span>
        <span class="pull-right" ng-if="mode == 'yesno'">
            <button type="submit" class="btn btn-primary" ng-click="ok()" autofocus>Yes</button>
            <button type="submit" class="btn btn-default" ng-click="cancel()">No</button>
        </span>
        <span class="pull-right" ng-if="mode == 'yesnocancel'">
            <button type="submit" class="btn btn-primary" ng-click="ok()" autofocus>Yes</button>
            <button type="submit" class="btn btn-default" ng-click="no()" autofocus>No</button>
            <button type="submit" class="btn btn-default" ng-click="cancel()">Cancel</button>
        </span>
    </h3>
</div>
<div class="modal-body">
    {{message}}
</div>
