<div class="modal-header">
    <div class="row">
        <div class="col-md-12">
            <h3 class="modal-title">
            <span>ModelPlex</span>
            <span class="pull-right">
                <a ng-click="cancel()"><span class="fa fa-close"></span></a>
            </span>
            </h3>
        </div>
    </div>
</div>
<div class="modal-body">
    <div class="row k4-vertical-fill">
        <div class="col-md-2">
            <uib-accordion>
                <div uib-accordion-group class="panel-default" heading="Monitors"
                     uib-tooltip="Monitors check for deviation between model and reality"
                     is-open="true">
                    <a class="btn btn-link" ng-click="open('monitor/controller')">
                        <i class="fa fa-angle-double-right" ng-if="mxdata.artifact=='monitor/controller'">&nbsp;</i>Controller Monitor
                    </a>
<!--                    <div>Model Monitor</div>-->
<!--                    <div>Plant Monitor</div>-->
<!--                    <div>Prediction Monitor</div>-->
                </div>
            </uib-accordion>
            <uib-accordion>
                <div uib-accordion-group class="panel-default" heading="Controllers"
                     uib-tooltip="Controllers implement the modeled control algorithm">
                    <a class="btn btn-link" ng-click="open('controller/nondet')">
                        <i class="fa fa-angle-double-right" ng-if="mxdata.artifact=='controller/nondet'">&nbsp;</i>Non-deterministic Controller
                    </a>
                </div>
            </uib-accordion>
            <uib-accordion>
                <div uib-accordion-group class="panel-default" heading="Sandboxes"
                     uib-tooltip="Sandboxes use the decisions of an unverified controller (if they agree with the model),
                     and otherwise uses the decisions of a fallback controller">
                    <a class="btn btn-link" ng-click="open('sandbox/controller')">
                        <i class="fa fa-angle-double-right" ng-if="mxdata.artifact=='sandbox/controller'">&nbsp;</i>Controller Sandbox
                    </a>
<!--                    <div ng-click="synthesize('sandbox/veriphy')">VeriPhy Sandbox</div>-->
                </div>
            </uib-accordion>
        </div>
        <div class="col-md-10">
            <div ng-if="mxdata.artifact.startsWith('monitor')" ng-include="'templates/modelplex/monitor.html'" class="k4-vertical-fill"></div>
            <div ng-if="mxdata.artifact.startsWith('controller')" ng-include="'templates/modelplex/controller.html'" class="k4-vertical-fill"></div>
            <div ng-if="mxdata.artifact.startsWith('sandbox')" ng-include="'templates/modelplex/sandbox.html'" class="k4-vertical-fill"></div>
        </div>
    </div>
</div>
