<div class="modal-body">
    <div class="row">
        <div class="col-md-12" id="modelupload"
             data-intro="Load new .kyx archive files here."
             data-position="bottom">
            <k4-file-upload on-file-changed="updateModelContentFromFile(fileName, fileContent)"></k4-file-upload>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <label for="modelName">Model name</label>
            <div ng-class="{'input-group':true,
                            'has-success':(numKyxEntries(model.content)>0 || model.modelName) && model.content && model.content.length > 0 && model.content.indexOf('__________') < 0}">
                <input type="text" ng-model="model.modelName" class="form-control"
                       name="modelName" id="modelName" placeholder="Model Name"/>
                <a ng-class="{'btn':true, 'btn-default':true, 'input-group-addon':true,
                              'disabled':(numKyxEntries(model.content)<=0 && !model.modelName) || !model.content || model.content.length <= 0}"
                   ng-click="uploadContent(false)" ng-cloak>Save</a>
                <a ng-class="{'btn':true, 'btn-default':true, 'input-group-addon':true,
                              'disabled': (numKyxEntries(model.content)<=0 && !model.modelName) || !model.content || model.content.length <= 0 || model.content.indexOf('__________') >= 0 || numKyxTactics(model.content)>0}"
                   ng-click="uploadContent(true)" ng-cloak>Start Proof</a>
            </div>
        </div>
    </div>
    <div class="row k4-vertical-fill-flex">
        <div class="col-md-12 k4-vertical-fill k4-vertical-fill-flex">
            <div ui-ace="{theme:'github',mode:'dl',showGutter:true}" ng-model="model.content" id="editor"></div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="close()">Cancel</button>
</div>