<div class="modal-header" >
    <h3 class="modal-title">Error parsing model</h3>
</div>
<div class="modal-body">
    <div class="well">
        <p>At line {{location.line}}:{{location.column}}: {{message}}</p>
        <dl class="dl-horizontal">
            <dt>Expected</dt>
            <dd>{{details.expect}}</dd>
            <dt>Found</dt>
            <dd>{{details.found}}</dd>
            <dt>Details</dt>
            <dd>{{details.detailedMsg}}</dd>
        </dl>
    </div>
    <pre style="overflow: scroll; height=200px;">{{modelWithErrorMsg()}}</pre>
    <div>
        <a ng-click="stacktraceCollapsed=!stacktraceCollapsed">
            <i class="fa fa-caret-right" ng-if="stacktraceCollapsed"></i>
            <i class="fa fa-caret-down" ng-if="!stacktraceCollapsed"></i> Stacktrace
        </a>
        <div uib-collapse="stacktraceCollapsed">
            <div class="well well-lg">{{errorThrown}}</div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="dismiss()">OK</button>
</div>
