<div class="k4-sequentRule">
    <ul>
        <li>{{tactic.name}}</li>
    </ul>
    <div class="k4-sequentRulePremise">
        <div class="row">
        <div class="col-md-12">
            <div class="row" ng-if="tactic.derivation.premise.length === 0">
                <span class="col-md-4 k4-sequentRuleAnte"></span>
                <span class="col-md-1"><i class="fa fa-asterisk" style="font-size:0.5em"></i></span>
                <span class="col-md-7 k4-sequentRuleSucc"></span>
            </div>

            <div class="row">
                <div ng-repeat="premise in tactic.derivation.premise">
                    <div ng-class="{'col-sm-12': tactic.derivation.premise.length==1, 'col-sm-6': tactic.derivation.premise.length==2, 'col-sm-4': tactic.derivation.premise.length==3, 'col-sm-3': tactic.derivation.premise.length==4, 'col-sm-2': tactic.derivation.premise.length==5, 'col-sm-2': tactic.derivation.premise.length==6, 'col-sm-1': tactic.derivation.premise.length>=7}">
                        <div ng-class="{'small': premise.isClosed}">
                            <span class="k4-nobreak k4-sequentRuleAnte">
                                <span ng-if="premise.isClosed"><i class="fa fa-magic"></i>&nbsp;</span>
                                <span ng-repeat="ante in premise.ante">
                                    <span ng-repeat="antePart in ante">
                                        <span ng-bind-html="antePart.text" ng-if="!antePart.isInput"></span>
                                        <span ng-if="premise.isClosed && antePart.isInput && antePart.value() !== undefined">{{antePart.value()}}</span>
                                        <span ng-if="readOnly || (premise.isClosed && antePart.isInput && antePart.value() === undefined)">{{antePart.placeholder}}</span>
                                        <span ng-if="!readOnly && !premise.isClosed && antePart.isInput" class="popover-wrapper">
                                            <a href="#" id="{{antePart.text}}" class="k4-axiomtactic-input"
                                               e-name="{{antePart.text}}" e-placeholder="{{antePart.placeholder}}"
                                               e-uib-typeahead="inp.text as inp for inp in inputSuggestions"
                                               e-typeahead-min-length="0"
                                               e-typeahead-template-url="invariantTemplate.html"
                                               editable-text="antePart.value" onbeforesave="saveValue(antePart, $data)"
                                               e-required>{{antePart.placeholder}}</a>
                                            <span class="fa fa-cogs"
                                                  ng-if="!isLoading && tactic.derivation.inputGenerator && inputSuggestions.length <= 0"
                                                  uib-tooltip="Click to generate input suggestions"
                                                  ng-click="generateInputs($event)"></span>
                                            <span ng-if="isLoading" class="fa fa-spin fa-spinner"></span>
                                            <span ng-if="!isLoading && inputSuggestions.length > 0"
                                                  uib-tooltip="Click {{antePart.text}} to see suggestions"
                                                  class="fa fa-info-circle"></span>
                                        </span>
                                    </span>
                                    {{$last ? '' : ','}}
                                </span>
                            </span>
                            <span>&#8866;</span>
                            <span class="k4-nobreak k4-sequentRuleSucc">
                                <span ng-repeat="succ in premise.succ">
                                    <span ng-repeat="succPart in succ">
                                        <span ng-bind-html="succPart.text" ng-if="!succPart.isInput"></span>
                                        <span ng-if="premise.isClosed && succPart.isInput && succPart.value() !== undefined">{{succPart.value()}}</span>
                                        <span ng-if="readOnly || (premise.isClosed && succPart.isInput && succPart.value() === undefined)">{{succPart.placeholder}}</span>
                                        <span ng-if="!readOnly && !premise.isClosed && succPart.isInput" class="popover-wrapper">
                                            <a href="#" id="{{succPart.text}}" class="k4-axiomtactic-input"
                                               e-name="{{succPart.text}}" e-placeholder="{{succPart.placeholder}}"
                                               e-uib-typeahead="inp.text as inp for inp in inputSuggestions"
                                               e-typeahead-min-length="0"
                                               e-typeahead-template-url="invariantTemplate.html"
                                               editable-text="succPart.value" onbeforesave="saveValue(succPart, $data)"
                                               e-required>{{succPart.placeholder}}</a>
                                            <span class="fa fa-cogs"
                                                  ng-if="!isLoading && tactic.derivation.inputGenerator && inputSuggestions.length <= 0"
                                                  uib-tooltip="Click to generate input suggestions"
                                                  ng-click="generateInputs($event)"></span>
                                            <span ng-if="isLoading" class="fa fa-spin fa-spinner"></span>
                                            <span ng-if="!isLoading && inputSuggestions.length > 0"
                                                  uib-tooltip="Click {{succPart.text}} to see suggestions"
                                                  class="fa fa-info-circle"></span>
                                        </span>
                                    </span>
                                    {{$last ? '' : ','}}
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    <div class="k4-sequentRuleConclusion">
        <div class="row">
        <div class="col-md-12">
            <span class="k4-nobreak k4-sequentRuleAnte">
                <span ng-repeat="ante in tactic.derivation.conclusion.ante">
                    <span ng-repeat="antePart in ante">
                        <span ng-bind-html="antePart.text" ng-if="!antePart.isInput"></span>
                        <span ng-if="readOnly">{{antePart.placeholder}}</span>
                        <span ng-if="!readOnly && antePart.isInput" class="popover-wrapper">
                            <a href="#" id="c{{antePart.text}}" class="k4-axiomtactic-input"
                              e-name="{{antePart.text}}" e-placeholder="{{antePart.placeholder}}"
                              editable-text="antePart.value" onbeforesave="saveValue(antePart, $data)"
                              e-required>{{antePart.placeholder}}</a>
                        </span>
                    </span>
                    {{$last ? '' : ','}}
                </span>
            </span>
            <span>&#8866;</span>
            <span class="k4-nobreak k4-sequentRuleSucc">
                <span ng-repeat="succ in tactic.derivation.conclusion.succ">
                    <span ng-repeat="succPart in succ">
                        <span ng-bind-html="succPart.text" ng-if="!succPart.isInput"></span>
                        <span ng-if="readOnly">{{succPart.placeholder}}</span>
                        <span ng-if="!readOnly && succPart.isInput" class="popover-wrapper">
                            <a href="#" id="c{{succPart.text}}" class="k4-axiomtactic-input"
                              e-name="{{succPart.text}}" e-placeholder="{{succPart.placeholder}}"
                              editable-text="succPart.value" onbeforesave="saveValue(succPart, $data)"
                              e-required>{{succPart.placeholder}}</a>
                        </span>
                    </span>
                    {{$last ? '' : ','}}
                </span>
            </span>
        </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="invariantTemplate.html">
    <a>
        <span ng-if="match.label">
            <span>{{match.label.text}}</span>
            &nbsp;<code class="pull-right">{{match.label.method | odeTactic}}</code>
        </span>
        <span ng-if="!match.label" ng-bind-html="uibTypeaheadHighlight:query"></span>
    </a>
</script>
