<div class="row k4-tactic-popover-entry">
    <!-- padding around content -->
    <div class="col-md-12">
        <div class="row" ng-if="tactic.selectedDerivation().derivation.type === 'axiom'">
            <div class="col-md-2">
                <a class="btn btn-link"
                   ng-click="onTactic(tactic.positionSuggestion, tactic.selectedDerivation().id)">
                    <b ng-bind-html="tactic.selectedDerivation().name"></b>
                </a>
            </div>
            <div class="col-md-10"
                 ng-bind-html="tactic.selectedDerivation().derivation.formula"></div>
        </div>
        <div class="row" ng-if="tactic.selectedDerivation().derivation.type === 'tactic'">
            <div class="col-md-2">
                <a class="btn btn-link"
                   ng-click="onTactic(tactic.positionSuggestion, tactic.selectedDerivation().id)">
                    <b ng-bind-html="tactic.selectedDerivation().name"></b>
                </a>
            </div>
            <div class="col-md-10"
                 ng-bind-html="tactic.selectedDerivation().derivation.formula"></div>
        </div>
        <div ng-if="tactic.selectedDerivation().derivation.type === 'sequentrule'"
             class="row">
            <div class="col-md-12">
                <div class="panel panel-default panel-sm">
                    <div class="panel-heading panel-heading-compact">
                        <a ng-if="tactic.selectedDerivation().derivation.input.length === 0"
                           class="btn btn-link"
                           ng-click="onTactic(tactic.positionSuggestion, tactic.selectedDerivation().id)">
                            <b ng-bind-html="tactic.selectedDerivation().name"></b>
                        </a>
                        <a ng-if="tactic.selectedDerivation().derivation.input.length > 0"
                           ng-class="{'disabled':tactic.selectedDerivation().missingInputNames().length > 0, 'btn':true, 'btn-link':true}"
                           ng-click="onInputTactic(tactic.positionSuggestion, tactic.selectedDerivation().id, tactic.selectedDerivation().derivation.input)">
                            <b ng-bind-html="tactic.selectedDerivation().name"></b>
                        </a>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-12"
                             ng-repeat="tactic in [tactic.selectedDerivation()]"
                             ng-include="'templates/sequentRuleTemplate.html'"></div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="tactic.selectedDerivation().derivation.help"
             class="row">
            <div class="col-md-12"
                 ng-bind-html="tactic.selectedDerivation().derivation.help"></div>
        </div>
    </div>
</div>