<script type="text/ng-template" id="templates/sequentRulePremise.html">
    <div ng-class="{'row': !premise.isClosed, 'row small': premise.isClosed}">
        <span class="col-md-4 k4-nobreak k4-sequentRuleAnte">
            <span ng-if="premise.isClosed"><i class="fa fa-magic"></i>&nbsp;</span>
            <span ng-repeat="ante in premise.ante">
                <span ng-repeat="antePart in ante">
                    <span ng-bind-html="antePart.text" ng-if="!antePart.isInput"></span>
                    <span ng-if="premise.isClosed && antePart.isInput && antePart.value() !== undefined">{{antePart.value()}}</span>
                    <span ng-if="readOnly || (premise.isClosed && antePart.isInput && antePart.value() === undefined)">{{antePart.placeholder}}</span>
                    <span id="{{antePart.text}}" e-name="{{antePart.text}}" e-placeholder="{{antePart.placeholder}}"
                          buttons="no"
                          style="display: inline-block; max-width: 100px; overflow: hidden; text-overflow: ellipsis; margin-bottom: -6px;"
                          ng-if="!readOnly && !premise.isClosed && antePart.isInput"
                          editable-text="antePart.value" onbeforesave="saveValue($data)"
                          e-required>{{antePart.value || antePart.placeholder}}</span>
                </span>
                {{$last ? '' : ','}}
            </span>
        </span>
        <span class="col-md-1">&#8866;</span>
        <span class="col-md-7 k4-nobreak k4-sequentRuleSucc">
            <span ng-repeat="succ in premise.succ">
                <span ng-repeat="succPart in succ">
                    <span ng-bind-html="succPart.text" ng-if="!succPart.isInput"></span>
                    <span ng-if="premise.isClosed && succPart.isInput && succPart.value() !== undefined">{{succPart.value()}}</span>
                    <span ng-if="readOnly || (premise.isClosed && succPart.isInput && succPart.value() === undefined)">{{succPart.placeholder}}</span>
                    <span id="{{succPart.text}}" e-name="{{succPart.text}}" e-placeholder="{{succPart.placeholder}}"
                          buttons="no"
                          style="display: inline-block; max-width: 100px; overflow: hidden; text-overflow: ellipsis; margin-bottom: -6px;"
                          ng-if="!readOnly && !premise.isClosed && succPart.isInput"
                          editable-text="succPart.value" onbeforesave="saveValue($data)"
                          e-required>{{succPart.value || succPart.placeholder}}</span>
                </span>
                {{$last ? '' : ','}}
            </span>
        </span>
    </div>
</script>

<div class="k4-sequentRule">
    <div class="row k4-sequentRulePremise">
        <div class="col-md-12">
            <div class="row" ng-if="tactic.derivation.premise.length === 0">
                <span class="col-md-4 k4-sequentRuleAnt"></span>
                <span class="col-md-1"><i class="fa fa-asterisk" style="font-size:0.5em"></i></span>
                <span class="col-md-7 k4-sequentRuleSucc"></span>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div ng-repeat="premise in tactic.derivation.premise" ng-include="'templates/sequentRulePremise.html'">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row k4-sequentRuleConclusion">
        <!--<div class="col-md-12 k4-nobreak">-->
            <div class="col-md-4 k4-nobreak k4-sequentRuleAnte">
                <span ng-repeat="ante in tactic.derivation.conclusion.ante"><span ng-bind-html="ante"></span>{{$last ? '' : ','}}</span>
            </div>
            <div class="col-md-1">&#8866;</div>
            <div class="col-md-7 k4-nobreak k4-sequentRuleSucc">
                <span class="k4-nobreak" ng-repeat="succ in tactic.derivation.conclusion.succ"><span ng-bind-html="succ"></span>{{$last ? '' : ','}}</span>
            </div>
        <!--</div>-->
    </div>
</div>
